<div class="container-fluid ar-pad-less">
    <div class="ar-page-head ar-pad-less" id="ar-report-head">
        <div class="row">
            <div class="col-md-12">
                <h1>Reports</h1>
            </div>
        </div>
    </div>
    <div class="full_wrap">

        <div class="container reportSection">
            <div class="row">
                <div class="data_table col-md-12 chart_style">

                    <h3>Number of observers and number of polling stations observed</h3>

                    <table id="example" class="table table-striped table-bordered" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Name of the city corporation</th>
                            <th>Number of long term observer</th>
                            <th>Number of short term observer</th>
                            <th>Number of polling stations observed opening</th>
                            <th>Number of polling stations
                                observed voting operations
                            </th>
                            <th>Percentage of polling stations
                                observed voting operations
                            </th>
                            <th>Number of polling stations
                                observed closing
                            </th>
                        </tr>
                        </thead>


                        <tbody>
                        <tr>
                            <td>Barisal</td>
                            <td>3</td>
                            <td>30</td>
                            <td>10</td>
                            <td>85</td>
                            <td>85%</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Gazipur</td>
                            <td>17</td>
                            <td>27</td>
                            <td>10</td>
                            <td>84</td>
                            <td>21.43%</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Khulna</td>
                            <td>3</td>
                            <td>30</td>
                            <td>10</td>
                            <td>84</td>
                            <td>29.17%</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Rajshahi</td>
                            <td>3</td>
                            <td>30</td>
                            <td>10</td>
                            <td>78</td>
                            <td>56.93%</td>
                            <td>10</td>
                        </tr>

                        <tr>
                            <td>Sylhet</td>
                            <td>3</td>
                            <td>30</td>
                            <td>10</td>
                            <td>85</td>
                            <td>66.93%</td>
                            <td>10</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <!--barchart-->


            <!--<div ng-init="barInit()" id="barchart_material" style="width: 900px; height: 500px;">-->


            <!--autogenerated start-->
            <div class="row">

            <div class="bar col-md-12 bar_style">

                <h3>Election Day Observation</h3>

                <div ng-init="barInit()" id="barchart_material" style="width: 900px; height: 500px; margin-left: 80px;">
                    <svg width="900" height="500">
                        <defs>
                            <filter x="-100%" y="-100%" width="300%" height="300%" id="rablshadow4">
                                <feGaussianBlur in="SourceAlpha" stdDeviation="2"></feGaussianBlur>
                                <feOffset dx="0" dy="0"></feOffset>
                                <feComponentTransfer>
                                    <feFuncA type="linear" slope="0"></feFuncA>
                                </feComponentTransfer>
                                <feMerge>
                                    <feMergeNode></feMergeNode>
                                    <feMergeNode in="SourceGraphic"></feMergeNode>
                                </feMerge>
                            </filter>
                            <filter x="-100%" y="-100%" width="300%" height="300%" id="rablshadow3">
                                <feGaussianBlur in="SourceAlpha" stdDeviation="2"></feGaussianBlur>
                                <feOffset dx="0" dy="0"></feOffset>
                                <feComponentTransfer>
                                    <feFuncA type="linear" slope="0.4"></feFuncA>
                                </feComponentTransfer>
                                <feMerge>
                                    <feMergeNode></feMergeNode>
                                    <feMergeNode in="SourceGraphic"></feMergeNode>
                                </feMerge>
                            </filter>
                            <filter x="-100%" y="-100%" width="300%" height="300%" id="rablshadow2">
                                <feGaussianBlur in="SourceAlpha" stdDeviation="1"></feGaussianBlur>
                                <feOffset dx="0" dy="2"></feOffset>
                                <feComponentTransfer>
                                    <feFuncA type="linear" slope="0.2"></feFuncA>
                                </feComponentTransfer>
                                <feMerge>
                                    <feMergeNode></feMergeNode>
                                    <feMergeNode in="SourceGraphic"></feMergeNode>
                                </feMerge>
                            </filter>
                            <filter x="-100%" y="-100%" width="300%" height="300%" id="rablshadow1">
                                <feGaussianBlur in="SourceAlpha" stdDeviation="2"></feGaussianBlur>
                                <feOffset dx="0" dy="1"></feOffset>
                                <feComponentTransfer>
                                    <feFuncA type="linear" slope="0.4"></feFuncA>
                                </feComponentTransfer>
                                <feMerge>
                                    <feMergeNode></feMergeNode>
                                    <feMergeNode in="SourceGraphic"></feMergeNode>
                                </feMerge>
                            </filter>
                            <filter x="-100%" y="-100%" width="300%" height="300%" id="rablshadow0">
                                <feGaussianBlur in="SourceAlpha" stdDeviation="0"></feGaussianBlur>
                                <feOffset dx="0" dy="1"></feOffset>
                                <feComponentTransfer>
                                    <feFuncA type="linear" slope="0.4"></feFuncA>
                                </feComponentTransfer>
                                <feMerge>
                                    <feMergeNode></feMergeNode>
                                    <feMergeNode in="SourceGraphic"></feMergeNode>
                                </feMerge>
                            </filter>
                            <clipPath id="rablclip0">
                                <rect x="20.5" y="58.5" width="667" height="423"></rect>
                            </clipPath>
                        </defs>
                        <g>
                            <rect x="0" y="0" width="900" height="500" fill="white" stroke="black"
                                  stroke-width="0"></rect>
                            <text rabl-use-parent="true" x="0" y="12"
                                  style="cursor: default; -webkit-user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto2; font-size: 16px;"
                                  fill="#757575" dx="0px">ELECTION DAY OBSERVATION
                            </text>
                            <rect x="728.609375" y="58.5" width="12" height="12" rx="2" ry="2" fill="#4285F4"></rect>
                            <text rabl-use-parent="true" x="748.609375" y="70.5"
                                  style="cursor: default; -webkit-user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto2;"
                                  fill="#757575" dx="0px">Campaign mat erials
                            </text>
                            <rect x="728.609375" y="90.5" width="12" height="12" rx="2" ry="2" fill="#DB4437"></rect>
                            <text rabl-use-parent="true" x="748.609375" y="102.5"
                                  style="cursor: default; -webkit-user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto2;"
                                  fill="#757575" dx="0px">Campaigning
                            </text>
                            <rect x="20.5" y="58.5" width="667" height="423" fill="none"></rect>
                        </g>
                        <g>
                            <line x1="20.5" x2="687.5" y1="481.5" y2="481.5" stroke="#9E9E9E" stroke-width="1"></line>
                            <line x1="20.5" x2="687.5" y1="411" y2="411" stroke="#E0E0E0" stroke-width="1"></line>
                            <line x1="20.5" x2="687.5" y1="340.5" y2="340.5" stroke="#E0E0E0" stroke-width="1"></line>
                            <line x1="20.5" x2="687.5" y1="270" y2="270" stroke="#E0E0E0" stroke-width="1"></line>
                            <line x1="20.5" x2="687.5" y1="199.5" y2="199.5" stroke="#E0E0E0" stroke-width="1"></line>
                            <line x1="20.5" x2="687.5" y1="129" y2="129" stroke="#E0E0E0" stroke-width="1"></line>
                            <line x1="20.5" x2="687.5" y1="58.5" y2="58.5" stroke="#E0E0E0" stroke-width="1"></line>
                        </g>
                        <g>
                            <path d="M 74.94086021505376 143.60000000000002 A 2 2 0 0 1 76.94086021505376 145.60000000000002 L 76.94086021505376 481 A 0 0 0 0 1 76.94086021505376 481 L 33 481 A 0 0 0 0 1 33 481 L 33 145.60000000000002 A 2 2 0 0 1 35 143.60000000000002 Z"
                                  fill="#4285F4" clip-path="url(#rablclip0)"></path>
                            <path d="M 119.8817204301075 157.7 A 2 2 0 0 1 121.8817204301075 159.7 L 121.8817204301075 481 A 0 0 0 0 1 121.8817204301075 481 L 77.94086021505376 481 A 0 0 0 0 1 77.94086021505376 481 L 77.94086021505376 159.7 A 2 2 0 0 1 79.94086021505376 157.7 Z"
                                  fill="#DB4437" clip-path="url(#rablclip0)"></path>
                            <path d="M 213.22043010752685 87.19999999999999 A 2 2 0 0 1 215.22043010752685 89.19999999999999 L 215.22043010752685 481 A 0 0 0 0 1 215.22043010752685 481 L 171.2795698924731 481 A 0 0 0 0 1 171.2795698924731 481 L 171.2795698924731 89.19999999999999 A 2 2 0 0 1 173.2795698924731 87.19999999999999 Z"
                                  fill="#4285F4" clip-path="url(#rablclip0)"></path>
                            <path d="M 258.1612903225806 214.10000000000002 A 2 2 0 0 1 260.1612903225806 216.10000000000002 L 260.1612903225806 481 A 0 0 0 0 1 260.1612903225806 481 L 216.22043010752685 481 A 0 0 0 0 1 216.22043010752685 481 L 216.22043010752685 216.10000000000002 A 2 2 0 0 1 218.22043010752685 214.10000000000002 Z"
                                  fill="#DB4437" clip-path="url(#rablclip0)"></path>
                            <path d="M 351.5 228.20000000000002 A 2 2 0 0 1 353.5 230.20000000000002 L 353.5 481 A 0 0 0 0 1 353.5 481 L 309.5591397849462 481 A 0 0 0 0 1 309.5591397849462 481 L 309.5591397849462 230.20000000000002 A 2 2 0 0 1 311.5591397849462 228.20000000000002 Z"
                                  fill="#4285F4" clip-path="url(#rablclip0)"></path>
                            <path d="M 396.4408602150538 284.6 A 2 2 0 0 1 398.4408602150538 286.6 L 398.4408602150538 481 A 0 0 0 0 1 398.4408602150538 481 L 354.5 481 A 0 0 0 0 1 354.5 481 L 354.5 286.6 A 2 2 0 0 1 356.5 284.6 Z"
                                  fill="#DB4437" clip-path="url(#rablclip0)"></path>
                            <path d="M 489.77956989247315 397.40000000000003 A 2 2 0 0 1 491.77956989247315 399.40000000000003 L 491.77956989247315 481 A 0 0 0 0 1 491.77956989247315 481 L 447.83870967741933 481 A 0 0 0 0 1 447.83870967741933 481 L 447.83870967741933 399.40000000000003 A 2 2 0 0 1 449.83870967741933 397.40000000000003 Z"
                                  fill="#4285F4" clip-path="url(#rablclip0)"></path>
                            <path d="M 534.7204301075269 369.2 A 2 2 0 0 1 536.7204301075269 371.2 L 536.7204301075269 481 A 0 0 0 0 1 536.7204301075269 481 L 492.77956989247315 481 A 0 0 0 0 1 492.77956989247315 481 L 492.77956989247315 371.2 A 2 2 0 0 1 494.77956989247315 369.2 Z"
                                  fill="#DB4437" clip-path="url(#rablclip0)"></path>
                            <path d="M 628.0591397849462 200 A 2 2 0 0 1 630.0591397849462 202 L 630.0591397849462 481 A 0 0 0 0 1 630.0591397849462 481 L 586.1182795698924 481 A 0 0 0 0 1 586.1182795698924 481 L 586.1182795698924 202 A 2 2 0 0 1 588.1182795698924 200 Z"
                                  fill="#4285F4" clip-path="url(#rablclip0)"></path>
                            <path d="M 673 312.79999999999995 A 2 2 0 0 1 675 314.79999999999995 L 675 481 A 0 0 0 0 1 675 481 L 631.0591397849462 481 A 0 0 0 0 1 631.0591397849462 481 L 631.0591397849462 314.79999999999995 A 2 2 0 0 1 633.0591397849462 312.79999999999995 Z"
                                  fill="#DB4437" clip-path="url(#rablclip0)"></path>
                        </g>
                        <g></g>
                        <g>
                            <text rabl-use-parent="true" x="77.44086021505376" y="496.5"
                                  style="cursor: default; -webkit-user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto2; font-size: 12px;"
                                  fill="#757575" dx="-18.8466796875px">Barisal
                            </text>
                            <text rabl-use-parent="true" x="215.72043010752685" y="496.5"
                                  style="cursor: default; -webkit-user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto2; font-size: 12px;"
                                  fill="#757575" dx="-21.0966796875px">Gazipur
                            </text>
                            <text rabl-use-parent="true" x="354" y="496.5"
                                  style="cursor: default; -webkit-user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto2; font-size: 12px;"
                                  fill="#757575" dx="-18.9580078125px">Khulna
                            </text>
                            <text rabl-use-parent="true" x="492.27956989247315" y="496.5"
                                  style="cursor: default; -webkit-user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto2; font-size: 12px;"
                                  fill="#757575" dx="-23.4990234375px">Rajshahi
                            </text>
                            <text rabl-use-parent="true" x="630.5591397849462" y="496.5"
                                  style="cursor: default; -webkit-user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto2; font-size: 12px;"
                                  fill="#757575" dx="-16.787109375px">Sylhet
                            </text>
                            <text rabl-use-parent="true" x="14.5" y="484.5"
                                  style="cursor: default; -webkit-user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto2; font-size: 12px;"
                                  fill="#757575" dx="-6.9375px">0
                            </text>
                            <text rabl-use-parent="true" x="14.5" y="414"
                                  style="cursor: default; -webkit-user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto2; font-size: 12px;"
                                  fill="#757575" dx="-6.9375px">5
                            </text>
                            <text rabl-use-parent="true" x="14.5" y="343.5"
                                  style="cursor: default; -webkit-user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto2; font-size: 12px;"
                                  fill="#757575" dx="-13.875px">10
                            </text>
                            <text rabl-use-parent="true" x="14.5" y="273"
                                  style="cursor: default; -webkit-user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto2; font-size: 12px;"
                                  fill="#757575" dx="-13.875px">15
                            </text>
                            <text rabl-use-parent="true" x="14.5" y="202.5"
                                  style="cursor: default; -webkit-user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto2; font-size: 12px;"
                                  fill="#757575" dx="-13.875px">20
                            </text>
                            <text rabl-use-parent="true" x="14.5" y="132"
                                  style="cursor: default; -webkit-user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto2; font-size: 12px;"
                                  fill="#757575" dx="-13.875px">25
                            </text>
                            <text rabl-use-parent="true" x="14.5" y="61.5"
                                  style="cursor: default; -webkit-user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto2; font-size: 12px;"
                                  fill="#757575" dx="-13.875px">30
                            </text>
                        </g>
                        <g></g>
                        <g></g>
                        <g></g>
                    </svg>
                </div>
            </div>
                </div>
            <!--autogenerated end-->
            <div class="row">
                <div class="pie col-md-12 pie_style">
                    <div id="pieChart" class="col-md-6">

                    </div>


                    <div id="pieChart2" class="col-md-6">

                    </div>
                </div>




            </div>
        </div>

        </div>


        <!--pie section-Start-->
        <!--<div class="container">-->


    <!--pie section-End-->
</div>


<!--<script type="text/javascript" src="https://www.google.com/jsapi"></script>-->
<script type="text/javascript">
    //    console.log("ok");
    //    google.load("visualization", "1", {packages:["bar"]});
    //    google.setOnLoadCallback(drawChart);
    //    function drawChart() {
    //        var data = google.visualization.arrayToDataTable([
    //            ['Year', 'Sales', 'Expenses', 'Profit'],
    //            ['2014', 1000, 400, 200],
    //            ['2015', 1170, 460, 250],
    //            ['2016', 660, 1120, 300],
    //            ['2017', 1030, 540, 350]
    //        ]);
    //
    //        var options = {
    //            chart: {
    //                title: 'Company Performance',
    //                subtitle: 'Sales, Expenses, and Profit: 2014-2017',
    //            },
    //            bars: 'horizontal' // Required for Material Bar Charts.
    //        };
    //
    //        var chart = new google.charts.Bar(document.getElementById('barchart_material'));
    //
    //        chart.draw(data, options);
    //    }
</script>


<script>
    var pie = new d3pie("pieChart", {
        "header": {
            "title": {
                "text": "Pie Chart 1",
                "fontSize": 24,
                "font": "open sans"
            },
            "subtitle": {
                "text": "A full pie chart to show off label collision detection and resolution.",
                "color": "#999999",
                "fontSize": 12,
                "font": "open sans"
            },
            "titleSubtitlePadding": 9
        },
        "footer": {
            "color": "#999999",
            "fontSize": 10,
            "font": "open sans",
            "location": "bottom-left"
        },
        "size": {
            "canvasWidth": 590,
            "pieOuterRadius": "90%"
        },
        "data": {
            "sortOrder": "value-desc",
            "content": [
                {
                    "label": "JavaScript",
                    "value": 264131,
                    "color": "#2484c1"
                },
                {
                    "label": "Ruby",
                    "value": 218812,
                    "color": "#0c6197"
                },
                {
                    "label": "Java",
                    "value": 157618,
                    "color": "#4daa4b"
                },
                {
                    "label": "PHP",
                    "value": 114384,
                    "color": "#90c469"
                },
                {
                    "label": "Python",
                    "value": 95002,
                    "color": "#daca61"
                },
                {
                    "label": "C+",
                    "value": 78327,
                    "color": "#e4a14b"
                },
                {
                    "label": "C",
                    "value": 67706,
                    "color": "#e98125"
                },
                {
                    "label": "Objective-C",
                    "value": 36344,
                    "color": "#cb2121"
                },
                {
                    "label": "Shell",
                    "value": 28561,
                    "color": "#830909"
                },
                {
                    "label": "Cobol",
                    "value": 24131,
                    "color": "#923e99"
                },
                {
                    "label": "C#",
                    "value": 100,
                    "color": "#ae83d5"
                },
                {
                    "label": "Coldfusion",
                    "value": 68,
                    "color": "#bf273e"
                },
                {
                    "label": "Fortran",
                    "value": 218812,
                    "color": "#ce2aeb"
                },
                {
                    "label": "Coffeescript",
                    "value": 157618,
                    "color": "#bca44a"
                },
                {
                    "label": "Node",
                    "value": 114384,
                    "color": "#618d1b"
                },
                {
                    "label": "Basic",
                    "value": 95002,
                    "color": "#1ee67b"
                },
                {
                    "label": "Cola",
                    "value": 36344,
                    "color": "#b0ec44"
                },
                {
                    "label": "Perl",
                    "value": 32170,
                    "color": "#a4a0c9"
                },
                {
                    "label": "Dart",
                    "value": 28561,
                    "color": "#322849"
                },
                {
                    "label": "Go",
                    "value": 264131,
                    "color": "#86f71a"
                },
                {
                    "label": "Groovy",
                    "value": 218812,
                    "color": "#d1c87f"
                },
                {
                    "label": "Processing",
                    "value": 157618,
                    "color": "#7d9058"
                },
                {
                    "label": "Smalltalk",
                    "value": 114384,
                    "color": "#44b9b0"
                },
                {
                    "label": "Scala",
                    "value": 95002,
                    "color": "#7c37c0"
                },
                {
                    "label": "Visual Basic",
                    "value": 78327,
                    "color": "#cc9fb1"
                },
                {
                    "label": "Scheme",
                    "value": 67706,
                    "color": "#e65414"
                },
                {
                    "label": "Rust",
                    "value": 36344,
                    "color": "#8b6834"
                },
                {
                    "label": "FoxPro",
                    "value": 32170,
                    "color": "#248838"
                }
            ]
        },
        "labels": {
            "outer": {
                "pieDistance": 32
            },
            "inner": {
                "hideWhenLessThanPercentage": 3
            },
            "mainLabel": {
                "fontSize": 11
            },
            "percentage": {
                "color": "#ffffff",
                "decimalPlaces": 0
            },
            "value": {
                "color": "#adadad",
                "fontSize": 11
            },
            "lines": {
                "enabled": true
            },
            "truncation": {
                "enabled": true
            }
        },
        "effects": {
            "pullOutSegmentOnClick": {
                "effect": "linear",
                "speed": 400,
                "size": 8
            }
        },
        "misc": {
            "gradient": {
                "enabled": true,
                "percentage": 100
            }
        }
    });
</script>


<script>

    var pie = new d3pie("pieChart2", {
        "header": {
            "title": {
                "text": "pie chart 2",
                "fontSize": 24,
                "font": "open sans"
            },
            "subtitle": {
                "text": "A full pie chart to show off label collision detection and resolution.",
                "color": "#999999",
                "fontSize": 12,
                "font": "open sans"
            },
            "titleSubtitlePadding": 9
        },
        "footer": {
            "color": "#999999",
            "fontSize": 10,
            "font": "open sans",
            "location": "bottom-left"
        },
        "size": {
            "canvasWidth": 590,
            "pieInnerRadius": "70%",
            "pieOuterRadius": "90%"
        },
        "data": {
            "sortOrder": "value-desc",
            "smallSegmentGrouping": {
                "enabled": true
            },
            "content": [
                {
                    "label": "C",
                    "value": 67706,
                    "color": "#e98125"
                },
                {
                    "label": "Objective-C",
                    "value": 36344,
                    "color": "#cb2121"
                },
                {
                    "label": "Cobol",
                    "value": 24131,
                    "color": "#923e99"
                },
                {
                    "label": "Dart",
                    "value": 28561,
                    "color": "#322849"
                },
                {
                    "label": "Scala",
                    "value": 95002,
                    "color": "#7c37c0"
                },
                {
                    "label": "Visual Basic",
                    "value": 78327,
                    "color": "#cc9fb1"
                },
                {
                    "label": "Scheme",
                    "value": 67706,
                    "color": "#e65414"
                },
                {
                    "label": "Rust",
                    "value": 36344,
                    "color": "#8b6834"
                },
                {
                    "label": "FoxPro",
                    "value": 32170,
                    "color": "#248838"
                }
            ]
        },
        "labels": {
            "outer": {
                "pieDistance": 32
            },
            "inner": {
                "hideWhenLessThanPercentage": 3
            },
            "mainLabel": {
                "fontSize": 11
            },
            "percentage": {
                "color": "#ffffff",
                "decimalPlaces": 0
            },
            "value": {
                "color": "#adadad",
                "fontSize": 11
            },
            "lines": {
                "enabled": true
            },
            "truncation": {
                "enabled": true
            }
        },
        "effects": {
            "pullOutSegmentOnClick": {
                "speed": 400,
                "size": 8
            }
        },
        "misc": {
            "gradient": {
                "enabled": true,
                "percentage": 100
            }
        }
    });
</script>


<script>
    var pie = new d3pie("pieChart4", {
        "header": {
            "title": {
                "text": "Pie Chart 1",
                "fontSize": 24,
                "font": "open sans"
            },
            "subtitle": {
                "text": "A full pie chart to show off label collision detection and resolution.",
                "color": "#999999",
                "fontSize": 12,
                "font": "open sans"
            },
            "titleSubtitlePadding": 9
        },
        "footer": {
            "color": "#999999",
            "fontSize": 10,
            "font": "open sans",
            "location": "bottom-left"
        },
        "size": {
            "canvasWidth": 590,
            "pieOuterRadius": "90%"
        },
        "data": {
            "sortOrder": "value-desc",
            "content": [
                {
                    "label": "JavaScript",
                    "value": 264131,
                    "color": "#2484c1"
                },
                {
                    "label": "Ruby",
                    "value": 218812,
                    "color": "#0c6197"
                },
                {
                    "label": "Java",
                    "value": 157618,
                    "color": "#4daa4b"
                },
                {
                    "label": "PHP",
                    "value": 114384,
                    "color": "#90c469"
                },
                {
                    "label": "Python",
                    "value": 95002,
                    "color": "#daca61"
                },
                {
                    "label": "C+",
                    "value": 78327,
                    "color": "#e4a14b"
                },
                {
                    "label": "C",
                    "value": 67706,
                    "color": "#e98125"
                },
                {
                    "label": "Objective-C",
                    "value": 36344,
                    "color": "#cb2121"
                },
                {
                    "label": "Shell",
                    "value": 28561,
                    "color": "#830909"
                },
                {
                    "label": "Cobol",
                    "value": 24131,
                    "color": "#923e99"
                },
                {
                    "label": "C#",
                    "value": 100,
                    "color": "#ae83d5"
                },
                {
                    "label": "Coldfusion",
                    "value": 68,
                    "color": "#bf273e"
                },
                {
                    "label": "Fortran",
                    "value": 218812,
                    "color": "#ce2aeb"
                },
                {
                    "label": "Coffeescript",
                    "value": 157618,
                    "color": "#bca44a"
                },
                {
                    "label": "Node",
                    "value": 114384,
                    "color": "#618d1b"
                },
                {
                    "label": "Basic",
                    "value": 95002,
                    "color": "#1ee67b"
                },
                {
                    "label": "Cola",
                    "value": 36344,
                    "color": "#b0ec44"
                },
                {
                    "label": "Perl",
                    "value": 32170,
                    "color": "#a4a0c9"
                },
                {
                    "label": "Dart",
                    "value": 28561,
                    "color": "#322849"
                },
                {
                    "label": "Go",
                    "value": 264131,
                    "color": "#86f71a"
                },
                {
                    "label": "Groovy",
                    "value": 218812,
                    "color": "#d1c87f"
                },
                {
                    "label": "Processing",
                    "value": 157618,
                    "color": "#7d9058"
                },
                {
                    "label": "Smalltalk",
                    "value": 114384,
                    "color": "#44b9b0"
                },
                {
                    "label": "Scala",
                    "value": 95002,
                    "color": "#7c37c0"
                },
                {
                    "label": "Visual Basic",
                    "value": 78327,
                    "color": "#cc9fb1"
                },
                {
                    "label": "Scheme",
                    "value": 67706,
                    "color": "#e65414"
                },
                {
                    "label": "Rust",
                    "value": 36344,
                    "color": "#8b6834"
                },
                {
                    "label": "FoxPro",
                    "value": 32170,
                    "color": "#248838"
                }
            ]
        },
        "labels": {
            "outer": {
                "pieDistance": 32
            },
            "inner": {
                "hideWhenLessThanPercentage": 3
            },
            "mainLabel": {
                "fontSize": 11
            },
            "percentage": {
                "color": "#ffffff",
                "decimalPlaces": 0
            },
            "value": {
                "color": "#adadad",
                "fontSize": 11
            },
            "lines": {
                "enabled": true
            },
            "truncation": {
                "enabled": true
            }
        },
        "effects": {
            "pullOutSegmentOnClick": {
                "effect": "linear",
                "speed": 400,
                "size": 8
            }
        },
        "misc": {
            "gradient": {
                "enabled": true,
                "percentage": 100
            }
        }
    });
</script>


<script>

    var pie = new d3pie("pieChart3", {
        "header": {
            "title": {
                "text": "pie chart 2",
                "fontSize": 24,
                "font": "open sans"
            },
            "subtitle": {
                "text": "A full pie chart to show off label collision detection and resolution.",
                "color": "#999999",
                "fontSize": 12,
                "font": "open sans"
            },
            "titleSubtitlePadding": 9
        },
        "footer": {
            "color": "#999999",
            "fontSize": 10,
            "font": "open sans",
            "location": "bottom-left"
        },
        "size": {
            "canvasWidth": 590,
            "pieInnerRadius": "70%",
            "pieOuterRadius": "90%"
        },
        "data": {
            "sortOrder": "value-desc",
            "smallSegmentGrouping": {
                "enabled": true
            },
            "content": [
                {
                    "label": "C",
                    "value": 67706,
                    "color": "#e98125"
                },
                {
                    "label": "Objective-C",
                    "value": 36344,
                    "color": "#cb2121"
                },
                {
                    "label": "Cobol",
                    "value": 24131,
                    "color": "#923e99"
                },
                {
                    "label": "Dart",
                    "value": 28561,
                    "color": "#322849"
                },
                {
                    "label": "Scala",
                    "value": 95002,
                    "color": "#7c37c0"
                },
                {
                    "label": "Visual Basic",
                    "value": 78327,
                    "color": "#cc9fb1"
                },
                {
                    "label": "Scheme",
                    "value": 67706,
                    "color": "#e65414"
                },
                {
                    "label": "Rust",
                    "value": 36344,
                    "color": "#8b6834"
                },
                {
                    "label": "FoxPro",
                    "value": 32170,
                    "color": "#248838"
                }
            ]
        },
        "labels": {
            "outer": {
                "pieDistance": 32
            },
            "inner": {
                "hideWhenLessThanPercentage": 3
            },
            "mainLabel": {
                "fontSize": 11
            },
            "percentage": {
                "color": "#ffffff",
                "decimalPlaces": 0
            },
            "value": {
                "color": "#adadad",
                "fontSize": 11
            },
            "lines": {
                "enabled": true
            },
            "truncation": {
                "enabled": true
            }
        },
        "effects": {
            "pullOutSegmentOnClick": {
                "speed": 400,
                "size": 8
            }
        },
        "misc": {
            "gradient": {
                "enabled": true,
                "percentage": 100
            }
        }
    });
</script>
