
    <h1>ECB Resources</h1>

    <div class="reportSection">
        <div class="row">
            <div class="col-md-9">


                <div class="eyeReport">


                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Bill-RPO amend act-2009.pdf">
                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">
                            </a>

                            <p>Bill-RPO amend act-2009 Bangla</p>

                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Bill-RPO amend act-2009.pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>

                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Conduct Rules-23 Oct 2008.pdf">
                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">
                            </a>

                            <p>Conduct Rules-2008 bangla</p>

                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Conduct Rules-23 Oct 2008.pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>
                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Delimitation Ordinance-76.pdf">
                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">
                            </a>

                            <p>Delimitation Ordinance-76 bangla</p>

                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Delimitation Ordinance-76.pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>
                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Electoral Law Act-2010_Expetrior.pdf">
                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">
                            </a>

                            <p>Electoral Law Act-2010_Expetrior</p>

                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Electoral Law Act-2010_Expetrior.pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>
                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/JS Code of Conduct-Sep 2008.pdf">
                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">
                            </a>

                            <p>JS Code of Conduct-2008 bangla</p>

                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/JS Code of Conduct-Sep 2008.pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>







                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Political-Party-Registra-Rule.pdf">
                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">
                            </a>

                            <p>Political Party Registration Rule bangla</p>

                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Political-Party-Registra-Rule.pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>
                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/President's_Rules-1991.pdf">
                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">
                            </a>

                            <p>President’s Rules-1991 bangla</p>

                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/President's_Rules-1991.pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>
                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/RPO amend Law-09 1st.pdf">
                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">
                            </a>

                            <p>RPO amend Law-09 1st bangla</p>

                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/RPO amend Law-09 1st.pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>
                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Voter_List_-amend-Act-2010.pdf">
                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">
                            </a>

                            <p>Voter List_rules-2008 bangla</p>

                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Voter_List_-amend-Act-2010.pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>
                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/JS Women Law-04.pdf">
                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">
                            </a>

                            <p>JS Women Law-04 bangla</p>

                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/JS Women Law-04.pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>




                </div>


            </div>
        </div>
    </div>





<script type="text/javascript">
    function openTab(th) {
        window.open(th.name, '_blank');
    }
</script>