<div class="container-fluid">
    <div class="resourceHeader">
        <h1>ECB Resources</h1>

    </div>

    <div class="container resource_reportSection">

        <h3>National Election Law-Rules</h3>
        <p>Bill-RPO amend act-2009 Bangla</p>
        </br>

        <!--<iframe src="assets/pdf/Eye-On-Election-14-26_December-Final.pdf&embedded=true"-->
        <!--style="width:600px; height:500px;" frameborder="0"></iframe>-->

        <a onClick="openTab(this)" href="#" name="assets/pdf/Bill-RPO amend act-2009.pdf">Download Pdf</a>

        <p>Conduct Rules-2008 bangla</p>
        </br>

        <!--<iframe src="assets/pdf/Eye-On-Election-14-26_December-Final.pdf&embedded=true"-->
        <!--style="width:600px; height:500px;" frameborder="0"></iframe>-->

        <a onClick="openTab(this)" href="#" name="assets/pdf/Conduct Rules-23 Oct 2008.pdf">Download Pdf</a>


        <p>Delimitation Ordinance-76 bangla</p>
        </br>

        <!--<iframe src="assets/pdf/Eye-On-Election-14-26_December-Final.pdf&embedded=true"-->
        <!--style="width:600px; height:500px;" frameborder="0"></iframe>-->

        <a onClick="openTab(this)" href="#" name="assets/pdf/Delimitation Ordinance-76.pdf">Download Pdf</a>

        <p>Electoral Law Act-2010_Expetrior</p>
        </br>

        <!--<iframe src="assets/pdf/Eye-On-Election-14-26_December-Final.pdf&embedded=true"-->
        <!--style="width:600px; height:500px;" frameborder="0"></iframe>-->

        <a onClick="openTab(this)" href="#" name="assets/pdf/Electoral Law Act-2010_Expetrior.pdf">Download Pdf</a>

        <p>JS Code of Conduct-2008 bangla</p>
        </br>

        <!--<iframe src="assets/pdf/Eye-On-Election-14-26_December-Final.pdf&embedded=true"-->
        <!--style="width:600px; height:500px;" frameborder="0"></iframe>-->

        <a onClick="openTab(this)" href="#" name="assets/pdf/JS Code of Conduct-Sep 2008.pdf">Download Pdf</a>

        <p>JS Women Law-04 bangla</p>
        </br>

        <!--<iframe src="assets/pdf/Eye-On-Election-14-26_December-Final.pdf&embedded=true"-->
        <!--style="width:600px; height:500px;" frameborder="0"></iframe>-->

        <a onClick="openTab(this)" href="#" name="assets/pdf/JS Women Law-04.pdf">Download Pdf</a>

        <p>Political Party Registration Rule bangla</p>
        </br>

        <!--<iframe src="assets/pdf/Eye-On-Election-14-26_December-Final.pdf&embedded=true"-->
        <!--style="width:600px; height:500px;" frameborder="0"></iframe>-->

        <a onClick="openTab(this)" href="#" name="assets/pdf/Political-Party-Registra-Rule.pdf">Download Pdf</a>

        <p>President’s Rules-1991 bangla</p>
        </br>

        <!--<iframe src="assets/pdf/Eye-On-Election-14-26_December-Final.pdf&embedded=true"-->
        <!--style="width:600px; height:500px;" frameborder="0"></iframe>-->

        <a onClick="openTab(this)" href="#" name="assets/pdf/President's_Rules-1991.pdf">Download Pdf</a>

        <p>RPO amend Law-09 1st bangla</p>
        </br>

        <!--<iframe src="assets/pdf/Eye-On-Election-14-26_December-Final.pdf&embedded=true"-->
        <!--style="width:600px; height:500px;" frameborder="0"></iframe>-->

        <a onClick="openTab(this)" href="#" name="assets/pdf/RPO amend Law-09 1st.pdf">Download Pdf</a>

        <p>Voter List_rules-2008 bangla</p>
        </br>

        <!--<iframe src="assets/pdf/Eye-On-Election-14-26_December-Final.pdf&embedded=true"-->
        <!--style="width:600px; height:500px;" frameborder="0"></iframe>-->

        <a onClick="openTab(this)" href="#" name="assets/pdf/Voter_List_-amend-Act-2010.pdf">Download Pdf</a>









    </div>



</div>



<script type="text/javascript">
    function openTab(th)
    {
        window.open(th.name,'_blank');
    }
</script>