
    <h1>Eye on Election</h1>

    <div class="reportSection">
        <div class="row">
            <div class="col-md-9">


                <div class="eyeReport">


                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Eye-On-Election-14-26_December-Final.pdf">
                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">
                            </a>

                            <p>Eye On Election-(December 2013)</p>

                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Eye-On-Election-14-26_December-Final.pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>

                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#" name="assets/pdf/Eye-On-Election-formatted-final2.pdf">

                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">


                            </a>

                            <p>Eye On Election-(November 2013))</p>

                            <a onClick="openTab(this)" href="#" name="assets/pdf/Eye-On-Election-formatted-final2.pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>


                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Eye on Election - (Jun-Aug 2013) English.pdf">

                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">


                            </a>

                            <p>Eye On Election-(June-Aug 2013)</p>

                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Eye on Election - (Jun-Aug 2013) English.pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>

                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Eye on Election - (Sep 2013), English.pdf">

                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">


                            </a>

                            <p>Eye On Election-(Sep 2013)</p>

                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Eye on Election - (Sep 2013), English.pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>

                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Eye on Election - (Sep 2013), English.pdf">

                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">


                            </a>

                            <p>Eye On Election-(Sep 2013)</p>

                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Eye on Election - (Sep 2013), English.pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>

                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Eye on Election - (Sep 2013), English.pdf">

                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">


                            </a>

                            <p>Eye On Election-(Sep 2013)</p>

                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Eye on Election - (Sep 2013), English.pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>





<script type="text/javascript">
    function openTab(th) {
        window.open(th.name, '_blank');
    }
</script>