<div class="container-fluid">
    <div class="policyHeader">
        <h1>Election Policy Briefs</h1>

    </div>

    <div class="container policy_reportSection">
        <p>Constituency Delimitation_ Policy Brief (16 March 2013)</p>
        </br>

        <!--<iframe src="assets/pdf/Eye-On-Election-14-26_December-Final.pdf&embedded=true"-->
        <!--style="width:600px; height:500px;" frameborder="0"></iframe>-->

        <a onClick="openTab(this)" href="#" name="assets/pdf/RPO Policy Brief (20 Sep 2013).pdf">Download Pdf</a>

        <p>RPO Policy Brief (20 Sep 2013)</p>
        </br>

        <!--<iframe src="assets/pdf/Eye-On-Election-14-26_December-Final.pdf&embedded=true"-->
        <!--style="width:600px; height:500px;" frameborder="0"></iframe>-->

        <a onClick="openTab(this)" href="#" name="assets/pdf/Constituency Delimitation_ Policy Brief (14 March 2013).pdf">Download Pdf</a>






    </div>



</div>



<script type="text/javascript">
    function openTab(th)
    {
        window.open(th.name,'_blank');
    }
</script>