
    <h1>Election Policy Briefs</h1>

    <div class="reportSection">
        <div class="row">
            <div class="col-md-9">


                <div class="eyeReport">


                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/RPO Policy Brief (20 Sep 2013).pdf">
                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">
                            </a>

                            <p>Constituency Delimitation_ Policy Brief (16 March 2013)</p>

                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/RPO Policy Brief (20 Sep 2013).pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>

                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Constituency Delimitation_ Policy Brief (14 March 2013).pdf">
                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">
                            </a>

                            <p>RPO Policy Brief (20 Sep 2013)</p>

                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Constituency Delimitation_ Policy Brief (14 March 2013).pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>






                </div>


            </div>
        </div>
    </div>





<script type="text/javascript">
    function openTab(th) {
        window.open(th.name, '_blank');
    }
</script>