
    <h1>Preliminary statement</h1>

    <div class="reportSection">
        <div class="row">
            <div class="col-md-9">


                <div class="eyeReport">


                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Preliminary statement Gazipur City Corporation Election (07 July 2013) English.pdf">
                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">
                            </a>

                            <p>Preliminary statement Gazipur City Corporation Election (07 July 2013) English</p>

                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Preliminary statement Gazipur City Corporation Election (07 July 2013) English.pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>

                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Preliminary Statement on Four City corporation Election (16 June 2013) English.pdf">
                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">
                            </a>

                            <p>Preliminary Statement on Four City corporation Election (16 June 2013) English</p>

                            <a onClick="openTab(this)" href="#"
                               name="assets/pdf/Preliminary Statement on Four City corporation Election (16 June 2013) English.pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>






                </div>


            </div>
        </div>
    </div>





<script type="text/javascript">
    function openTab(th) {
        window.open(th.name, '_blank');
    }
</script>