<div class="container-fluid">
    <div class="statementsHeader">
        <h1>Election Policy Briefs</h1>

    </div>

    <div class="container statements_reportSection">
        <p>Preliminary statement Gazipur City Corporation Election (07 July 2013) English</p>
        </br>

        <!--<iframe src="assets/pdf/Eye-On-Election-14-26_December-Final.pdf&embedded=true"-->
        <!--style="width:600px; height:500px;" frameborder="0"></iframe>-->

        <a onClick="openTab(this)" href="#" name="assets/pdf/Preliminary statement Gazipur City Corporation Election (07 July 2013) English.pdf">Download Pdf</a>

        <p>Preliminary Statement on Four City corporation Election (16 June 2013) English</p>
        </br>

        <!--<iframe src="assets/pdf/Eye-On-Election-14-26_December-Final.pdf&embedded=true"-->
        <!--style="width:600px; height:500px;" frameborder="0"></iframe>-->

        <a onClick="openTab(this)" href="#" name="assets/pdf/Preliminary Statement on Four City corporation Election (16 June 2013) English.pdf">Download Pdf</a>






    </div>



</div>



<script type="text/javascript">
    function openTab(th)
    {
        window.open(th.name,'_blank');
    }
</script>