       <a  class="map_header_h4_a" ui-sref="app_eight_win_inf">
                <h4 style="" class="map_header_h4"><i class="fa fa-tachometer"></i>&nbsp;Const map by CNO
                <i style="font-weight: normal;font-size:22px;" class="fa fa-angle-right pull-right"></i></h4>
            </a>  