
<div class="container-fluid map_container"  style="">

    <div class="row">
        <div class="col-md-3" id="map_left_column">
                  <div id="map_header_div">
                <h2 id="map_header_h2" class=""><i class="fa fa-user-secret"></i>&nbsp;What is my vote worth</h2>
                <div id="map_desc_div"><h3>An index showing the relative weight of each individual voter on a national scale</h3>
       
         <a  class='btn btn-xs btn-info' ng-show="!show_desc" ng-click='show_desc =!show_desc'>read more <i class='fa fa-angle-down'></i></a>
         <span ng-show="show_desc">      
         

If we were using the voter list, the 2013 total population was about 91million people.
 ich means your vote is only half as influential/powerful as it should be.
         </span><a class='btn btn-xs btn-warning' ng-show="show_desc" ng-click='show_desc =!show_desc'>show less <i class='fa fa-angle-up'></i></a>
                </div>
            </div>

   <ng-include src="'appeight/_app_eight_win_inf_link.tpl.html'"></ng-include>

            <a class="map_header_h4_a" ui-sref=".new_voter">
                
                <h4 style="" class="map_header_h4">
                    
                   <i class="fa fa fa-line-chart"></i>&nbsp;Find Winer
                <i style="font-weight: normal;font-size:22px" class="fa fa-angle-down pull-right"></i>
                </h4>
            
            </a>  

            <div style="height:500px" class="animated slideInUp map_sub_panel">
            <h4> Select your constituency </h4>


          <ui-select style="width:100%" ng-model="selconst.selected"  ng-disabled="disabled"  theme="selectize" class="form-control" title="Choose a person">
            <ui-select-match placeholder="Select or search a constituency ...">{{$select.selected.constituen}}</ui-select-match>
            <ui-select-choices repeat="item in const_data.features | filter: $select.search">
            {{item.constituen}}

            </ui-select-choices>
          </ui-select>
               <br/>
            <a class="btn btn-primary btn-block" ng-click="showConst(selconst.selected)">Show</a>
            <br/>
            
      

      
 
    
    
    
            </div>
 
        </div>





        <div class="col-md-9" id="map_right_column" style="position:relative" >



            <div ui-view style="width:100%">

             
                <leaflet defaults="defaults" class=" animated zoomIn"  id="map" layers="layers" center="bd" geojson="geojson" width="100%" height="880px"></leaflet>

            </div>


            <table ng-table="tableParams"  class="map_table table table-hover table-striped">




                <tr class="vu_data animated fadeIn" ng-repeat="const in $data" >

                    <td data-title="'No'" sortable="'no'"><a ng-click="selectMe(const.properties.cno,const.properties.distname)"  >{{const.properties.cno}}</a></td>

                    <td data-title="'Name'" sortable="'name'">{{const.properties.constituen}}</td>
                    <td data-title="'Booths'" sortable="'booth'">{{const.properties.cno}}</td>
                    <td data-title="'Male'" sortable="'male'">{{const.properties.dno}}</td>
                    <td data-title="'Female'" sortable="'female'">{{const.properties.cno}}</td>
                    <td data-title="'Total Voters'" sortable="'totvoter'">{{const.properties.dno}}</td>
                    <td data-title="'Index'" sortable="'index'">{{const.properties.cno}}</td>


                </tr>

            </table>



        </div>
    </div>
</div>
<style>
    tr.vu_data td{text-align: right}

</style>

