
<div class="container-fluid map_container"  style="">

    <div class="row">
        <div class="col-md-3" id="map_left_column">
                  <div id="map_header_div">
                <h2 id="map_header_h2" class="">WHAT IS MY VOTE WORTH</h2>
                <div id="map_desc_div"><h3>An index showing the relative weight of each individual voter on a national scale</h3>
       

         <span>      
         
         AAAAA
If we were using the voter list, the 2013 total population was about 91million people.
 
Therefore: 91,000,000/300 = 303,333
 
That means that if all constituencies were equal- they would have 303,333 people in each. In this case one person would equal 1 vote.
 
Then for each constituency, you take this figure (303,333) and divide it by the number of registered voters (eg. 150,000). For a constituency with only 150,000 you get a figure of 2.02. This means voters in this constituency has twice as much influence as they should if the constituencies were divided up evenly.
 
A second example, if you live in a constituency with a population of 600,000 voters, you get a figure of 0.51 (303,333/600,000) which means your vote is only half as influential/powerful as it should be.
         </span>
                </div>
            </div>

 
             <ng-include src="'appeight/_app_eight_winer_link.tpl.html'"></ng-include>

             <ng-include src="'appeight/_app_eight_win_inf_link.tpl.html'"></ng-include>


 

         
 
        </div>





        <div class="col-md-9" id="map_right_column" style="position:relative" >



            <div ui-view style="width:100%">

                <div ng-show="showme"  class=" animated lightSpeedIn  lightSpeedIn map_side_pop_div">
                   
                        <h4 class="map_header_h4">District:{{name}}</h4>



                        <h5 >
                            <span class="badge  pull-right">{{totinc}}</span>
                            New voters  
                        </h5>
                        <h5 class="">
                            <span class="badge  pull-right">{{totper}}</span>
                            % of new Voters&nbsp;&nbsp;
                        </h5>
                        <h5 class="">
                            <span class="badge  pull-right">{{tot}}</span>
                            Existing Voters
                        </h5>
                 


                </div>
                <leaflet defaults="defaults" class=" animated zoomIn"  id="map" layers="layers" center="bd" geojson="geojson" width="100%" height="880px"></leaflet>

            </div>


            <table ng-table="tableParams"  class="map_table table table-hover table-striped">




                <tr class="vu_data animated fadeIn" ng-repeat="const in $data" >

                    <td data-title="'No'" sortable="'no'"><a  >{{const.no}}</a></td>

                    <td data-title="'Name'" sortable="'name'">{{const.name}}</td>
                    <td data-title="'Booths'" sortable="'booth'">{{const.booth}}</td>
                    <td data-title="'Male'" sortable="'male'">{{const.male}}</td>
                    <td data-title="'Female'" sortable="'female'">{{const.female}}</td>
                    <td data-title="'Total Voters'" sortable="'totvoter'">{{const.totvoter}}</td>
                    <td data-title="'Index'" sortable="'index'">{{const.index}}</td>


                </tr>

            </table>



        </div>
    </div>
</div>
<style>
    tr.vu_data td{text-align: right}

</style>

