       <a  class="map_header_h4_a" ui-sref="app_six_vote">
                <h4 style="" class="map_header_h4"><i class="fa fa-user-plus"></i>&nbsp;Find what is your vote worth
                <i style="font-weight: normal;font-size:22px;" class="fa fa-angle-right pull-right"></i></h4>
            </a>  