
<div class="container-fluid map_container" style="" >

    <div class="row">
        <div class="col-md-3" id="map_left_column">
                  <div id="map_header_div">
                <h2 id="map_header_h2" class=""><i class="fa fa-user-secret"></i>&nbsp;What is my vote worth</h2>
                <div id="map_desc_div"><h3>An index showing the relative weight of each individual voter on a national scale</h3>
       
         <a  class='btn btn-xs btn-info' ng-show="!show_desc" ng-click='show_desc =!show_desc'>read more <i class='fa fa-angle-down'></i></a>
         <span ng-show="show_desc">      
         
         
If we were using the voter list, the 2013 total population was about 91million people.
 
Therefore: 91,000,000/300 = 303,333
 
That means that if all constituencies were equal- they would have 303,333 people in each. In this case one person would equal 1 vote.
 
Then for each constituency, you take this figure (303,333) and divide it by the number of registered voters (eg. 150,000). For a constituency with only 150,000 you get a figure of 2.02. This means voters in this constituency has twice as much influence as they should if the constituencies were divided up evenly.
 
A second example, if you live in a constituency with a population of 600,000 voters, you get a figure of 0.51 (303,333/600,000) which means your vote is only half as influential/powerful as it should be.
         </span><a class='btn btn-xs btn-warning' ng-show="show_desc" ng-click='show_desc =!show_desc'>show less <i class='fa fa-angle-up'></i></a>
                </div>
            </div>

  <ng-include src="'appsix/_app_six_vote_link.tpl.html'"></ng-include>
 
            <a class="map_header_h4_a" ui-sref="new_voter">
                
                <h4 style="" class="map_header_h4">
                    
                   <i class="fa fa fa-tachometer"></i>&nbsp;Map of Constituencies by index
                <i style="font-weight: normal;font-size:22px" class="fa fa-angle-down pull-right"></i>
                </h4>
            
            </a>  

            <div style="height:500px" class="animated slideInUp map_sub_panel">
 
            
            
                  <table class="table table-bordered">
                            <tr><td style="background-color:{{color1}}">&nbsp;</td><td>Less than 0.5 </td></tr>
                            <tr><td style="background-color:{{color2}}">&nbsp;</td><td> 0.5-1.0</td></tr>
                            <tr><td style="background-color:{{color3}}">&nbsp;</td><td>1.0-1.5 </td></tr>
                            <tr><td style="background-color:{{color4}}">&nbsp;</td><td>Greater than 1.5</td></tr>
           
                            

                        </table>

      
 
    
    
    
            </div>
 
        </div>





        <div class="col-md-9" id="map_right_column" style="position:relative" >



            <div ui-view style="width:100%">

     
                <leaflet defaults="defaults" class=" animated zoomIn"  id="map" layers="layers" center="bd" geojson="geojson" width="100%" height="880px"></leaflet>

            </div>


            <table ng-table="tableParams"  class="map_table table table-hover table-striped">




                <tr class="vu_data animated fadeIn" ng-repeat="const in $data" >

                    <td data-title="'No'" sortable="'no'"><a ng-click="selectMe(const.no,const.index)"  >{{const.no}}</a></td>

                    <td data-title="'Name'" sortable="'name'">{{const.name}}</td>
                    <td data-title="'Booths'" sortable="'booth'">{{const.booth}}</td>
                    <td data-title="'Male'" sortable="'male'">{{const.male}}</td>
                    <td data-title="'Female'" sortable="'female'">{{const.female}}</td>
                    <td data-title="'Total Voters'" sortable="'totvoter'">{{const.totvoter}}</td>
                    <td data-title="'Index'" sortable="'index'">{{const.index}}</td>


                </tr>

            </table>



        </div>
    </div>
</div>
<style>
    tr.vu_data td{text-align: right}

</style>

