

.container-fluid {
    padding-right: 15px;
    padding-left: 9px;
    margin-right: auto;
    margin-left: auto;
    /*background-color: #f8f8f8;*/
    background:url(../images/content_image/halftone.png);
}

body {
    background-color: #f3f3f3;


}

/*=========MAP CSS Start======*/

a.active {
    font-weight: bold;
}

/*body{*/
/*padding-top: 54px;*/
/*background-color:#232C35;*/

/*}*/
.collapse.am-collapse {
    animation-duration: .3s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    overflow: hidden;
}

.in-remove {
    animation-name: collapse;
    display: block;
}

.in-add {
    animation-name: expand;
}

#map_left_column {
    background: #232C35;
    padding: 0px;
    margin-left: 0px;
    overflow: hidden;
    height: 100%;

}

#map_right_column {
    padding: 10px;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 10px silver, 0px 0px 2px gray inset;
}

div.well {
    border-radius: 0px;
}


hr {
    border-top: 1px solid #1e1e1e;
    border-color: #444444;
    box-shadow: 0 1px 0 0 #101010;
}

#map_header_h2 {
    color: #ededed;
    text-align: left;
    margin-left: 25px;
}

#map_desc_div h3 {
    text-align: left;
    color: #ededed;
    font-weight: normal;
    padding-top: 35px;
    text-transform: uppercase;
}

#map_desc_div .btn-info {
    color: white;
    border-color: #ededed;
    background-color: #232c35;
    text-transform: uppercase;

}

#map_desc_div .btn {
    border-radius: 0px;

}

.btn-warning {

    color: white;
    border-color: #ededed;
    background-color: #232c35;
    text-transform: uppercase;
}

.btn-warning:hover{
    color: white;
    border-color: #ededed;
    background-color: #232c35;
    text-transform: uppercase;
}
#map_desc_div {

    font-size: 15px;
    padding: 0 25px 20px;
    line-height: 1;
    color: #9f9f9f  ;
    font-family: raleway;

   ;
}

#map_header_div {
    background: #232C35;
    color: white;
}

.animated.slideInUp.map_sub_panel {


    border: 1px solid #38413a;
    box-shadow: 0 0 10px -2px #000000;
    font-family: raleway;
    margin: 25px;
    padding: 20px;
}


.animated.slideInUp.map_sub_panel h4 {
    color: white;
    font-size: 15px;
}

.map_side_pop_div {
    background: black;
    opacity: 0.4;
    color: white;
    padding: 10px;
    box-shadow: 0px 0px 5px black;
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 100
}

.brown_badge {
    background-color: brown;
}

.blue_badge {
    background-color: blue;
}

.map_header_h4 {
    margin: 1px 25px;
    padding: 10px;
    background: #33414E;
    color: white;
    border-bottom: 1px solid #29343f;
    border-top: 1px solid #3d4e5d;
    font-weight: 100;
    letter-spacing: 2px;
    /* box-shadow: 0 0 26px black, 0px 0px 14px black inset; */
    transition: background-color 0.8s ease;
    font-style: normal;
    text-transform: uppercase;
    font-family: Lato;
    font-size:16px;
}

.map_header_h4:hover {
    box-shadow: 0 0 26px black, 0px 0px 10px silver;
    background-color: #1F3042;
}

.map_header_h4_a {
    color: white;
    border-bottom: 1px solid #29343f;
    border-top: 1px solid #3d4e5d;
}

.collapse.am-collapse {
    animation-duration: .3s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    overflow: hidden;
}

.in-remove {
    animation-name: collapse;
    display: block;
}

.in-add {
    animation-name: expand;
}

.map_container {
    background: #232C35;
    margin-top: 85px;
}

.map_sub_panel {
    box-shadow: 0px 0px 10px #444 inset;
    background: white;
    padding: 20px;
    background: url('/images/kindajean.png');
    font-family: Arial, sans-serif;
    font-size: 17;
}

.map_sub_panel table {
    border: 3px solid white;
    box-shadow: 0 0 0 1px #ccc;
}

table {

}

.map_sub_panel table tr {
    text-shadow: 1px 1px 1px white;
    border-top: solid 1px white;
    background: #f3f3f3;
    border-bottom: solid 1px silver;
}

.map_sub_panel table tr:hover {
    border-left: solid 4px black;
    background: #eaeaea;
}

.map_sub_panel h4 {
    margin-top: 0px;
}

.leaflet-container a.leaflet-popup-close-button {
    background: none repeat scroll 0 0 black;
    border-radius: 35px;
    color: white;
    font: bold 16px/14px Tahoma, Verdana, sans-serif;
    height: 30px;
    padding: 6px;
    position: absolute;
    right: -11px;
    text-align: center;
    text-decoration: none;
    top: -10px;
    width: 30px;
}

.map_header_h4 i {
    color: #709bba
}

.map_header_h4:hover i {
    color: orange
}

.leaflet-popup-content-wrapper {
    box-shadow: 0 0 10px black, 0px 0px 39px silver inset;
}

.leaflet-popup-tip {
    background-color: #eaeaea;
}

table.map_table {

    margin-top: 20px;
    padding: 5px;
    border: 3px solid white;
    box-shadow: 0 0 0 1px #ccc;
}

table.map_table tr {
    cursor: pointer;
}

table.map_table tr:hover {
    background-color: #ccc;

    transition: background-color 0.8s ease;

}

/*=========MAP CSS End=========*/

/*nav*/

#main_navbar {
    margin-top: -22px;
    margin-left: -15px;
    margin-right: -15px;
    /*background-color: ;*/

}

#main_navbar.normal_menu {
    background: none repeat scroll 0 0 #F4F4F7;
    /*border-bottom: 4px solid cornflowerblue;*/
    box-shadow: 0 0 22px blue;
    opacity: 0.85;
}

#main_navbar {


}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color:white;
}
.nav_menu {

    background-color: #cccccc;
    border: medium none;
    height: 58px;

}

.main_menu {

    padding-right: 100px;
    padding-top: 15px;
    transition: all 0.2s ease 0s;

}


nav#main_navbar .navbar-default {
    border: none;
    background: url(../images/content_image/halftone.png);
}

nav#main_navbar.navbar {
    border: none;
}

nav#main_navbar.navbar-inverse .navbar-nav>.active>a{
    background-color: #cccccc;
}
/*.main_menu{*/

/*padding-right: 100px;*/

/*}*/

/*nav*/
h1 {
    font-family: poiret one;
}

h1, h3 {
    text-align: center;

}
.container.img_container.hidden-sm.hidden-xs{
    padding-left: 0px;
}

.img_container {
    margin-top: 150px;
    /*border: 30px solid gray;*/
    /*margin-left: 100px;*/
    /*margin-right: 100px;*/
    /*padding: 100px;*/
    height:700px;

}

.main_header img {
    margin-top: 94px;

}

/*new design*/
#imageBlock1{


    /* display: inline-block; */
    /* width: 280px; */
    /* height: 570px; */
    /* position: relative; */
    /* margin: 0 5px; */
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    /* top: -126px; */
    /* margin-right: -9px; */

}


/*.face {*/
    /*position: absolute;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*padding: 20px;*/
    /*background-color: white;*/
    /*border: solid 1px #ccc;*/
/*}*/

 img.one{
   height:560px;
    width:97%;
}
img.two{
    height:280px;
    width:100%;
}
img.three{
    height:280px;
    width:100%;
}
img.four{
    height:280px;
    width:100%;
}
img.five{
    height:290px;
    width:100%;
}
img.six{
    height:280px;
    width:100%;
}

/*#cube .one {*/
    /*background-color: yellow;*/
    /*-webkit-transform: rotateX(90deg) translateZ(200px);*/
    /*transform: rotateX(90deg) translateZ(200px);*/


/*}*/

/*#cube .two {*/
    /*background-color: red;*/
    /*-webkit-transform: translateZ(200px);*/
    /*transform: translateZ(200px);*/
    /*transition-delay: 6s;*/


/*}*/

/*#cube .three {*/
    /*background-color: green;*/
    /*-webkit-transform: rotateY(90deg) translateZ(200px);*/
    /*transform: rotateY(90deg) translateZ(200px);*/
    /*transition-delay: 6s;*/


/*}*/

/*#cube .four {*/
    /*background-color: aqua;*/
    /*-webkit-transform: rotateY(180deg) translateZ(200px);*/
    /*transform: rotateY(180deg) translateZ(200px);*/
    /*transition-delay: 6s;*/


/*}*/

/*#cube .five {*/
    /*background-color: blanchedalmond;*/
    /*-webkit-transform: rotateY(-90deg) translateZ(200px);*/
    /*transform: rotateY(-90deg) translateZ(200px);*/
    /*transition-delay: 6s;*/


/*}*/

/*#cube .six {*/
    /*background-color: coral;*/
    /*-webkit-transform: rotateX(-90deg) translateZ(200px) rotate(180deg);*/
    /*transform: rotateX(-90deg) translateZ(200px) rotate(180deg);*/
    /*transition-delay: 6s;*/


/*}*/

#imageBlock2{

    overflow: hidden;
    /*box-shadow: 1px 1px 2px rgba(0,0,0,0.5);*/
    /*background: url(../images/some_title1.svg) 0 0 no-repeat;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-color: white;*/
    padding: 0px;
}


#imageBlock2 h1{
    position: absolute;
    /*opacity: 1;*/
    top: 85px;
    color: white;
    left: 35px;
}

/*.face1 {*/
    /*position: absolute;*/
    /*height: 629px;*/
    /*width: 629px;*/
    /*padding: 20px;*/
    /*background-color: white;*/
    /*border: solid 1px #ccc;*/
/*}*/

/*#cube1 .one {*/
    /*background-color: yellow;*/
    /*-webkit-transform: rotateX(90deg) translateZ(200px);*/
    /*transform: rotateX(90deg) translateZ(200px);*/


/*}*/

/*#cube1 .two {*/
    /*background-color: red;*/
    /*-webkit-transform: translateZ(200px);*/
    /*transform: translateZ(200px);*/
    /*transition-delay: 6s;*/


/*}*/

/*#cube1 .three {*/
    /*background-color: green;*/
    /*-webkit-transform: rotateY(90deg) translateZ(200px);*/
    /*transform: rotateY(90deg) translateZ(200px);*/
    /*transition-delay: 6s;*/


/*}*/

/*#cube1 .four {*/
    /*background-color: aqua;*/
    /*-webkit-transform: rotateY(180deg) translateZ(200px);*/
    /*transform: rotateY(180deg) translateZ(200px);*/
    /*transition-delay: 6s;*/


/*}*/

/*#cube1 .five {*/
    /*background-color: blanchedalmond;*/
    /*-webkit-transform: rotateY(-90deg) translateZ(200px);*/
    /*transform: rotateY(-90deg) translateZ(200px);*/
    /*transition-delay: 6s;*/


/*}*/

/*#cube1 .six {*/
    /*background-color: coral;*/
    /*-webkit-transform: rotateX(-90deg) translateZ(200px) rotate(180deg);*/
    /*transform: rotateX(-90deg) translateZ(200px) rotate(180deg);*/
    /*transition-delay: 6s;*/


/*}*/

#imageBlock3{
    /*height: 280px; *!/*/
    /* width: 280px; */
    /* background-color: green; */
    /* margin-left: 280px; */
    /* display: inline-block; */
    /* margin-top: 1px; */
    /* position: absolute; */
background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-color: white;*/
    padding: 0px;

}
.imageBlock4{

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-color: white;*/
    padding: 0px;
}
.imageBlock5{

    /*height: 290px;*/
    /*width: 560px;*/
    /*background-color: gray;*/
    /* display: inline-block; */


    /*background-color: gray;*/
    /*display: inline-block;*/
    /*margin-left: 0px;*/
    /*margin-top: 280px;*/
    /*position: relative;*/
    /*padding: 0px;*/
}

.imageBlock6{
    /*height: 290px;*/
    /*width: 280px;*/
    /*background-color: black;*/
    /*margin-left: 835px;*/
    /*margin-top: -421px;*/
    /*padding: 0px;*/
}
/*new design end*/
#slideTable {

    width: 100%;

}

#slideTable td {

    width: 25%;
    /*background: #000;*/
    height: 290px;
    border: 10px solid transparent;
    vertical-align: top;
    /*margin:20px;!important;*/

}

.wrapper{

    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
    position: relative;

}

#slide_one td {
    width: 25%;
    background: #000;
    height: 560px;
    /*border: 1px solid #fff;*/
}

#slide_one .img-responsive {
    height: 100%;
}

#slide_one {

    width: 100%;
    height: 570px;
    position: relative;
    /*margin: 0 5px;*/
    overflow: hidden;
    /*box-shadow: 1px 1px 2px rgba(0,0,0,0.5);*/
    /*background: url(../images/pic1.svg) 0 0 no-repeat;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
}

img.count {
    height: 450px !important;
    width: 100% !important;
}

img.count1 {
    height: 580px;
    width: 100%;
}

/*#slide_one img{*/
/*top: 0px;*/
/*left: 0px;*/
/*width:100%;*/
/*position: absolute;*/
/*heignt:auto;*/

/*}*/

/*slide one flip animation*/

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;

    /*border: 1px solid #ccc;*/
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container-hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100%;
    height: auto;
}

.flipper {
    -webkit-transition: 10s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
    width: 100%;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.front {
    /*background: url(../images/pic1.svg) 0 0 no-repeat;*/
    /*z-index: 2;*/
}

.back {

    /*background: url(../images/pic1.svg) 0 0 no-repeat;*/
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    /*background: #f8f8f8;*/
}

/*slide one flip animation end*/

#slide_two {

    width: 100%;
    height: 280px;
    position: relative;
    /*margin: 0 5px;*/
    overflow: hidden;
    /*box-shadow: 1px 1px 2px rgba(0,0,0,0.5);*/
    /*background: url(../images/some_title1.svg) 0 0 no-repeat;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
}

img.hackathon {
    max-width: 100%;
    height: 250px;
}

img.count2 {
    height: auto;
    width: 100%;
}

#slide_two img {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 280px;

}

.flip-container1:hover .flipper1,
.flip-container1.hover .flipper1 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container1-hover .flipper1 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container1, .front1, .back1 {
    width: 100%;
    height: auto;
}

.flipper1 {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
    width: 100%;
}

.front1, .back1 {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.front1 {
    /*background: url(../images/pic1.svg) 0 0 no-repeat;*/
    /*z-index: 2;*/
}

.back1 {

    /*background: url(../images/pic1.svg) 0 0 no-repeat;*/
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    /*background: #f8f8f8;*/
}

#slide_three {

    width: 100%;
    height: 100%;
    position: relative;
    /*margin: 0 5px;*/
    overflow: hidden;
    /*box-shadow: 1px 1px 2px rgba(0,0,0,0.5);*/
    /*background: url(../images/bottom_pic_3.svg) 0 0 no-repeat;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
}

img.upazilla {
    height: 300px;
    max-width: 100%;
}

#slide_three img {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 280px;

}

.flip-container2:hover .flipper2,
.flip-container2.hover .flipper2 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container2-hover .flipper2 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container2, .front2, .back2 {
    width: 100%;
    height: auto;
}

.flipper2 {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
    width: 100%;
}

.front2, .back2 {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.front2 {
    /*background: url(../images/pic1.svg) 0 0 no-repeat;*/
    /*z-index: 2;*/
}

.back2 {

    /*background: url(../images/pic1.svg) 0 0 no-repeat;*/
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    /*background: #f8f8f8;*/
}

#slide_four {

    width: 100%;
    height: 100%;
    position: relative;
    /*margin: 0 5px;*/
    overflow: hidden;
    /*box-shadow: 1px 1px 2px rgba(0,0,0,0.5);*/
    /*background: url(../images/bottom_pic_5.svg) 0 0 no-repeat;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
}

img.what {
    height: 300px;
    max-width: 100%;
}

#slide_four img {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 280px;

}

.flip-container3:hover .flipper3,
.flip-container3.hover .flipper3 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container3-hover .flipper3 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container3, .front3, .back3 {
    width: 100%;
    height: auto;
}

.flipper3 {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
    width: 100%;
}

.front3, .back3 {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.front3 {
    /*background: url(../images/pic1.svg) 0 0 no-repeat;*/
    /*z-index: 2;*/
}

.back3 {

    /*background: url(../images/pic1.svg) 0 0 no-repeat;*/
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    /*background: #f8f8f8;*/
}

#slide_five {

    width: 100%;
    height: 100%;
    position: relative;
    /*margin: 0 5px;*/
    overflow: hidden;
    /*box-shadow: 1px 1px 2px rgba(0,0,0,0.5);*/
    /*background: url(../images/bottom_pic_5.svg) 0 0 no-repeat;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
}

img.citycorp {
    height: 250px;
    max-width: 100%;
}

#slide_five img {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 280px;

}

.flip-container4:hover .flipper4,
.flip-container4.hover .flipper4 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container4-hover .flipper4 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container4, .front4, .back4 {
    width: 100%;
    height: auto;
}

.flipper4 {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
    width: 100%;
}

.front4, .back4 {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.front4 {
    /*background: url(../images/pic1.svg) 0 0 no-repeat;*/
    /*z-index: 2;*/
}

.back4 {

    /*background: url(../images/pic1.svg) 0 0 no-repeat;*/
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    /*background: #f8f8f8;*/
}

#slide_six {

    width: 100%;
    height: 100%;
    position: relative;
    /*margin: 0 5px;*/
    overflow: hidden;
    /*box-shadow: 1px 1px 2px rgba(0,0,0,0.5);*/
    /*background: url(../images/pic3.svg) 0 0 no-repeat;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
}

img.perliament {
    height: 300px;
    max-width: 100%;
}

#slide_six img {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 338px;
    height: 280px;

}

.flip-container5:hover .flipper5,
.flip-container5.hover .flipper5 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container5-hover .flipper5 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container5, .front5, .back5 {
    width: 100%;
    height: auto;
}

.flipper5 {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
    width: 100%;
}

.front5, .back5 {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.front5 {
    /*background: url(../images/pic1.svg) 0 0 no-repeat;*/
    /*z-index: 2;*/
}

.back5 {

    /*background: url(../images/pic1.svg) 0 0 no-repeat;*/
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    /*background: #f8f8f8;*/
}

@-webkit-keyframes abcFadeInOut {

    /*from{opacity:1;}*/
    /*from{opacity:0;}*/
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

@-moz-keyframes abcFadeInOut {

    /*from{opacity:1;}*/
    /*from{opacity:0;}*/
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

@-ms-keyframes abcFadeInOut {

    /*from{opacity:1;}*/
    /*from{opacity:0;}*/
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

@keyframes abcFadeInOut {

    /*from{opacity:1;}*/
    /*from{opacity:0;}*/
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#slide_one img:nth-of-type(1) {
    animation-delay: 6s;

}

#slide_one img:nth-of-type(2) {
    animation-delay: 6s;
}

#slide_two img:nth-of-type(1) {
    animation-delay: 10s;
}

#slide_two img:nth-of-type(2) {
    animation-delay: 10s;
}

#slide_three img:nth-of-type(1) {
    animation-delay: 8s;
}

#slide_three img:nth-of-type(2) {
    animation-delay: 8s;
}

#slide_four img:nth-of-type(1) {
    animation-delay: 11s;
}

#slide_four img:nth-of-type(2) {
    animation-delay: 11s;
}

#slide_five img:nth-of-type(1) {
    animation-delay: 9s;
}

#slide_five img:nth-of-type(2) {
    animation-delay: 9s;
}

#slide_six img:nth-of-type(1) {
    animation-delay: 8s;
}

#slide_six img:nth-of-type(2) {
    animation-delay: 8s;
}

#slide_seven img:nth-of-type(1) {
    animation-delay: 6s;
}

#slide_seven img:nth-of-type(2) {
    animation-delay: 6s;
}

.app_mapping {
    margin-top: 50px;
    overflow: hidden;

}

.app_mapping h1 {

    text-align: center;
    font-family: poiret one;

}

.mappingBox {
    margin-top: 50px;
}

.mappingBlock1 {
    background-color: #ffffff;
    border: 1px solid #f3f3f3;
    box-shadow: 2px 2px 8px -5px #b5b5b5;
    display: inline-block;
    height: 313px;
    margin: 0 5px 5px 0;
    width: 100%;
}

.mappingBlock1:hover {
    cursor: pointer;
}

.mappingBlock1 img {
    margin-top: 50px;
}

.mappingBlock2 {
    background-color: #ffffff;
    border: 1px solid #f3f3f3;
    box-shadow: 2px 2px 8px -5px #b5b5b5;
    display: inline-block;
    height: 313px;
    margin: 0 5px 5px 0;
    width: 100%;
}

.mappingBlock2 img {
    margin-top: 50px;
}

.mappingBlock3 {
    background-color: #FFFFFF;
    height: 313px;
    width: 100%;
    display: inline-block;
    margin: 0 5px 5px 0;
}

.mappingBlock3 img {
    margin-top: 50px;
}

.mappingBlock4 {
    background-color: #ffffff;
    border: 1px solid #f3f3f3;
    box-shadow: 2px 2px 8px -5px #b5b5b5;
    display: inline-block;
    height: 313px;
    margin: 0 5px 5px 0;
    width: 100%;
}

.mappingBlock4 img {
    margin-top: 50px;
}

.mappingBlock5 {
    background-color: #FFFFFF;
    height: 313px;
    width: 100%;
    display: inline-block;

    margin: 0 5px 5px 0;
}

.mappingBlock5 img {
    margin-top: 50px;
}

.mappingBlock6 {
    background-color: #FFFFFF;
    height: 313px;
    width: 100%;
    display: inline-block;
    margin: 0 5px 5px 0;
}

.mappingBlock6 img {
    margin-top: 50px;
}

.mappingBlock1:hover, .mappingBlock2:hover, .mappingBlock3:hover, .mappingBlock4:hover, .mappingBlock5:hover, .mappingBlock6:hover {
    cursor: pointer;
}

.mappingBlock1 p, .mappingBlock2 p, .mappingBlock3 p, .mappingBlock4 p {

    color: #CF5C60;
    text-transform: uppercase;
    text-align: center;

}

.mappingBlock1 h1, .mappingBlock2 h1, .mappingBlock3 h1, .mappingBlock4 h1 {

    text-transform: uppercase;
    height: 2em;

}

.mapHead h1, .galleryHead h1 {
    text-transform: uppercase;
    text-align:center ;
}

.mapHead h3, .galleryHead h3 {
    text-transform: uppercase;
}

#Layer_1, #Layer_2, #Layer_3, #Layer_4, #Layer_5, #Layer_6 {
    margin-top: 50px;
}

.sectionDetails {
    margin-top: 50px;

}

.sectionDetails h1 {
    text-align: center;
    font-family: poiret one;

}

.selectionBlock {
    margin-left: 10px;

}

.sectionHead h1 {
    text-align: center;
    font-family: poiret one;
}

.selection_block1 {
    background-color: #FFFFFF;
    height: 591px;
    width: 100%;
    display: inline-block;

    margin: 0 5px 5px 0;
}

.insideContent1 {
    padding: 10px 10px 10px 10px;
    overflow: hidden;
}

.insideContent1 img {
    width: 100%;
}

.selection_block2 {
    background-color: #FFFFFF;
    height: 591px;
    width: 100%;
    display: inline-block;

    margin: 0 5px 5px 0;
}

.insideContent2 {
    padding: 10px 10px 10px 10px;
    overflow: hidden;
}

.insideContent2 img {
    width: 100%;
}

.selection_block3 {
    background-color: #FFFFFF;
    height: 591px;
    width: 100%;
    display: inline-block;

    margin: 0 5px 5px 0;
}

.btn-primary {
    /*background-color:#2D2D2D;*/
    /*border-color: #2D2D2D;*/
}

.publication {
    margin-top: 50px;
}

.publication h1 {
    text-align: center;
    font-family: poiret one;
}

.insideContent3 {
    padding: 10px 10px 10px 10px;
    overflow: hidden;
}

.insideContent3 img {
    width: 100%;
}

.pie {
    margin-top: 50px;
}

.pie_section {
    background-color: white;
}

.article_container {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 15px 15px 15px 15px;
    /*margin-left:59px;*/
}

.article1 {
    border: 1px solid green;
    height: 175px;
    width: 100%;
    margin-bottom: 5px;
    overflow: hidden;
}

.article1 img {
    padding: 5px 5px 5px 5px;
    height: 100%;
    overflow: hidden;
}

.article2 {
    border: 1px solid green;
    height: 175px;
    width: 100%;
    margin-bottom: 5px;
}

.article2 img {
    padding: 5px 5px 5px 5px;
    height: 100%;
    overflow: hidden;
}

.article3 {
    border: 1px solid green;
    height: 175px;
    width: 100%;
    margin-bottom: 5px;
}

.article3 img {
    padding: 5px 5px 5px 5px;
    height: 100%;
    overflow: hidden;
}

.article4 {
    border: 1px solid green;
    height: 175px;
    width: 100%;
    margin-bottom: 5px;
    overflow: hidden;
}

.article4 img {
    padding: 5px 5px 5px 5px;
    height: 100%;
    overflow: hidden;
}

.article5 {
    border: 1px solid green;
    height: 175px;
    width: 100%;
    margin-bottom: 5px;
}

.article5 img {
    padding: 5px 5px 5px 5px;
    height: 100%;
    overflow: hidden;
}

.article6 {
    border: 1px solid green;
    height: 175px;
    width: 100%;
    margin-bottom: 5px;
}

.article6 img {
    padding: 5px 5px 5px 5px;
    height: 100%;
    overflow: hidden;
}

.img_gallery {
    margin-top: 50px;
}

.img_gallery h1 {
    text-align: center;

}

.image_block1 {
    border: 1px solid red;
    height: 200px;
    width: 240px;
    overflow: hidden;
    display: inline-block;

}

.image_block1 img {
    width: 100%;
}

.image_block2 {
    border: 1px solid red;
    height: 200px;
    width: 240px;
    overflow: hidden;
    display: inline-block;

}

.image_block2 img {
    width: 100%;
}

.image_block3 {
    border: 1px solid red;
    height: 200px;
    width: 240px;
    overflow: hidden;
    display: inline-block;

}

.image_block3 img {
    width: 100%;
}

#galltwo-wra {

    /*margin: 50px auto;*/
    /*background-color: #009998;*/

}

#galltwo-wra img {

    /*width: 292px;*/
    /*height: 196px;*/

    /*max-width: 100%;*/
    /*max-height: 100%;*/
    vertical-align: middle;
}

#galltwo-wra img {

    width: 100% height : 251 px;
    /*margin-bottom: 20px;*/
    overflow: hidden;

}


#galltwo-wra1 img {

    /*width: 292px;*/
    /*height: 196px;*/

    /*max-width: 100%;*/
    /*max-height: 100%;*/
    vertical-align: middle;
}

#galltwo-wra1 img {

    width: 100% height : 251 px;
    /*margin-bottom: 20px;*/
    overflow: hidden;

}

.sli-two-holder {

    width: 100%;
    height: 100%;
    /*background: #000;*/
/

}

.sli-two-holder:hover {

    cursor: pointer;

}

.sc-hol-one {
    height: 49%;
    /*background: red;*/
    margin-bottom: 2%;
}

.col-lg-4{
    position: relative;
    min-height: 1px;
}

.sc-hol-one .col-md-4 {
    padding-left: 3px;
    padding-right: 3px;
    margin: 0px;
}

.sc-hol-one .col-xs-12 {
    padding-left: 3px;
    padding-right: 3px;
}


.sc-hol-two {
    height: 49%;
    /*background: red;*/
}

.scslide-common {
    width: 32%;
    height: 100%;
    float: left;
}

.scslide-one {
    /*background: red;*/
}

.scslide-two {
    /*background: green;*/
    margin: 0% 2%;
}

.scslide-three {
    /*background: yellow;*/
}

#galltwo-wra .carousel-control.left {
    background-image: none;
    margin-left: -211px;
}

#galltwo-wra .carousel-control.right {
    background-image: none;
    margin-right: -178px;
}

#galltwo-wra .carousel-indicators {
    display: none;
}

/*---------Updates2 End-------------*/
.contact_section {
    margin-top: 50px;
}

.contactHead h1 {
    text-align: center;
}

.address-map-wrapper {
    margin-top: 20px;
}

.footerHead h4 {
    text-align: center;
    color: white;
    padding: 10px;

}

.footerHead {
    text-align: center;
    background-color: #112233;

}

/*.footer_map{*/
/*float:right;*/
/*}*/

.footer_img.img {
    display: inline-block;
    width: 45px;
}

.contact-form {
    padding: 14px;

}

/*..................................bootstrap overwrite.......................................*/

#galltwo-wra .carousel-control .icon-prev:before {
    /*content: '\2039';*/
    content: url("../images/arrow_left.svg");

}

#galltwo-wra .carousel-control .icon-next:before {
    /*content: '\203a';*/
    content: url("../images/arrow_right.svg");
}

.carousel-control .icon-prev {
    /*top: 42%;*/
    margin-top: -50px;

}

.carousel-control .icon-next {
    top: 42%;
    margin-top: -50px;
}


a.left.carousel-control {
  height: 200px;
}


a.right.carousel-control {
    height: 200px;
}



.address-block {
    text-align: left;
    padding-left: 11px;
    margin-bottom: 20px;
    /*background-color: whitesmoke;*/
    /*margin-top: 15px;*/
    /*border-radius: 5px;*/
    color: #CCCCCC;
}

.address-block h3 {
    text-align: left;
    text-transform: uppercase;
}

.address-block p {
    text-align: left;
    text-transform: uppercase;
}

.quick_link {
    color: #CCCCCC;
}

.quick_link h3 {
    color: #CCCCCC;
}

.quick_link ul {
    padding-left: 0;
    margin-left: 0;
}

.quick_link ul li {
    display: block;
    color: #CCCCCC;
}

.quick_link ul li a {
    display: block;
    color: #8c8c8c;
    font-size: 1em;
    text-decoration: none;
}

.footer_img {
    display: inline-block;
    margin-top: 71px;
}

.footer_map img {

    height: 300px;
    width: 100%;

}

.footer_map {
    margin-top: 15px;

}

.Footer_section {

    /*background-color: #2D2D2D;*/
    /*background-color: #2D2D2D;*/
    margin-top: 2em;

}

/*mobile menu*/

.buttonMenu {
    font-family: Arial;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0px;
    color: white;
}

.buttonMenu:hover {
    font-family: Arial;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 1);
    border: 0px;
    color: white;
}

.buttonMenu:focus {
    outline: 0;
}

#showmenu {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: bold;
    padding: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: black;
    font-family: Arial;
    color: white;
    position: fixed;
    top: 45%;
    left: 0;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-left-width: 0;
}

#showmenu:hover {
    color: black;
    background-color: white;
}

#menu {
    display: block;
    border: 0;
    border-right-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    top: 0;
    left: -302px;
    height: 100%;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}

/*.........................css for about us page.........................*/

.aboutUsHeader h1 {
    margin-top: 125px;
    text-align: center;
    /*color: red;*/

}

.img_block {
    margin-top: 42px;
    border-bottom: 2px blue;
}

. data_section {
    border-top: 2px blue;
}

.ourTeam {
    margin-top: 10px;
    background-color: #ECEDF1;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;

}

.teamHead h1 {
    text-align: center;
    font-family: "poiret one";

}

.partnerSection {
    margin-top: 30px;
    margin-bottom: 20px;
}

.partnerLogo {
    border-right: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}

/*......................................Report Page.....................................*/

.reportHead h1 {
    margin-top: 133px;
}

/*.........................................pieChart Page ....................................*/
.pieHeader {

    margin-top: 125px;
}

/*media coverage*/

.newsHeader {
    margin-top: 120px;
}

.newsSections {
    margin-bottom: 30px;
}

.newsSection-2 {
    margin-top: 50px;
}

.img_one {
    height: 300px;
    margin-left: -15px;

}

.img_two {
    height: 300px;
    width: 375px;

}

.img_sec1 {
    overflow: hidden;
}

/*publication-eye on election*/

.eyeHeader {
    margin-top: 150px;
}

.reportSection {
    margin-bottom: 30px;
}

/*publication-policy*/

.policyHeader {
    margin-top: 150px;
}

.policy_reportSection {
    margin-bottom: 30px;
}

/*publication-policy*/

.statementsHeader {
    margin-top: 150px;
}

.statements_reportSection {
    margin-bottom: 30px;
}

/*publication-resources*/
.resourceHeader {
    margin-top: 150px;
}

.resource_reportSection {
    margin-bottom: 30px;
}

/*about us*/

.visionAndMission_Header {
    margin-top: 150px;

}

.vision_article {
    margin-bottom: 30px;
}

/*ewg logo in nav*/

svg#Logo_1 {
    height: 50px;
    margin-left: 35px;

}

.nav_menu .menu_list1 li.active a:hover {
    background-color: #d4d4d5;

}
.hvr-underline-from-left::before {
    background: #606060 none repeat scroll 0 0;
}

.hvr-underline-from-left{
    transform: translateZ(0);
    /*box-shadow: 0 3px 0 0 #606060;*/
}

ul.nav.navbar-nav.navbar-right.main_menu.menu_list1 li {
    font-family: 'Lato', sans-serif;
}

.nav_menu .menu_list1 li a:hover {
    background-color: #d4d4d5;
    /*box-shadow: 0 3px 0 0 #606060;*/
    transition: all 0.2s ease 0s;
    color:#303030;
}

.nav_menu .menu_list1 li.active a:focus {
    /*color: #FFF !important;*/

    background-color: #CF5C60;
    /*border: 1px solid #FFF;*/

}

.media_Header {
    margin-top: 150px;
}

.publication_Header {
    margin-top: 150px;
}

/*iner menu for publication*/

.publication_details {
    margin-top: 60px;
    background: #f5f5f5;
}

.aboutUs_details {
    margin-top: 60px;
    background: #f5f5f5;
}

.media_details {
    margin-top: 60px;
    background: #f5f5f5;
}

.inside_menu {

    background-color: #eaeaea;
    border: 1px solid #ffffff;
    box-shadow: 1px 1px 3px 0 #c3c3c3;
    height: 290px;
    width: 100%;

}

.inside_menu ul {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 8px;

}

.inside_menu ul li {

    list-style: none;
    display: block;
    /*margin-bottom: 0.5em;*/

    /*padding: 0 1em;*/

}

.inside_menu ul li:hover {
    /*background: #544F4B;*/

}

.selmenuli {
    background: #555566;
    border-bottom: none;
}

.inside_menu ul li a {
    border-bottom: 1px solid #cacaca;
    box-shadow: 0 1px 0 0 #ffffff;
    color: #7c7c7c;
    display: block;
    font-family: lato;
    font-size: 14px;
    font-weight: 400;
    padding: 1em 1em 1em 1em;
    text-decoration: none;
    text-transform: uppercase;
    /*transition: all 0.1s ease-in-out 0s;*/
    /*width: 175px;*/
    /*text-shadow: 0 1px 0px #fff;*/

}

.inside_menu ul li a:focus {
    display: block;
    /*padding: 1em 1em 1em 0;*/
    background: #555566 none repeat scroll 0 0;
    color: #9A9A9A;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    background-color:#dadada;
    box-shadow: 0 3px 0 0 #606060;

    /*border-bottom: 1px solid #D6D2D2;*/
    /*border-radius: 0.5em 0 0 0.5em;*/

}

.inside_menu ul li a:hover {
    background-color: #dadada;
    color: #7c7c7c;
    transition: all 0.1s ease-in-out 0s;
    box-shadow: 0 3px 0 0 #606060;
    /*width: 215px;*/
    text-shadow: none;
}

.selmenua {
    background: #dadada;
    color: #7c7c7c !important;
    box-shadow: 0 3px 0 0 #606060;
}

span.glyphicon-envelope {
    font-size: 1.2em;
    color: #9A9A9A;
}

span.glyphicon-envelope:hover {
    font-size: 1.2em;
    color: #FFF;
}

.left-caret {
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    /* border-left: 4px solid #000000; */
    display: inline-block;
    height: 0;
    /* opacity: 0.3; */
    vertical-align: middle;
    width: 0;
    border-right: 6px solid #000000;
}

#imggall img:hover {
    cursor: pointer;
}

.reportSection {
    margin-top: 60px;;
}

.eye_reportBlock {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dadada;
    box-shadow: 0 15px 8px -12px #535353, 10px 25px 10px -10px #d3d3d3;
    float: left;
    height: 295px;
    margin: 5px;
    padding: 0.5em 1em;
    width: 180px;
}

.eye_reportImg p {
    font-family: lato;
    font-size: 0.8em;
    height: 5em;
    line-height: 1;
    padding: 0.5em;
    text-align: center;
}

.eyeImg1 {
    /*padding-left: 16px;*/
    /*padding-top: 5px;*/

    eight: 169px;
    width: 140px;
}

.eyeImg2 {
    padding-left: 25px;
}

/*.back p {*/
/*position: absolute;*/
/*bottom: 40px;*/
/*left: 0;*/
/*right: 0;*/
/*text-align: center;*/
/*padding: 0 20px;*/
/*font-family: arial;*/
/*line-height: 2em;*/
/*}*/

.imggall {
    margin-bottom: 4px;
}

.imggall .col-xs-1,
.imggall .col-sm-1,
.imggall .col-md-1,
.imggall .col-lg-1,
.imggall .col-xs-2,
.imggall .col-sm-2, .imggall .col-md-2, .imggall .col-lg-2, .imggall .col-xs-3, .imggall .col-sm-3,
.imggall .col-md-3, .imggall .col-lg-3, .imggall .col-xs-4, .imggall .col-sm-4, .imggall .col-md-4,
.imggall .col-lg-4, .imggall .col-xs-5, .imggall .col-sm-5, .imggall .col-md-5, .imggall .col-lg-5, .imggall .col-xs-6, .imggall .col-sm-6,
.imggall .col-md-6, .imggall .col-lg-6, .imggall .col-xs-7, .imggall .col-sm-7, .imggall .col-md-7, .imggall .col-lg-7, .imggall .col-xs-8,
.imggall .col-sm-8, .imggall .col-md-8, .imggall .col-lg-8, .imggall .col-xs-9, .imggall .col-sm-9, .imggall .col-md-9, .imggall .col-lg-9,
.imggall .col-xs-10, .imggall .col-sm-10, .imggall .col-md-10, .imggall .col-lg-10, .imggall .col-xs-11, .imggall .col-sm-11, .imggall .col-md-11,
.imggall .col-lg-11, .imggall .col-xs-12, .imggall .col-sm-12, .imggall .col-md-12, .imggall .col-lg-12 {
    padding-left: 2px;
    padding-right: 2px;
}

.imggall img:hover {
    cursor: pointer;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-menu > li > a {
    background: #ffffff none repeat scroll 0 0;
    color: #303030;
    font-size: 12px;
    margin-bottom: 0.5em;
    padding: 0.7em 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-inverse {
    border: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #303030;
    font-weight: 400;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {

    background-color: #6D92AB;
    /*border: 1px solid #FFF;*/
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #d4d4d5;
    box-shadow: 0 3px 0 0 #606060;
    /*color: #FFF;*/
}

.nav_menu .menu_list1 li.active a:focus {
    background-color: #d4d4d5;
    /*border: 1px solid #FFF;*/
}

.nav_menu .menu_list1 li a:hover {
    background-color: transparent;
    /*border: 1px solid #FFF;*/
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #d4d4d5;
    /*border: 1px solid #FFF;*/
}

.ar-pad-less {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.ar-top-mar-pad {
    padding-top: 1em;
    margin-top: 1em;
}

.ar-page-head {
    height: 24em;
    margin-top: 5em;
    width: 100%;

}

.ar-page-head h1 {
    font-size: 4.5em;
    margin-top: 8%;
    text-transform: uppercase;
    color: #fff;

}

#ar-publication-head {
    background: url('images/publication-bg.jpg');
    background-size: cover;

}

#ar-aboutus-head {
    background: url('images/abt-bg.jpg');
    background-size: cover;

}

#ar-media-head {
    background: url('images/media-bg.jpg');
    background-size: cover;

}

#ar-report-head {
    background: url('images/abt-bg.jpg');
    background-size: cover;

}

.contact_form {

}

.contact_form h1 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: right;
}

.contact_form h2 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;

}

.ar-map-block {

}

.ar-map-block h2 {
    font-family: 'Lato', sans-serif;
    margin-top: 3.7em;
    text-transform: uppercase;
}

.ar-map-block h3 {
    font-family: 'Lato', sans-serif;
    text-align: left;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #666666;

}

h1 {
    font-family: "poiret one";
    font-size: 36px;
    text-transform: uppercase;
}

h4 {

    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #707070;
}

.form-control {
    border: 1px solid #ececec;
    border-radius: 0;
    box-shadow: 5px 5px 5px -6px #cccccc;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;

}

.btn-primary {
    color: #ffffff;
    background-color: #7bc5f8;
    border-color: transparent;
    font-family: 'Lato', sans-serif;
    fonr-weight: bold;
    letter-spacing: 2px;
    border-radius: 0;
    transition: all 0.2s;
}

.btn-primary:hover {
    background-color: #CCCCCC;
    transition: all 0.2s;
    color: #333333;
}

div#galltwo-wra {
    margin-top: 50px;
}

.form-control::-webkit-input-placeholder {
    color: #bfbfbf;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #bfbfbf;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #bfbfbf;
}

.form-control:-ms-input-placeholder {
    color: #bfbfbf;
}

.nav .navbar-nav .navbar-right {
    margin-right: 15px;
}

svg#Logo_1 {
    margin-left: 15px;
}

ul.nav.navbar-nav.navbar-right.main_menu.menu_list1 {
    padding-right: 0px;
    margin-right: 15px;
    transition: all 0.2s ease 0s;
}

/*.parallax-window {*/
/*min-height: 400px;*/
/*background: transparent;*/
/*}*/

#mapping {
    background: url('../images/content_image/map-bg(1).jpg') 50% 0 repeat fixed;
    /* background: url(http://webneel.com/wallpaper/sites/default/files/images/04-2013/indian-beach-wallpaper.jpg) 50% 0 no-repeat fixed; */
    /* background-color: red; */
    background-size: cover;
    height: 750px;
    padding-top: -103px;
    /*margin-top: 400px;*/
}


#mapping1 {
    background: url('../images/content_image/map-bg(1).jpg') 50% 0 repeat fixed;
    /*background:url(http://webneel.com/wallpaper/sites/default/files/images/04-2013/indian-beach-wallpaper.jpg) 50% 0 no-repeat fixed;*/
    /*background-color: red;*/
    background-size: cover;
    height: auto;
    padding-top: 2px;
    margin-top: 70px;
    padding-bottom: 30px;
}




.soc-icon-div.footer_img {
    margin-left: 21px;
}

.soc-icon-div.footer_img img {
    box-shadow: 2px 2px 10px -5px #202020;
    height: 55px;
    margin-right: 5px;
    margin-top: -75px;
}

p {
    color: #838383;
    font-size: 17px;
    line-height: 1.8;
    margin: 0 0 10px;
    text-align: justify;
}

.ar-pad-less {
    background-color: #f5f5f5;
}

.sec_details {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    box-shadow: 0 15px 0 0 #535353, 10px 35px 10px -10px #cecece;
    margin-bottom: 50px;
    padding: 50px;
}

.full_wrap {
    background-color: #f5f5f5;
    margin-top: -60px;
    margin-bottom: -30px;

}

.chart_style {
    background-color: #fff;
    margin-top: 50px;
    box-shadow: 0 15px 0 0 #535353, 10px 25px 10px -10px #d3d3d3;
    margin-bottom: 50px;
    border: 1px solid #e8e8e8;

}

.bar_style {
    /*background-color: white;*/
    /*margin-left:-15px;*/
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    box-shadow: 0 15px 0 0 #535353, 10px 25px 10px -10px #d3d3d3;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    /*margin-bottom: 50px;*/
}

.pie_style {
    background-color: #fff;
    margin-bottom: 50px;
    box-shadow: 0 15px 0 0 #535353, 10px 25px 10px -10px #d3d3d3;
    border: 1px solid #e8e8e8;
}
/*.menu.navbar-inverse .navbar-nav>.active>a {*/
    /*color: #fff;*/
    /*background-color: #d4d4d5;*/
/*}*/


/*.inside_menu ul li a:hover {*/
/*background-color: #dadada  ;*/
/*color: #fff;*/
/*transition: all 0.1s ease-in-out 0s;*/
/*box-shadow: 0 3px 0 0 #606060  ;*/
/*}*/

/*test gallery*/

.inside_menu ul li .active a:focus{
    text-align: center;
}

.grid {
    /*padding: 20px 20px 100px 20px;*/
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.grid li {
    display: inline-block;
    width: 440px;
    margin: 0;
    padding: 20px;
    text-align: left;
    position: relative;
}

.grid figure {
    margin: 0;
    position: relative;
}

.grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
}

.grid figcaption {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
    left: 0;
    padding: 50px;
    position: absolute;
    top: 0;
}

.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}

.grid figcaption span:before {
    content: 'by ';
}

.grid figcaption a {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 1px;
    color: #606060;
    display: inline-block;
    font-family: lato;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 31.5em) {
    .grid {
        /*padding: 10px 10px 100px 10px;*/
    }

    .grid li {
        width: 100%;
        min-width: 300px;
    }
}

@media screen and (max-width: 31.5em) {
    .grid {
        /*padding: 10px 10px 100px 10px;*/
    }

    .grid li {
        width: 100%;
        min-width: 300px;
    }
}

.cs-style-1 figcaption {
    height: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
    backface-visibility: hidden;
    transition: transform 0.3s, opacity 0.3s;
}

/*.no-touch .cs-style-1 figure:hover figcaption,*/
/*.cs-style-1 figure.cs-hover figcaption {*/
/*opacity: 1;*/
/*transform: translate(15px, 15px);*/
/*}*/

.cs-style-1 figcaption:hover {
    cursor: pointer;
    opacity: 0.7;
}

.cs-style-1 figcaption h3 {
    margin-top: 70px;
}

.cs-style-1 figcaption span {
    display: block;
}

.cs-style-1 figcaption a {
    margin-top: 30px;
}

.image_board {

    background: url('../images/content_image/wood.png') 0 0 no-repeat scroll;

    /*height: 25vw;*/
    /* width: 100%; */
    /*background-color: #fcc92f;*/
    margin-top: 200px;
    /*box-shadow: 3px 3px 30px -7px #666;*/
    position: relative;
    background-size: 100% 100%;

}

.imgBox1 {
    height: 470px;
    width: 300px;
    display: inline-block;
    background-color: white;
    margin-left: -20px;
    margin-top: -70px;
    /* position: absolute; */
    border: 10px solid #fff;
    box-shadow: 3px 3px 10px -4px #333;
}

.imgBox2 {
    height: 270px;
    width: 450px;
    display: inline-block;
    background-color: white;
    position: absolute;
    margin-left: 16px;
    margin-top: -55px;
    border: 10px solid #fff;
    box-shadow: 3px 3px 10px -4px #333;
}

.imgBox3 {
    height: 320px;
    width: 300px;
    /* display: inline-block; */
    background-color: white;
    position: absolute;
    margin-left: 770px;
    margin-top: -483px;
    border: 10px solid #fff;
    box-shadow: 3px 3px 10px -4px #333;
}

.imgBox4 {
    height: 320px;
    width: 300px;
    display: inline-block;
    background-color: white;
    /* position: absolute; */
    margin-left: 940px;
    border: 10px solid #fff;
    box-shadow: 3px 3px 10px -4px #333;
    margin-top: -140px;
}

.imgBox5 {
    height: 320px;
    width: 300px;
    display: inline-block;
    background-color: white;
    position: absolute;
    margin-left: 620px;
    margin-top: -325px;
    margin-right: -165px;
    border: 10px solid #fff;
    box-shadow: 3px 3px 10px -4px #333;
}

.imgBox6 {
    height: 320px;
    width: 300px;
    /* display: inline-block; */
    background-color: white;
    position: absolute;
    margin-left: 300px;
    margin-top: -350px;
    border: 10px solid #fff;
    box-shadow: 3px 3px 10px -4px #333;
}

img.hackathon {
    height: 300px;
    width: 300px
}

.smaller {
    /*transition: all 0.2s ease 0s;*/
}

.navbar-brand > h2 {
    color: #505050;
    font-family: "Crete Round", serif;
    left: 100px;
    position: absolute;
    top: 5px;
    transition: all 0.1s ease 0s;
    width: 489px;
}

.smaller .navbar-brand h2 {
    font-size: 20px;
    top: 0;
    transition: all 0.2s ease 0s;
    left: 55px;
}

.smaller svg#Logo_1 {
    transition: all 0.2s ease 0s;
    width: 30px;
    margin-left: 15px;
    margin-top: -10px;
}

.smaller ul.nav.navbar-nav.navbar-right.main_menu.menu_list1 li {
    font-size: 12px;
    transition: all 0.2s ease 0s;
}

.smaller ul.nav.navbar-nav.navbar-right.main_menu.menu_list1 li a {
    height: 40px;
    transition: all 0.2s ease 0s;
}

.smaller #main_navbar {
    height: 70px;
    transition: all 0.2s ease 0s;
}

.smaller .main_menu {
    padding-top: 5px;
    transition: all 0.2s ease 0s;
}

.smaller .nav_menu {
    background-color: #cccccc;
    border: medium none;
    height: 58px;
    box-shadow: 0 10px 10px -5px #636363;
}

#main_navbar.smaller .container-fluid {
    height: 70px;
    transition: all 0.2s ease 0s;
    background-color: #CCCCCC;
}

/*.navbar.navbar-default.nav_menu h2{*/
/*top:5px;*/
/*transition: all 0.2s ease 0s;*/
/*}*/

.cycle-slideshow {
    -webkit-perspective: 1000;
    -webkit-transform-style: preserve-3d;
    -moz-perspective: 1000;
    -moz-transform-style: preserve-3d;
    -o-perspective: 1000;
    -o-transform-style: preserve-3d;
    perspective: 1000;
    transform-style: preserve-3d;

    overflow: hidden!important;
    height:auto;
    transition: all 5s;
}
.cycle-slideshow.newStyle {
    height: 280px!important;
    width:100%;
}
.cycle-slideshow.newStyle3 {
    height: 280px!important;
}
.cycle-slideshow.newStyle4 {
    height: 280px!important;
}
.cycle-slideshow.newStyle5 {
    height: 280px!important;
}
.cycle-slideshow.newStyle6 {
    height: 280px!important;
}



/*.cycle-slideshow {*/
    /*-webkit-perspective: 1000;*/
    /*-webkit-transform-style: preserve-3d;*/
    /*-moz-perspective: 1000;*/
    /*-moz-transform-style: preserve-3d;*/
    /*-o-perspective: 1000;*/
    /*-o-transform-style: preserve-3d;*/
    /*perspective: 1000;*/
    /*transform-style: preserve-3d;*/

    /*overflow: hidden!important;*/
    /*height:563px;*/
    /*transition: all 5s;*/
/*}*/


.box1 {
    height: 550px;
    width: 280px;
    border: 4px black;
    background-color: red;
    display: inline-block;

}

.box2 {
    height: 280px;
    width: 280px;
    border: 4px black;
    background-color: green;
    display: inline-block;
    position: relative;
    top: -270px;

}

.box3 {
    height: 280px;
    width: 280px;
    border: 4px black;
    background-color: yellow;
    display: inline-block;
    position: relative;
    top: -270px;

}

.box4 {
    height: 280px;
    width: 280px;
    border: 4px black;
    background-color: grey;
    display: inline-block;
    position: relative;
    top: -270px;

}

.box5 {
    height: 280px;
    width: 280px;
    border: 4px black;
    background-color: magenta;
    display: inline-block;
    position: relative;
    /*top: -270px;*/

}

.box6 {
    height: 280px;
    width: 280px;
    border: 4px;
    background-color: slateblue;
    display: inline-block;
    position: relative;
    /*top: -270px;*
    /**/
    right: 0;
}

.collapse.navbar-collapse.in{

}


    /*mobile carousel*/

img.img-thumbnail {
    width: 95%;
    margin: auto;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

img.img-responsive.wow.zoomIn.hvr-grow-shadow.animated {
    height: 50px;
}

/**Mobile menu start*!/*/
.mobile-menu {
    margin-top: 0;
    margin-bottom: 0;
    /*background: none repeat scroll 0 0 #23262c;*/
    background-color: #fdfdfc;
    box-shadow: 0 50px 30px -25px #dcdcdc inset, 0 -70px 3px 0 #fff inset, 0 25px 15px -20px #b3b3b3;
}
.mobile-menu a {
    font-family: lato, sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    font-weight: 200;
}
.mobile-menu .nav > li a:hover {
    background-color: #E8E8E8;
    /*box-shadow: 0 50px 30px -25px #dcdcdc inset, 0 -70px 3px 0 #fff inset, 0 25px 15px -20px #b3b3b3;*/
}
.mobile-menu .dropdown-menu a:hover {
    background-color: #E8E8E8;
    /*border-bottom: 0px solid #b3b3b3;*/
}
.mobile-menu .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #E8E8E8;
}
.mobile-menu .navbar-header{
    background-color: #fdfdfc;
    border: medium none;
    box-shadow: 0 50px 30px -25px #dcdcdc inset, 0 -70px 3px 0 #fff inset, 0 25px 15px -20px #b3b3b3;
}
.mobile-menu .navbar-right > li + li {
    margin-top: 0;
}
.mobile-menu .navbar-header img {
    width: 35px;
    height: 35px;
    margin: 7px 0 8px 14px;
    float: left;
}
.navbar-inverse .navbar-nav > .open > a {
    background-color: #E8E8E8;
}
.mobile-menu .navbar-right a {
    /*background-color: #23262c;*/
    background-color: #fdfdfc;
    /*box-shadow: 0 50px 30px -25px #dcdcdc inset, 0 -70px 3px 0 #fff inset, 0 25px 15px -20px #b3b3b3;*/
    line-height: 1.6;
    margin: 0 auto;
}

.mobile-menu .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover,.navbar-inverse .navbar-nav > .open > a:active, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #E8E8E8;
    /*box-shadow: 0 50px 30px -25px #dcdcdc inset, 0 -70px 3px 0 #fff inset, 0 25px 15px -20px #b3b3b3;*/
    color: #fff;
}
.mobile-menu .navbar-right img {
    width: 44px;
    height: 22px;
    float: left;
}

.mobile-menu .navbar-nav .open .dropdown-menu {
    position: relative;
    width: 100%;
    background-color: #fdfdfc;
    /*box-shadow: 0 50px 30px -25px #dcdcdc inset, 0 -70px 3px 0 #fff inset, 0 25px 15px -20px #b3b3b3;*/
    border: none;
    padding: 10px 0 10px 50px;
}
.mobile-menu .navbar-nav .open .dropdown-menu li {
    background-color: red;
    box-shadow: 0 50px 30px -25px #dcdcdc inset, 0 -70px 3px 0 #fff inset, 0 25px 15px -20px #b3b3b3;
}
.mobile-menu .dropdown-menu li a {
    color: #fff;
}
.mobile-menu .dropdown-menu li a:hover {
    /*background-color: #E8E8E8;*/
}
.mobile-menu .navbar-collapse {
    box-shadow: 0 50px 30px -25px #dcdcdc inset, 0 -70px 3px 0 #fff inset, 0 25px 15px -20px #b3b3b3;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.mobile-menu .navbar-collapse .navbar-nav {
    margin: 0px -15px;
}


/*.menu.navbar-inverse .navbar-nav>.active>a {*/
    /*color: #fff;*/
    /*background-color: #d4d4d5;*/
/*}*/

.metro_wrapper {
    margin-left: 115px;
    margin-right: 130px;
    margin-bottom: -139px;
}

.img_container.col-md-4,.img_container.col-md-8{

     /*position: relative; */

     padding: 0px;
}


.col-md-4.blockStyle {
    padding: 0px;
}

.col-md-8.blockStyle {
    padding: 0px;
}