
    <h1>Guiding Principles</h1>

    <div class="reportSection">
        <div class="row">
            <div class="col-md-9 ">
                <p><b>Guidelines</b></p>
                <div>

                <p>The guidelines define the criteria for membership, role of the general council, role of the steering committee and the role of the member secretary.</p>

                </div>

                <div class="eyeReport">


                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="http://www.ewgbg.org/wp-content/uploads/2013/11/ewg/ABOUT EWG/About EWG/About EWG/Guiding Principles/Guidelines/Guideline for EWG-Final__Approved_Dec_2012.pdf">
                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">
                            </a>

                            <p>Guideline for EWG</p>

                            <a onClick="openTab(this)" href="#"
                               name="http://www.ewgbg.org/wp-content/uploads/2013/11/ewg/ABOUT EWG/About EWG/About EWG/Guiding Principles/Guidelines/Guideline for EWG-Final__Approved_Dec_2012.pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>

                </div>


            </div>
        </div>

<br/><br/>


        <div class="row">
            <div class="col-md-9 ">
                <p><b>Code of Conduct</b></p>

                <p><b> </b>A well-formulated Code of Conduct, widely known to all concerned, are followed by EWG members, the Secretariat of the EWG, field monitors, and coordinators&nbsp; to ensure that the monitoring activity remains absolutely and completely neutral and objective, does not interfere in the election process.</p>



                <div class="eyeReport">


                    <div class="eye_reportBlock">
                        <div class="eye_reportImg">
                            <a onClick="openTab(this)" href="#"
                               name="http://www.ewgbg.org/wp-content/uploads/2013/11/ewg/ABOUT EWG/About EWG/About EWG/Guiding Principles/Code of Conduct/Code of Ethics for Election Working Group Final.pdf">
                                <img class="eyeImg1" src="assets/images/content_image/pdf.png">
                            </a>

                            <p>Code of Ethics for EWG</p>

                            <a onClick="openTab(this)" href="#"
                               name="http://www.ewgbg.org/wp-content/uploads/2013/11/ewg/ABOUT EWG/About EWG/About EWG/Guiding Principles/Code of Conduct/Code of Ethics for Election Working Group Final.pdf">

                                <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                            </a>


                        </div>

                    </div>

                    <div class="eyeReport">


                        <div class="eye_reportBlock">
                            <div class="eye_reportImg">
                                <a onClick="openTab(this)" href="#"
                                   name="http://www.ewgbg.org/wp-content/uploads/2013/11/ewg/ABOUT EWG/About EWG/About EWG/Guiding Principles/Code of Conduct/EWG Supplement to Code of Ethics for Organizational Members.pdf">
                                    <img class="eyeImg1" src="assets/images/content_image/pdf.png">
                                </a>

                                <p>EWG Supplement to the Code of Ethics for Organizational Members</p>

                                <a onClick="openTab(this)" href="#"
                                   name="http://www.ewgbg.org/wp-content/uploads/2013/11/ewg/ABOUT EWG/About EWG/About EWG/Guiding Principles/Code of Conduct/EWG Supplement to Code of Ethics for Organizational Members.pdf">

                                    <img class="eyeImg2" src="assets/images/content_image/Report-book-image_07.png">


                                </a>


                            </div>

                        </div>

                    </div>


                </div>





            </div>
        </div>


    </div>





<script type="text/javascript">
    function openTab(th) {
        window.open(th.name, '_blank');
    }
</script>