<div class="container">





                    <div class="span12" style="margin-top: 150px;">
                        <h1>Guiding Principles</h1>










                        <p>The guiding principles of the EWG coalition includes the operational guideline and the code of conduct for the objective operations.</p>
                        <p>&nbsp;</p>
                        <p><b>Guidelines</b></p>
                        <p>The guidelines define the criteria for membership, role of the general council, role of the steering committee and the role of the member secretary.</p>



                        <p>Guideline for EWG&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.ewgbg.org/wp-content/uploads/2013/11/ewg/ABOUT EWG/About EWG/About EWG/Guiding Principles/Guidelines/Guideline for EWG-Final__Approved_Dec_2012.pdf">ENGLISH</a></p>
                        <p>&nbsp;</p>
                        <p><b>Code of Conduct</b></p>
                        <p><b> </b>A well-formulated Code of Conduct, widely known to all concerned, are followed by EWG members, the Secretariat of the EWG, field monitors, and coordinators&nbsp; to ensure that the monitoring activity remains absolutely and completely neutral and objective, does not interfere in the election process.</p>




                        <p>Code of Ethics for EWG&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.ewgbg.org/wp-content/uploads/2013/11/ewg/ABOUT EWG/About EWG/About EWG/Guiding Principles/Code of Conduct/Code of Ethics for Election Working Group Final.pdf">ENGLISH</a></p>
                        <p>EWG Supplement to the Code of Ethics for Organizational Members&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.ewgbg.org/wp-content/uploads/2013/11/ewg/ABOUT EWG/About EWG/About EWG/Guiding Principles/Code of Conduct/EWG Supplement to Code of Ethics for Organizational Members.pdf">ENGLISH</a></p>
                        <p>&nbsp;</p>







                    </div>

                </div>
