<div class="container">
    <div class="span9" style="  margin-top: 150px;">
        <h1 > Key Achievements</h1>










        <ul style="list-style-type: square;">
            <li>For the 2008 Parliament Elections EWG implemented a multi-pronged program strategy which included:
                <ul style="list-style-type: disc; height: 200px;">
                    <li>Comprehensive domestic election observation, including pre-election, election day and post-election observation through the deployment of over 140,000 election observers.</li>
                    <li>Voter and civic education programs in all 300 electoral constituencies, specifically targeting youth, women, religious and ethnic minorities and persons with disabilities.</li>
                    <li>Extensive support to the Election Commission in conducting voter outreach activities for updating the electoral roll in 2007 through an official Memorandum of Understanding between EWG and the Election Commission (signed on July 29, 2007)</li>
                    <li>Establishing grassroots citizen’s committees under the Citizens Alliance for the Promotion of Transparency and Accountability (CAPTA). CAPTA Committees were formed to hold elected officials accountable for fulfilling campaign pledges. A total of 481 CAPTA Committees were established prior to the national parliamentary elections of 2008.</li>
                </ul>
                <p>&nbsp;</p></li>
            <li>For the 2011 Paurashava Elections, EWG deployed 390 election observers in 78 paurashavas out of a total of 264 (30%) across seven divisions of the country,</li>
        </ul>
        <ul style="list-style-type: square;">
            <li>EWG also conducted election observation, including pre-election, election day and post-election observation during the 2011 Union Parishad Elections, covering a sample of 8,145 polling centers in 1,629 unions (40%), across all 64 districts of the country.</li>
        </ul>
        <ul style="list-style-type: square;">
            <li>EWG began its current phase of programming for the 10th Parliament Elections in September 2012 by monitoring the final phases of ECB’s voter registration exercise. EWG observed Phases 3 and 4 of ECB’s voter registration process which was carried out from July- December 2012, covering 102 upazilas out of a total of 235 upazilas where registration was undertaken during this period.</li>
        </ul>
        <ul style="list-style-type: square;">
            <li>In January 2013, Election Working Group (EWG) conducted an observation of the Voters’ List Display Period and an audit of the voters’ lists that were on display. From January 7 to 17, 2013, a total of 294 fully-trained, non-partisan EWG observers were deployed to all divisions of Bangladesh in 98 Upazilas where EWG member organizations have their strongest presence.</li>
        </ul>
        <ul style="list-style-type: square;">
            <li>The ECB arranged elections in Rajshahi, Khulna, Barisal and Sylhet city corporations on June 15, and a City Corporation election in Gazipur on July 6, 2013. EWG observed the election campaign period, election-day and post-election day in all five city corporation elections through 29 Long Term Observers (LTOs) and 147 Short Term Observers (STOs).</li>
        </ul>
        <ul style="list-style-type: square;">
            <li>EWG started long term pre-election observation for the 10th Parliamentary election in January 2013. One LTO was deployed in each of the 118 constituencies in which the EWG currently works. These constituencies cover all ten electoral regions, in 55 of the country’s 64 districts. LTOs are observing and reporting on election preparation and administration by ECB at the constituency level, the role of local administration in election preparation, premature or illegal campaigning activities, use of state resources and personnel to influence voters, political violence and intimidation, and local media reporting of the electoral process.</li>
        </ul>
        <ul style="list-style-type: square;">
            <li>In November 2013 EWG deployed additional LTOs in 32 constituencies with a significant population of religious and ethnic minorities; as such, EWG is currently covering 145 constituencies throughout the country.</li>
        </ul>







    </div>
</div>