<div class="container-fluid">
    <div class="visionAndMission_Header">
        <h1>Vision And Mission</h1>
    </div>

    <div class="container vision_article">
        <p>The Election Working Group (EWG) is a non-partisan, 29-member national coalition of civil society organizations that share a common commitment to free and fair elections, good governance and the achievement of higher standards of democratic representation and accountability in Bangladesh.

            It was established in 2006 and has been working on supporting free and fair elections through pre-election, Election Day, and post-election observation; civic and voter education; and advocacy on electoral reform.

            All members of the EWG have committed to abide by the EWG Code of Ethics, which includes maintaining strict political neutrality in carrying out all EWG activities. The Code of Ethics also includes a Code of Conduct for the EWG Secretariat and for all field staff, volunteers and monitors engaged by the EWG, to ensure political neutrality in fulfilling their duties.

            EWG activities promote greater accountability and integrity among candidates and elected officials, women’s participation, the needs and interests of youth voters, and the rights and participation of religious and ethnic minorities, disabled persons, and residents of geographically remote areas. EWG activities also aim to reduce the risk of election and post-election violence. The EWG intends to expand its scope of work in the field of governance in future.</p>



    </div>
</div>