<div id="map_header_div">
    <h2 id="map_header_h2" class=""> VOTER LIST UPDATE <br> (2014)</h2>

    <div id="map_desc_div"><h3>Draft Supplementary List</h3>
        From May to November 2014, the Election Commission Bangladesh (ECB) undertook the process of updating the
        Bangladesh Voter List. <br><br>
        <a class='btn btn-xs btn-info' ng-show="!show_desc" ng-click='show_desc =!show_desc'>read more <i
                class='fa fa-angle-down'></i></a>
         <span ng-show="show_desc">         On January 2 2015 ECB released the draft supplementary list of voters, including those newly added and those who migrated to a new upazila. 
         This map analyses the draft supplementary list, focusing on the regional and gender variations at the district level. 
         Citizens were given until January 22 to report necessary changes, with the new official voter list to be published on January 31 2015.<br><br>
         </span>
        <a class='btn btn-xs btn-warning' ng-show="show_desc" ng-click='show_desc =!show_desc'>show less <i
                class='fa fa-angle-up'></i></a>
    </div>
</div>