 <a ng-click="" id="gender_gap_a" class="map_header_h4_a" ui-sref="app_four">
                <h4 class="map_header_h4"><i class="fa fa-venus-mars"></i>&nbsp;Phase One
                  <i style="font-weight: normal;font-size:22px;" class="fa fa-angle-right pull-right"></i>
                </h4>
            </a>