
<div class="container-fluid map_container" style="" >

    <div class="row">
        <div class="col-md-3" id="map_left_column">
  
            <ng-include src="'appfour/_app_four_desc.tpl.html'"></ng-include>




   <ng-include src="'appfour/_new_voter_link.tpl.html'"></ng-include>
            <!--<ng-include src="'appfour/_gender_gap_phase_one.tpl.html'"></ng-include>-->
            <ng-include src="'appfour/_gender_gap_phase_two.tpl.html'"></ng-include>
            <ng-include src="'appfour/_gender_gap_phase_three.tpl.html'"></ng-include>



            <a id="gender_gap_a" class="map_header_h4_a" ui-sref="gender_gap"><h4 class="map_header_h4">
                    <i class="fa fa-venus-mars"></i>&nbsp;Gender Gap
                <i style="font-weight: normal;font-size:22px;" class="fa fa-angle-down pull-right"></i></h4>
            </a>
            <div class="animated slideInUp map_sub_panel">

                   <h4>    This shows the % points difference between the % of new male voters and the % of new female voters added in each district</h4>
                <hr>
                        
                        <table class="table table-bordered">
                            <tr><td style="background-color:#FE8484">&nbsp;</td><td>Less than 5% </td></tr>
                             <tr><td style="background-color:#FE5C5C">&nbsp;</td><td>5-10% </td></tr>
                                <tr><td style="background-color:#FE3939">&nbsp;</td><td> 10-15%</td></tr>
                                   <tr><td style="background-color:#FE2020">&nbsp;</td><td> 15-20%</td></tr>
                                      <tr><td style="background-color:#DB0000">&nbsp;</td><td>20-25% </td></tr>
                                         <tr><td style="background-color:#BA0000">&nbsp;</td><td> 25-30%</td></tr>
                                            <tr><td style="background-color:#6B0000">&nbsp;</td><td>30-35% </td></tr>
                                               <tr><td style="background-color:#530000">&nbsp;</td><td>35-40% </td></tr>
                                                  <tr><td style="background-color:#250000">&nbsp;</td><td> Greater than 40%</td></tr>
                        </table>
                      
              
               
            </div>

        </div>





        <div class="col-md-9" id="map_right_column" style="position:relative" >



            <div ui-view style="width:100%">
                
                <div  ng-show="showme" class=" animated lightSpeedIn map_side_pop_div" style="">

                            <h4 class="map_header_h4">District : {{name}}</h4></li>



                        <h5>
                            <span class="badge pull-right">{{gap}}%</span>
                            Gender Gap (%) 
                        </h5>
                        <h5 >
                            <span class="badge pull-right ">( {{femper}}%)</span>
                            <span class="badge pull-right ">{{feminc}}</span>
                            
                            New Female Voters &nbsp;&nbsp; 
                        </h5>
                        <h5 >
                            <span class="badge pull-right">( {{maleper}}% )</span>
                            <span class="badge pull-right">{{maleinc}}</span>
                            
                            New Male Voters
                        </h5>
           

                </div>
                <leaflet defaults="defaults"  class=" animated zoomIn"  id="map" layers="layers" center="bd" geojson="geojson" width="100%" height="680px"></leaflet>

            </div>


            <table ng-table="tableParams"  class="map_table table table-hover table-striped">




                <tr class="vu_data" ng-repeat="dist in $data"  >

                    <td data-title="'District'" sortable="'name'" ng-click="selectMe(dist.feature_id)"><a  >{{dist.name}}</a></td>

                    <td data-title="'Existing Voters'" sortable="'totla_voters'">{{dist.totla_voters}}</td>
                    <td data-title="'New Female'" sortable="'female_inc_num'">{{dist.female_inc_num}}</td>
                    <td data-title="'New Female(%)'" sortable="'femail_inc_per'">{{dist.femail_inc_per}}</td>
                    <td data-title="'New Male'" sortable="'male_inc_num'">{{dist.male_inc_num}}</td>
                    <td data-title="'New Male(%)'" sortable="'male_inc_per'">{{dist.male_inc_per}}</td>
                    <td data-title="'Total New Voters'" sortable="'totla_inc_num'">{{dist.totla_inc_num}}</td>
                    <td data-title="'Total New Voters(%)'" sortable="'total_inc_per'">{{dist.total_inc_per}}</td>
                    <td data-title="'Gender Gap(%)'" sortable="'M_F_DIFF'">{{dist.M_F_DIFF}}</td>

                </tr>

            </table>



        </div>
    </div>
</div>
<style>
    tr.vu_data td{text-align: right}

</style>

