<div class="container-fluid map_container" style="">

    <div class="row">
        <div class="col-md-3" id="map_left_column">

            <ng-include src="'appfour/_app_four_desc.tpl.html'"></ng-include>


            <ng-include src="'appfour/_new_voter_link.tpl.html'"></ng-include>
            <ng-include src="'appfour/_gender_gap_link.tpl.html'"></ng-include>
            <!--<ng-include src="'appfour/_gender_gap_phase_one.tpl.html'"></ng-include>-->
            <ng-include src="'appfour/_gender_gap_phase_two.tpl.html'"></ng-include>


            <a id="gender_gap_a" class="map_header_h4_a" ui-sref="gender_gap"><h4 class="map_header_h4">
                <i class="fa fa-venus-mars"></i>&nbsp;Phase Three
                <i style="font-weight: normal;font-size:22px;" class="fa fa-angle-down pull-right"></i></h4>
            </a>

            <div class="animated slideInUp map_sub_panel">



            </div>

        </div>


        <div class="col-md-9" id="map_right_column" style="position:relative">


            <div ui-view style="width:100%">


                <leaflet defaults="defaults" class=" animated zoomIn" id="map" layers="layers" center="bd"
                         geojson="geojson" width="100%" height="680px"></leaflet>

            </div>




        </div>
    </div>
</div>
<style>
    tr.vu_data td {
        text-align: right
    }

</style>

