<div class="container-fluid map_container" style="">

    <div class="row">
        <div class="col-md-3" id="map_left_column">



            <ng-include src="'appfour/_app_four_desc.tpl.html'"></ng-include>

            <div class="view_list">
            <ng-include src="'appfour/_new_voter_link.tpl.html'"></ng-include>
            <ng-include src="'appfour/_gender_gap_link.tpl.html'"></ng-include>
            <ng-include src="'appfour/_gender_gap_phase_two.tpl.html'"></ng-include>
            <ng-include src="'appfour/_gender_gap_phase_three.tpl.html'"></ng-include>
            </div>

            <a id="gender_gap_a" class="map_header_h4_a" ui-sref="gender_gap"><h4 class="map_header_h4">
                <i class="fa fa-venus-mars"></i>&nbsp;Phase one
                <i style="font-weight: normal;font-size:22px;" class="fa fa-angle-down pull-right"></i></h4>
            </a>

            <div class="animated slideInUp map_sub_panel">



            </div>

        </div>


        <div class="col-md-9" id="map_right_column" style="position:relative">


            <div ui-view style="width:100%">

                <div ng-show="showme" class=" animated lightSpeedIn map_side_pop_div" style="">

                    <h4 class="map_header_h4">District : {{name}}</h4></li>


                    <h5>
                        <span class="badge pull-right">{{gap}}%</span>
                        Gender Gap (%)
                    </h5>
                    <h5>
                        <span class="badge pull-right ">( {{femper}}%)</span>
                        <span class="badge pull-right ">{{feminc}}</span>

                        New Female Voters &nbsp;&nbsp;
                    </h5>
                    <h5>
                        <span class="badge pull-right">( {{maleper}}% )</span>
                        <span class="badge pull-right">{{maleinc}}</span>

                        New Male Voters
                    </h5>


                </div>
                <leaflet defaults="defaults" class=" animated zoomIn" id="map" layers="layers" center="bd"
                         geojson="geojson" width="100%" height="680px"></leaflet>

            </div>


            <table style=" display: none" ng-table="tableParams" class="map_table table table-hover table-striped">


                <tr class="vu_data" ng-repeat="dist in $data">

                    <td data-title="'District'" sortable="'name'" ng-click="selectMe(dist.feature_id)">
                        <a>{{dist.name}}</a></td>

                    <td data-title="'Existing Voters'" sortable="'totla_voters'">{{dist.totla_voters}}</td>
                    <td data-title="'New Female'" sortable="'female_inc_num'">{{dist.female_inc_num}}</td>
                    <td data-title="'New Female(%)'" sortable="'femail_inc_per'">{{dist.femail_inc_per}}</td>
                    <td data-title="'New Male'" sortable="'male_inc_num'">{{dist.male_inc_num}}</td>
                    <td data-title="'New Male(%)'" sortable="'male_inc_per'">{{dist.male_inc_per}}</td>
                    <td data-title="'Total New Voters'" sortable="'totla_inc_num'">{{dist.totla_inc_num}}</td>
                    <td data-title="'Total New Voters(%)'" sortable="'total_inc_per'">{{dist.total_inc_per}}</td>
                    <td data-title="'Gender Gap(%)'" sortable="'M_F_DIFF'">{{dist.M_F_DIFF}}</td>

                </tr>

            </table>


        </div>
    </div>
</div>
<style>
    tr.vu_data td {
        text-align: right
    }

</style>

