
<div class="container-fluid map_container" style="" >

    <div class="row">
        <div class="col-md-3" id="map_left_column">



            <div id="map_header_div">
                <h2 id="map_header_h2" class=""><i class="fa fa-bar-chart"></i>&nbsp;2014 Voter List Update:</h2>
                <div  id="map_desc_div"><h3>Draft Supplementary List</h3>
                    From May to November 2014, the Election Commission Bangladesh (ECB) undertook the process of updating the Bangladesh Voter List.

                    On January 2 2015 ECB released the draft supplementary list of voters, including those newly added and those who migrated to a new upazila.
                    This map analyses the draft supplementary list, focusing on the regional and gender variations at the district level.
                    Citizens were given until January 22 to report necessary changes, with the new official voter list to be published on January 31 2015.


                </div>
            </div>

            <ng-include src="'appfour/_new_voter_link.tpl.html'"></ng-include>
            <ng-include src="'appfour/_gender_gap_link.tpl.html'"></ng-include>



        </div>





        <div class="col-md-9" id="map_right_column" style="position:relative" >



            <div ui-view style="width:100%">

                <leaflet defaults="defaults" id="map" layers="layers" center="bd" geojson="geojson" width="100%" height="680px"></leaflet>

            </div>


            <table ng-table="tableParams"  class="table table-hover table-striped">




                <tr class="vu_data" ng-repeat="dist in $data" >

                    <td data-title="'District'" sortable="'name'" ng-click="selectMe(dist.feature_id)"><a  >{{dist.name}}</a></td>

                    <td data-title="'Existing Voters'" sortable="'totla_voters'">{{dist.totla_voters}}</td>
                    <td data-title="'New Female'" sortable="'female_inc_num'">{{dist.female_inc_num}}</td>
                    <td data-title="'New Female(%)'" sortable="'femail_inc_per'">{{dist.femail_inc_per}}</td>
                    <td data-title="'New Male'" sortable="'male_inc_num'">{{dist.male_inc_num}}</td>
                    <td data-title="'New Male(%)'" sortable="'male_inc_per'">{{dist.male_inc_per}}</td>
                    <td data-title="'Total New Voters'" sortable="'totla_inc_num'">{{dist.totla_inc_num}}</td>
                    <td data-title="'Total New Voters(%)'" sortable="'total_inc_per'">{{dist.total_inc_per}}</td>
                    <td data-title="'Gender Gap(%)'" sortable="'M_F_DIFF'">{{dist.M_F_DIFF}}</td>

                </tr>

            </table>



        </div>
    </div>
</div>
<style>
    tr.vu_data td{text-align: right}

</style>

