            <div id="map_header_div">
                <h2 id="map_header_h2" class=""><i class="fa fa-bar-chart"></i>&nbsp;Violance</h2>
                <div id="map_desc_div"><h3>Draft Supplementary List</h3>
                    The regional variation on events of political violence is quite extensive. Dhaka division, containing the
                    capital district of Dhaka, is the most affected by political violence. Next, a group of three divisions List.
         <a  class='btn btn-xs btn-info' ng-show="!show_desc" ng-click='show_desc =!show_desc'>read more <i class='fa fa-angle-down'></i></a>
         <span ng-show="show_desc">

                    (Chittagong, Rajshahi and Khulna) are a middle group, with Chittagong division, with the largest city clearly
                    being affected most. Finally, a third group of divisions (Rangpur, Barisal and Sylhet) are substantially less
                    affected. Finally, reports that explicitly state to have affected multiple divisions, without specifying
                    particular events in particular divisions only make up about 1 per cent of all events.
         </span>
         <a class='btn btn-xs btn-warning' ng-show="show_desc" ng-click='show_desc =!show_desc'>show less <i class='fa fa-angle-up'></i></a>
                </div>
            </div>