
<div class="container-fluid map_container" style="" >

    <div class="row">
        <div class="col-md-3" id="map_left_column">
  
            <ng-include src="'appseven/_app_seven_desc.tpl.html'"></ng-include>




            <ng-include src="'appseven/_app_seven_district_event_link.tpl.html'"></ng-include>

            <ng-include src="'appseven/_app_seven_district_wounded_link.tpl.html'"></ng-include>



            <a id="gender_gap_a" class="map_header_h4_a" ui-sref=".seven_dist_casualties"><h4 class="map_header_h4">
                    <i class="fa fa-venus-mars"></i>&nbsp;casualties
                <i style="font-weight: normal;font-size:22px;" class="fa fa-angle-down pull-right"></i></h4>
            </a>
            <div class="animated slideInUp map_sub_panel">

                <h4>  Casualties number and percent in each district </h4>
                        <table class="table table-bordered">
                            <tr><td style="background-color:#04756F">&nbsp;</td><td>0</td></tr>
                             <tr><td style="background-color:#FF8C00">&nbsp;</td><td>1-100 </td></tr>
                                <tr><td style="background-color:#FF2D00">&nbsp;</td><td> 101-200</td></tr>
                                <tr><td style="background-color:#D90000">&nbsp;</td><td> Greater than 200</td></tr>
                        </table>
                      
              
               
            </div>

        </div>





        <div class="col-md-9" id="map_right_column" style="position:relative" >



            <div ui-view style="width:100%">
                
                <div  ng-show="showme" class=" animated lightSpeedIn map_side_pop_div" style="">

                            <h4 class="map_header_h4">District : {{name}}</h4></li>



                        <h5>
                            <span class="badge pull-right">{{casualtnu}}</span>
                            Number
                        </h5>
                        <h5 >
                            <span class="badge pull-right ">{{casualtpr}}</span>

                            
                            % of casualties &nbsp;&nbsp;
                        </h5>

           

                </div>
                <leaflet defaults="defaults"  class=" animated zoomIn"  id="map" layers="layers" center="bd" geojson="geojson" width="100%" height="680px"></leaflet>

            </div>


            <table ng-table="tableParams"  class="map_table table table-hover table-striped">




                <tr class="vu_data" ng-repeat="dist in $data"  >

                    <td data-title="'District'" sortable="'name'" ng-click="selectMe(dist.feature_id)"><a  >{{dist.name}}</a></td>

                    <td data-title="'Existing Voters'" sortable="'totla_voters'">{{dist.totla_voters}}</td>
                    <td data-title="'New Female'" sortable="'female_inc_num'">{{dist.female_inc_num}}</td>
                    <td data-title="'New Female(%)'" sortable="'femail_inc_per'">{{dist.femail_inc_per}}</td>
                    <td data-title="'New Male'" sortable="'male_inc_num'">{{dist.male_inc_num}}</td>
                    <td data-title="'New Male(%)'" sortable="'male_inc_per'">{{dist.male_inc_per}}</td>
                    <td data-title="'Total New Voters'" sortable="'totla_inc_num'">{{dist.totla_inc_num}}</td>
                    <td data-title="'Total New Voters(%)'" sortable="'total_inc_per'">{{dist.total_inc_per}}</td>
                    <td data-title="'Gender Gap(%)'" sortable="'M_F_DIFF'">{{dist.M_F_DIFF}}</td>

                </tr>

            </table>



        </div>
    </div>
</div>
<style>
    tr.vu_data td{text-align: right}

</style>

