
<div class="container-fluid map_container" style="" >

    <div class="row">
        <div class="col-md-3" id="map_left_column">

            

             <div id="map_header_div">
                <h2 id="map_header_h2" class=""><i class="fa fa-bar-chart"></i>&nbsp;Violance Report:</h2>
                <div  id="map_desc_div"><h3>Draft Report</h3>
                    The regional variation on events of political violence is quite extensive. Dhaka division, containing the
                    capital district of Dhaka, is the most affected by political violence. Next, a group of three divisions
                    (Chittagong, Rajshahi and Khulna) are a middle group, with Chittagong division, with the largest city clearly
                    being affected most. Finally, a third group of divisions (Rangpur, Barisal and Sylhet) are substantially less
                    affected. Finally, reports that explicitly state to have affected multiple divisions, without specifying
                    particular events in particular divisions only make up about 1 per cent of all events.
                </div>
            </div>

            <!--
            <ng-include src="'templates/_new_voter_link.html'"></ng-include> Sylhet.! Khulna,! Barisal! and! Gazipur! take!
more! middle! position! in! this! list! of! most!
affected! districts,! with! Rangpur! being!
comparatively!less!affected!(see!table!4).!Of!
the! districts! not! containing! a! major! city,!
Noakhali,!Pabna,!Comilla,!Kushtia!and!Bogra!
top! the! list! of! districts! highly! affected! by!
events! of! political! violence.! What! should
            <ng-include src="'templates/_gender_gap_link.html'"></ng-include>
            -->

            <ng-include src="'appseven/_app_seven_district_event_link.tpl.html'"></ng-include>
            <ng-include src="'appseven/_app_seven_district_wounded_link.tpl.html'"></ng-include>
            <ng-include src="'appseven/_app_seven_district_casualties_link.tpl.html'"></ng-include>
           
       
 
</div>
      
            
            
 
 
        <div class="col-md-9" id="map_right_column" style="position:relative" >

            <div ui-view style="width:100%">
            
            <leaflet defaults="defaults" id="map" layers="layers" center="bd" geojson="geojson" width="100%" height="680px"></leaflet>
      
 </div>


<table ng-table="tableParams"  class="table table-hover table-striped">


 
 
 <tr class="vu_data" ng-repeat="dist in $data" >

     <td data-title="'District'" sortable="'name'" ng-click="selectMe(dist.feature_id)"><a  >{{dist.name}}</a></td>
  
  <td data-title="'Existing Voters'" sortable="'totla_voters'">{{dist.totla_voters}}</td>
   <td data-title="'New Female'" sortable="'female_inc_num'">{{dist.female_inc_num}}</td>
  <td data-title="'New Female(%)'" sortable="'femail_inc_per'">{{dist.femail_inc_per}}</td>
   <td data-title="'New Male'" sortable="'male_inc_num'">{{dist.male_inc_num}}</td>
  <td data-title="'New Male(%)'" sortable="'male_inc_per'">{{dist.male_inc_per}}</td>
   <td data-title="'Total New Voters'" sortable="'totla_inc_num'">{{dist.total_inc_num}}</td>
  <td data-title="'Total New Voters(%)'" sortable="'total_inc_per'">{{dist.total_inc_per}}</td>
 <td data-title="'Gender Gap(%)'" sortable="'M_F_DIFF'">{{dist.M_F_DIFF}}</td>

 </tr>
 
</table>
           
   
   
    </div>
</div>
</div>
<style>
    tr.vu_data td{text-align: right}
    
</style>

