<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
<head>

    <title ng-bind="pageTitle"></title>
    <link rel="shortcut icon" type="image/png" href="/assets/images/content_image/fav.png"/>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description"
          content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src"
          content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://bit.ly/ngBoilerplate"/>
    <meta property="og:image"
          content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846"/>
    <meta property="og:description"
          content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' ; rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crete+Round:400,400italic' ; rel='stylesheet' type='text/css'>


    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
    <!--for mobile-->
    <!--load jQuery, required-->
    <script src="vendor/jquery/dist/jquery.min.js"></script>

    <!--load jPushMenu, required-->
    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
        {
            "parsetags"
        :
            "explicit"
        }
    </script>

    <link href="assets/css/hover-min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Poiret+One">
    <script src="assets/js/owl.carousel.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="vendor/cycle/jquery.cycle2.js"></script>
    <script src="vendor/cycle/jquery.cycle2.tile.js"></script>
    <script src="vendor/cycle/jquery.cycle2.min.js"></script>
    <script src="vendor/cycle/jquery.cycle2.flip.js"></script>
    <!--<script type="text/javascript" src="http://malsup.github.com/chili-1.7.pack.js"></script>-->
    <!--<script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>-->
    <!--<script type="text/javascript" src="http://malsup.github.com/jquery.easing.1.3.js"></script>-->
    <script src="vendor/parallax.js-1.3.1/parallax.js"></script>
    <script src="vendor/parallax.js-1.3.1/parallax.min.js"></script>
    <script src="vendor/classie/classie.js"></script>
    <!--<script src="flipcard.js"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
    <script src="assets/js/angular-placeholders-0.0.1-SNAPSHOT.min.js"></script>
    <!--<script src="javascript/prefixfree.min.js"></script>-->
    <script src="https://raw.githubusercontent.com/benkeen/d3pie/0.1.8/d3pie/d3pie.min.js"></script>
    <!--wow.js-->
    <link rel="stylesheet" href="assets/css/animate.css">
    <script src="assets/js/wow.min.js"></script>
    <script>
        new WOW().init();


    </script>


    <!----EWG MAP --ALL --Start--->
    <link rel="stylesheet" href="assets/bower_components/angular-motion/dist/angular-motion.min.css">
    <link rel="stylesheet" href="assets/bower_components/ng-table/dist/ng-table.min.css">

    <link rel="stylesheet" href="assets/styles/leaflet.css">
    <link rel="stylesheet" href="assets/styles/select.min.css">

    <link rel="stylesheet" href="assets/styles/select.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">


    <script src="assets/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="assets/bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="assets/bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="assets/bower_components/ng-table/dist/ng-table.min.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.bootstrap3.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script>


    <!--<script src="assets/js/dependencies/sails.io.js"></script>-->
    <script src="assets/js/dependencies/angular-scroll.js"></script>
    <script src="assets/js/dependencies/leaflet.js"></script>
    <script src="assets/js/dependencies/select.min.js"></script>

    <script src="assets/js/angular-leaflet-directive.min.js"></script>


    <!----EWG MAP --ALL --END--->


    <!--<script src="assets/js/jPushMenu..cycle-slideshow {
    -webkit-perspective: 1000;
    -webkit-transform-style: preserve-3d;
    -moz-perspective: 1000;
    -moz-transform-style: preserve-3d;
    -o-perspective: 1000;
    -o-transform-style: preserve-3d;
    perspective: 1000;
    transform-style: preserve-3d;
}
js"></script>-->

    <!--call jPushMenu, required-->
    <!--<script>-->
    <!--jQuery(document).ready(function($) {-->
    <!--$('.toggle-menu').jPushMenu();-->
    <!--});-->
    <!--</script>-->


</head>
<body>


<!--<div class="se-pre-con">-->
<!--&lt;!&ndash;-<i class="fa fa-refresh fa-spin"></i>&ndash;&gt;-->
<!--</div>-->

<style>
    .no-js #loader {
        display: none;
    }

    .js #loader {
        display: block;
        position: absolute;
        #d4d4d4 left: 100px;
        top: 0;
    }

    .se-pre-con {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;

    }
</style>

<script>
    $(window).load(function () {
// Animate loader off screen
        $(".se-pre-con").fadeOut("slow");
        ;
    });
</script>


<!--.....................................menu..................................................-->

<nav id="main_navbar"
     class=" large_menu hidden-sm hidden-xs animated slideInDown navbar navbar-inverse navbar-fixed-top normal_menu1">
    <div class="container-fluid">
        <div class="menu">
            <div class="navbar navbar-default nav_menu">
                <div class="navbar-header">


                    <div class="navbar-brand">
                        <div class="logon">
                            <a href ui-sref="home">


                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Logo_1" x="0px" y="0px" height="50px" viewBox="0 0 161.5 126.5" enable-background="new 0 0 161.5 126.5" xml:space="preserve">
                         <g>
	                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M18.242,121.633l-4.443-3.096l14.752-16.27   l0.461-25.87h-5.653L22.999,49.83l6.013,19.313h2.918c0,0-5.045-7.413,3.334-9.145c0,0,8.109,3.026-0.014,9.713l18.354,18.354   H42.745l8.976,33.568h-5.61l-6.731-18.04L18.242,121.633z"/>
	                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M60.247,122.486h2.124v-4.502h2.139v4.277v0.748   h2.581v-5.025h4.974l-3.351-28.184l6.836,12.043l2.199-1.347l-7.001-16.604l8.787-14.75l-2.685-0.463l-4.801,5.564   c0,0-0.083-7.28-7.574-4.089c0,0-3.302,3.969,1.425,6.87l-5.653,9.693l1.391-6.551l-6.507,0.27l1.346,14l1.706-0.224l-0.493,23.066   l2.647,0.225L60.247,122.486z"/>
	                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M88.119,95.082l-1.332-1.037   c-4.666,2.441-7.849,7.328-7.849,12.961c0,8.079,6.549,14.628,14.628,14.628c6.904,0,12.694-4.788,14.228-11.228l-1.336-1.039"/>
	                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M106.458,109.367   c-1.111,6.111-6.462,10.746-12.892,10.746c-7.238,0-13.107-5.869-13.107-13.107c0-5.295,3.14-9.855,7.66-11.923"/>
	                            <polygon fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="91.212,101.708 91.212,81.848    95.161,81.848 95.161,88.664 106.458,88.664 106.458,91.777 95.042,91.777 95.042,100.752 115.146,100.752 115.146,112.239    118.196,112.239 118.196,114.872 111.915,114.872 111.915,102.688 91.212,102.688  "/>
	                            <ellipse fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" cx="93.306" cy="76.039" rx="4.727" ry="4.607"/>
	                            <polygon fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="99.378,79.675 100.905,80.646    111.316,66.525 109.401,65.328  "/>
	                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M141.115,114.633H128.19l-3.231,6.463v-6.463   h-3.231l6.463-9.693V69.396h3.231l-3.231-3.23l3.231-3.23c0,0-1.197-3.83,3.23-3.231l3.231-9.694v12.926   c0,0,5.265,4.905-3.231,6.461l16.155,16.156l-12.924-3.231l9.693,32.312h-3.231l-3.23,6.463V114.633z"/>
	                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M118.459,9.395   c0.023,0.611,0.038,1.225,0.038,1.842c0,23.199-16.637,42.006-37.157,42.006c-20.522,0-37.158-18.807-37.158-42.006   c0-0.262,0.004-0.522,0.008-0.783c-12.684,4.52-25.98,11.578-39.643,22c0,0,78.226,81.771,152.932-2.154   C157.479,30.299,142.634,17.226,118.459,9.395z"/>
	                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M44.189,10.453   C73.121,0.143,98.856,3.045,118.46,9.395"/>
	                            <polygon fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="82.954,46.779 82.954,24.161    102.342,17.699 102.342,40.316  "/>
	                            <polygon fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="82.954,46.779 57.105,40.316    57.105,17.699 82.954,24.161  "/>
	                            <polygon fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="102.342,17.699 76.492,11.236    57.105,17.699 82.954,24.161  "/>
	                            <polygon fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="84.121,20.57 89.536,15.797 80.621,5.492    72.233,14.561 75.012,18.104  "/>
                            </g>
                    </svg>
                            </a>
                        </div>

                        <h2>
                            <strong>Election Working Group</strong></h2>

                    </div>
                </div>
                <div class="collapse navbar-collapse" collapse="menuCollapsed">
                    <ul class="nav navbar-nav navbar-right main_menu menu_list1">

                        <!--<li ui-sref-active="active">-->
                        <li ui-sref-active="active">
                            <a href ui-sref="home" class="hvr-underline-from-left">
                                {{'HOME'}}

                            </a>
                        </li>


                        <li ui-sref-active="active">
                            <a href ui-sref="about" class="hvr-underline-from-left">
                                {{'ABOUT US'}}

                            </a>


                        </li>

                        <li ui-sref-active="active">
                            <a href ui-sref="reports" class="hvr-underline-from-left">

                                {{'REPORTS'}}
                            </a>
                        </li>


                        <li ui-sref-active="active">
                            <a href ui-sref="publications" class="hvr-underline-from-left">

                                {{ 'PUBLICATIONS'}}
                            </a>


                        </li>

                        <li ui-sref-active="active">
                            <a href ui-sref="mediaCoverage" class="hvr-underline-from-left">

                                {{'MEDIA'}}
                            </a>


                        </li>

                        <li class="dropdown" ui-sref-active="active">
                            <a style="" class="dropdown-toggle btn-trans" data-toggle="dropdown" href="#">MAP<b
                                    class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" style="" role="menu">

                                <li><a style="" ui-sref="gender_gap">{{'app four'}} </a></li>
                                <li><a style="" ui-sref="app_six">{{'App six'}} </a></li>
                                <li><a style=" margin-bottom: 0;" ui-sref="app_eight"> {{'App eight'}} </a></li>
                            </ul>
                        </li>

                        <li class="dropdown" ui-sref-active="active">
                            <a style="" class="dropdown-toggle btn-trans" data-toggle="dropdown" href="#">GALLERY <b
                                    class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" style="" role="menu">

                                <li><a style="" ui-sref="citygallery">{{'Citycorporation'}} </a></li>
                                <li><a style="" ui-sref="dhakathgallery">{{'Dhakathon'}} </a></li>
                                <li><a style=" margin-bottom: 0;" ui-sref="mapathongallery"> {{'Mapathon'}} </a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>


<!--..............................................java script for nav.........................-->


<script>

    $(document).scroll(function () {
        if ($(this).scrollTop() > 20) {
            $(".large_menu").addClass('normal_menu1');
            //$("#logo_name").show():

        }
        else {
            $(".large_menu").removeClass('normal_menu1'); // Add brandnewclass for transition effects while returning back to the previous state.\
            //  $("#logo_name").hide():
        }

    });
</script>


<style>
    #scroll_top {
        background-color: #7bc5f8;
        border-radius: 2px 0 0 2px;
        bottom: 200px;
        color: #ffffff;
        display: none;
        font-weight: bold;
        opacity: 0.8;
        padding: 20px 25px;
        position: fixed;
        right: 0;
        z-index: 100;
    }
</style>

<a id="scroll_top" href="#top" class="scrollup"><i class="fa fa-chevron-up"></i></a>

<script type="text/javascript">
    $(document).ready(function () {


        $(window).scroll(function () {
            if ($(this).scrollTop() > 600) {
                $('#scroll_top').fadeIn();
            } else {
                $('#scroll_top').fadeOut();
            }
        });


        $("a[href='#top']").click(function () {
            $("html, body").animate({scrollTop: 0}, "slow");
            return false;
        });

    });
</script>




<!--................................................. menu end.....................................-->
<!--...............................mobile push menu................................-->

<nav class="navbar navbar-inverse visible-sm visible-xs mobile-menu">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href ui-sref="home"><img class="img-responsive wow zoomIn animated hvr-grow-shadow" data-wow-delay="1s"
                                        src="assets/images/content_image/fav.png"/></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li data-toggle="collapse" data-target="#myNavbar">
                    <a href ui-sref="home">Home</a>
                </li>
                <li class="dropdown" data-toggle="collapse" data-target="#myNavbar">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" href ui-sref="about">

                        About Us
                    </a>
                    <ul class="dropdown-menu">
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="about" class="active">ABOUT
                            US</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href="#/about/guidingPrinciples"
                                                                              ui-sref="about.guidingPrinciples"
                                                                              class="active">GUIDING PRINCIPLES</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href="#/about/keyAchievements"
                                                                              ui-sref="about.keyAchievements"
                                                                              class="active">KEY ACHIEVEMENTS</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href="#/about/visionAndMission"
                                                                              ui-sref="about.visionAndMission"
                                                                              class="active">VISION AND MISSION</a></li>

                    </ul>
                </li>
                <li data-toggle="collapse" data-target="#myNavbar">
                    <a href ui-sref="reports">
                        REPORTS
                    </a>

                </li>
                <li class="dropdown" data-toggle="collapse" data-target="#myNavbar">
                    <a class="dropdown-toggle" data-toggle="dropdown" href ui-sref="admission">
                        PUBLICATIONS
                    </a>
                    <ul class="dropdown-menu">
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="publications"
                                                                              class="active">PUBLICATIONS</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="publications.eyeOnElection"
                                                                              class="active">EYE ON ELECTIONSy</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="publications.ecbResources"
                                                                              class="active">ECB RESOURCES</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="publications.policyBriefs"
                                                                              class="active">POLICY BRIEFS</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href
                                                                              ui-sref="publications.preliminaryStatements"
                                                                              class="active">PRELIMINARY STATEMENTS</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" data-toggle="collapse" data-target="#myNavbar">
                    <a class="dropdown-toggle" data-toggle="dropdown" href ui-sref="mediaCoverage">
                        MEDIA
                    </a>
                    <ul class="dropdown-menu">
                        <li data-toggle="collapse" data-target="#myNavbar">NEWS</a></li>

                    </ul>
                </li>

                <li class="dropdown" data-toggle="collapse" data-target="#myNavbar">
                    <a class="dropdown-toggle" data-toggle="dropdown" href ui-sref="#">
                        MAP
                    </a>
                    <ul class="dropdown-menu">
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="gender_gap" class="active">APP
                            FOUR</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="app_six" class="active">APP
                            SIX</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="app_eight" class="active">APP
                            EIGHT</a></li>
                    </ul>
                </li>
                <li class="dropdown" data-toggle="collapse" data-target="#myNavbar">
                    <a class="dropdown-toggle" data-toggle="dropdown" href ui-sref="#">
                        GALLERY
                    </a>
                    <ul class="dropdown-menu">
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="citygallery" class="active">CITYCORPORATION</a>
                        </li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="dhakathgallery"
                                                                              class="active">DHAKATHON</a></li>
                        <li data-toggle="collapse" data-target="#myNavbar"><a href ui-sref="mapathongallery"
                                                                              class="active">MAPATHON</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!--...............................mobile push menu end................................-->

<div class="container-fluid ar-pad-less" autoscroll ui-view="main" style=" background: #F5F5F5;">


    <div style="padding:300px;height:1000px;background:#31353B;text-align:center">
        <img class="se-pre-con" style="width: 100px;height: 100px" src="assets/images/content_image/ewg.gif"/>

        <h2 style="color:#999">EWG presents</h2>

    </div>


</div>
<div class=" container-fluid" style=" background: #434343;">
    <div class=" container Footer_section">

        <div class="row">

            <div class="quick_link col-md-5">
                <h3 style="text-align: left;font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    ">QUICK LINKS</h3>

                <ul style="font-family: 'Raleway', sans-serif;font-style: italic;font-weight: 300;
    font-size: 18px;color:#8c8c8c;">
                    <li><a href ui-sref="home">Home</a></li>
                    <li><a href ui-sref="about">About Us</a></li>
                    <li><a href ui-sref="reports">Reports</a></li>
                    <li><a href ui-sref="publications">Publications</a></li>
                    <li><a href ui-sref="mediaCoverage">Media</a></li>
                </ul>


            </div>


            <div class="address-block col-md-7" style="border-left: 1px solid #505050;">
                <h3 style="color: #cccccc;font-family: 'Lato', sans-serif;margin-left: 20px;">TOP ORDER</h3>

                <p style="color:#8C8c8c; margin-left: 20px;"> EWG's Eye on Election reports present data and information
                    on election- related preparation and events related to 10th Parliamentary Election, and on voter’s
                    views regarding these issues. The monthly reports provide data from 118 constituencies covering all
                    ten electoral regions.</p>

                <div class="soc-icon-div footer_img">
                    <img src="assets/images/content_image/fb.png"/>
                    <img src="assets/images/content_image/tweet.png"/>
                    <img src="assets/images/content_image/in.png"/>
                    <img src="assets/images/content_image/youtube.png"/>
                    <img src="assets/images/content_image/google.png"/>
                </div>

                <p style="text-align: right; font-style:italic;text-transform: none;">Copyright &copy; 2015. Election
                    Working Group</p>
            </div>


        </div>
    </div>
</div>


</body>


</html>
want you as working partner

<script>
    new Vivus('Logo_1', {
        type: 'delayed',
        duration: 200,
        start: 'autostart',
        repeatCount: 'indefinite'
    });


</script>


<!--<script src="js/classie.js"></script>-->
<script>
    function init() {
        window.addEventListener('scroll', function (e) {
            var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                    shrinkOn = 10,
                    nav = document.querySelector("nav");
            if (distanceY > shrinkOn) {
                classie.add(nav, "smaller");
            } else {
                if (classie.has(nav, "smaller")) {
                    classie.remove(nav, "smaller");
                }
            }
        });
    }
    window.onload = init();
</script>


