
a.active{
    font-weight:bold;
}
body{
    padding-top: 54px;
    background-color:#232C35;
    
}
.collapse.am-collapse {
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  overflow: hidden;
  &.in-remove {
    animation-name: collapse;
    display: block;
  }
  &.in-add {
    animation-name: expand;
  }
}
#map_left_column{
   background: #232C35;
   padding:0px;
   margin-left:0px;
   overflow: hidden;
   height:100%;
   
}
#map_right_column{
    padding:10px;
    background-color:#F5F5F5;
    box-shadow: 0px 0px 10px silver,0px 0px 2px gray inset;
}
div.well{
    border-radius: 0px;
}

.navbar-inverse {
    background-color: #33414E;
    border-color: #080808;
box-shadow:     0 0 43px black,0px 0px 37px black inset;
}
#map_header_h2{
    margin:0px;
    padding:13px;
    background-color:#2F9FE0;
    color:white;
    box-shadow: 0 0 26px black, 0px 0px 14px navy inset;

    font-weight: 100;
    font-size:24px;
    
 
}
#map_desc_div{
      font-family: Arial,sans-serif;
    font-size: 15px;
    padding: 0 20px 20px;
}
#map_header_div{
    background:#232C35;
    color:white;
}
.map_side_pop_div{
    background:black;
    opacity:0.4;
    color:white;
padding:10px;
box-shadow: 0px 0px 5px black;
    position:absolute;top:20px;right:40px;z-index: 100
}
.brown_badge{background-color:brown;}
.blue_badge{background-color:blue;}
.map_header_h4{
    margin:0px;
    padding:10px;
    background:#33414E;
    color:white;
 border-bottom: 1px solid #29343f;
    border-top: 1px solid #3d4e5d;
    font-weight: 100;
    letter-spacing: 2px;
       box-shadow: 0 0 26px black, 0px 0px 14px black inset;
       transition: background-color 0.8s ease;
}
.map_header_h4:hover{
      box-shadow: 0 0 26px black,0px 0px 10px silver;
      background-color:#1F3042;
}
.map_header_h4_a{
    color:white;
     border-bottom: 1px solid #29343f;
    border-top: 1px solid #3d4e5d;
}

.collapse.am-collapse {
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  overflow: hidden;
  &.in-remove {
    animation-name: collapse;
    display: block;
  }
  &.in-add {
    animation-name: expand;
  }
}
.map_container{
    background:#232C35;
}


.map_sub_panel{
    box-shadow: 0px 0px 10px #444 inset;
    background:white;padding:20px;
      background:url('/images/kindajean.png');
     font-family: Arial,sans-serif;
     font-size: 17px;
}
.map_sub_panel table {
border: 3px solid white;
    box-shadow: 0 0 0 1px #ccc;
}
table {

}
.map_sub_panel table tr{
      text-shadow: 1px 1px 1px white;
      border-top:solid 1px white;
       background:#f3f3f3;
       border-bottom: solid 1px silver;
}
.map_sub_panel table tr:hover{
    border-left:solid 4px black;
    background:#eaeaea;
}
.map_sub_panel h4{margin-top: 0px;}
.leaflet-container a.leaflet-popup-close-button 
{
      background: none repeat scroll 0 0 black;
    border-radius: 35px;
    color: white;
    font: bold 16px/14px Tahoma,Verdana,sans-serif;
    height: 30px;
    padding: 6px;
    position: absolute;
    right: -11px;
    text-align: center;
    text-decoration: none;
    top: -10px;
    width: 30px;
}
.map_header_h4 i{color:#81c153}
.map_header_h4:hover i{color:orange}

 
.leaflet-popup-content-wrapper{
box-shadow: 0 0 10px black,0px 0px 39px silver inset;
}
.leaflet-popup-tip{
    background-color: #eaeaea;
}
table.map_table{
 
    margin-top: 20px;
    padding:5px;
    border: 3px solid white;
    box-shadow: 0 0 0 1px #ccc;
}
table.map_table tr{
    cursor:pointer;
}
table.map_table tr:hover{
    background-color: #ccc;
   
       transition: background-color 0.8s ease;
      
}