<div class="container-fluid">


    <div class="container img_container hidden-sm hidden-xs">
        <div class="row">
            <div class="col-md-12">
                <table id="slideTable">
                    <tr>
                        <td rowspan="2">
                            <!--<div id="slide_one" style="">-->
                            <!--<a href="http://womencount.zeteq.com:1352 " target="top">-->
                            <!--<img class="count" src="assets/images/countewg-01.svg" class="img-responsive1">-->
                            <!--</a>-->
                            <!--&lt;!&ndash;<img src="assets/images/first_pic_1.svg" class="img-responsive1">&ndash;&gt;-->
                            <!--</div>-->


                            <!--animation test -->
                            <div id="slide_one" style="">


                                <a href="http://womencount.zeteq.com:1352 " target="top">
                                    <div class="flip-container" interval="myInterval" ontouchstart="this.classList.toggle('hover');">
                                        <div class="flipper">
                                            <div class="front">


                                                <img class="count" src="assets/images/countewg-01.svg"
                                                     class="img-responsive1">

                                            </div>
                                            <div class="back">
                                                <img class="count1" src="assets/images/womencount.jpg">
                                            </div>

                                        </div>
                                    </div>
                                </a>


                            </div>


                            <!--animation test end-->


                        </td>

                        <td>
                            <div id="slide_two" style="">
                                <!--<img src="assets/images/bottom_pic_1.svg" class="img-responsive1">-->
                                <a href="" target="top">


                                    <div class="flip-container1" ontouchstart="this.classList.toggle('hover');">
                                        <div class="flipper1">
                                            <div class="front1">


                                                <img class="hackathon" src="assets/images/hackathonewg-02.svg"
                                                     class="img-responsive1">


                                            </div>
                                            <div class="back1">

                                                <img class="count2" src="assets/images/dhakathon.jpg">
                                            </div>

                                        </div>
                                    </div>

                                </a>
                            </div>
                        </td>

                        <td>
                            <div id="slide_three" style="">

                                <a href=" " target="top">


                                    <div class="flip-container2" ontouchstart="this.classList.toggle('hover');">
                                        <div class="flipper2">
                                            <div class="front2">


                                                <img class="upazilla" src="assets/images/upazillaewg-03.svg"
                                                     class="img-responsive1">


                                            </div>
                                            <div class="back1">

                                                <img class="count3" src="assets/images/upazilla.jpg">
                                            </div>

                                        </div>
                                    </div>

                                </a>
                            </div>
                        </td>

                        <td>
                            <div id="slide_four" style="">

                                <a href=" http://www.ewgbg.org/?page_id=118 " target="top">

                                    <div class="flip-container3" ontouchstart="this.classList.toggle('hover');">
                                        <div class="flipper3">
                                            <div class="front3">


                                                <img class="what" src="assets/images/whatewg-04.svg"
                                                     class="img-responsive1">


                                            </div>
                                            <div class="back3">

                                                <img class="count4" src="assets/images/whatwedo.jpg">
                                            </div>

                                        </div>
                                    </div>

                                </a>

                            </div>
                        </td>

                    </tr>

                    <tr>
                        <td colspan="2">
                            <div id="slide_five" style="">

                                <a href=" http://citycorpelections.org/" target="top">



                                    <div class="flip-container4" ontouchstart="this.classList.toggle('hover');">
                                        <div class="flipper4">
                                            <div class="front4">


                                                <<img class="citycorp" src="assets/images/citycorpewg-05.svg"
                                                      class="img-responsive1">


                                            </div>
                                            <div class="back4">

                                                <img class="count4" src="assets/images/citycorp.jpg">
                                            </div>

                                        </div>
                                    </div>




                                </a>

                            </div>

                        </td>

                        <td>
                            <div id="slide_six" style="">

                                <a href=" " target="top">


                                    <div class="flip-container5" ontouchstart="this.classList.toggle('hover');">
                                    <div class="flipper5">
                                        <div class="front5">


                                            <img class="perliament" src="assets/images/parliamentewg-06.svg"
                                                 class="img-responsive1">


                                        </div>
                                        <div class="back5">

                                            <img class="count5" src="assets/images/2014elec.jpg">
                                        </div>

                                    </div>
                            </div>





                                </a>
                            </div>

                        </td>

                    </tr>

                </table>


            </div>


        </div>


    </div>

    <!--mapping-->

    <div class="container app_mapping hidden-xs hidden-sm">

        <div class="mapHead">

            <h1>The Mapping Application Title</h1>

            <h3>Why is this so awesome</h3>
        </div>

        <div class="mappingBox">
            <div class="row">
                <div class="col-md-4">
                    <div class="mappingBlock1 text-center" ui-sref="app_four">
                        <!--<img src="assets/images/observe_mapping.svg" >-->

                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="77.5px" height="82px" viewBox="0 0 77.5 82" enable-background="new 0 0 77.5 82" xml:space="preserve">
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M74.725,17.197H31.951c0.467-1.291,0.698-2.445,0.698-3.471c-0.001-6.908-5.622-12.529-12.53-12.529  c-6.91,0-12.531,5.621-12.531,12.53c0,1.024,0.232,2.179,0.699,3.47H3.771c-1.253,0-2.27,1.016-2.27,2.27v59.336  c0,0-0.149,2.279,2.201,2.395h71.021c1.254,0,2.27-1.017,2.27-2.271v-59.46C76.994,18.213,75.979,17.197,74.725,17.197   M20.119,5.736c4.405,0,7.99,3.584,7.99,7.991c0,2.854-4.246,8.988-7.99,13.429c-3.744-4.44-7.99-10.574-7.99-13.429  C12.129,9.32,15.713,5.736,20.119,5.736 M6.041,21.736h4.498c0.732,1.209,7.797,10.276,7.905,10.395  c0.431,0.47,1.037,0.736,1.675,0.736c0.637,0,1.244-0.267,1.674-0.736c0.107-0.118,7.173-9.186,7.906-10.395h10.616L6.041,56.011  V21.736z M9.252,76.656l21.127-21.127l21.127,21.127H9.252z M57.927,76.656L31.984,50.715c-0.887-0.887-2.324-0.887-3.21,0  L6.041,73.447V62.431l40.694-40.694h11.017L37.494,42c-0.328,0.305-1.361,1.728,0.043,3.251v0.001l31.405,31.404H57.927z   M52.102,33.808l9.793,9.794l-9.793,9.793l-9.794-9.793L52.102,33.808z M72.455,73.748L55.311,56.605l11.398-11.398  c0.888-0.887,0.888-2.324,0-3.211L55.311,30.598l8.861-8.861h8.283V73.748z"  style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                        </svg>


                        <h1>Voter List Update 2014</h1>

                        <p>Election Observation Map</p>
                    </div>

                </div>


                <div class="col-md-4 ">
                    <div class="mappingBlock2 text-center" ui-sref="app_six">
                        <!--<img src="assets/images/observe_mapping2.svg">-->

                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_2" x="0px" y="0px" width="81px" height="82.75px" viewBox="0 0 81 82.75" enable-background="new 0 0 81 82.75" xml:space="preserve">
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M77.907,13.777h-7.106V9.032c0-3.907-3.178-7.086-7.085-7.086S56.63,5.125,56.63,9.032v4.745h-8.674V9.032  c0-3.907-3.179-7.086-7.086-7.086s-7.085,3.179-7.085,7.086v4.745h-8.674V9.032c0-3.907-3.18-7.086-7.086-7.086  c-3.907,0-7.086,3.179-7.086,7.086v4.745H3.834c-1.333,0-2.413,1.081-2.413,2.413v55.968c0,5.397,4.392,9.788,9.788,9.788h59.323  c5.396,0,9.788-4.391,9.788-9.788V16.19C80.32,14.858,79.24,13.777,77.907,13.777 M75.494,29.008H6.247V18.604h4.692v1.223  c0,3.906,3.179,7.084,7.086,7.084c3.906,0,7.086-3.178,7.086-7.084v-1.223h8.674v1.223c0,3.906,3.179,7.084,7.085,7.084  c3.908,0,7.086-3.178,7.086-7.084v-1.223h8.674v1.223c0,3.906,3.179,7.084,7.086,7.084s7.086-3.178,7.086-7.084v-1.223h4.693  L75.494,29.008L75.494,29.008z M61.456,9.032c0-1.245,1.013-2.26,2.26-2.26c1.246,0,2.261,1.015,2.261,2.26v10.794  c0,1.245-1.015,2.26-2.261,2.26c-1.247,0-2.26-1.015-2.26-2.26V9.032z M38.61,9.032c0-1.245,1.014-2.26,2.26-2.26  s2.26,1.015,2.26,2.26v7.156v0.002v0.002v3.634c0,1.245-1.014,2.26-2.26,2.26s-2.26-1.015-2.26-2.26V9.032z M15.766,9.032  c0-1.245,1.014-2.26,2.26-2.26s2.26,1.015,2.26,2.26v7.154c0,0.001,0,0.003,0,0.004s0,0.002,0,0.004v3.632  c0,1.245-1.014,2.26-2.26,2.26s-2.26-1.015-2.26-2.26V9.032z M75.494,72.158c0,2.736-2.227,4.963-4.963,4.963H11.209  c-2.736,0-4.963-2.227-4.963-4.963V33.834h69.248V72.158z" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M13.353,45.727h55.036c1.332,0,2.413-1.08,2.413-2.412c0-1.333-1.081-2.413-2.413-2.413H13.353  c-1.333,0-2.413,1.081-2.413,2.413S12.02,45.727,13.353,45.727" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M13.353,56.913h55.036c1.332,0,2.413-1.079,2.413-2.413c0-1.332-1.081-2.412-2.413-2.412H13.353  c-1.333,0-2.413,1.08-2.413,2.412C10.939,55.834,12.02,56.913,13.353,56.913" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M13.353,68.1h55.036c1.332,0,2.413-1.08,2.413-2.412s-1.081-2.414-2.413-2.414H13.353c-1.333,0-2.413,1.082-2.413,2.414  S12.02,68.1,13.353,68.1" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                        </svg>

                        <h1>What is my vote worth</h1>

                        <p>Election Observation Map</p>
                    </div>
                </div>


                <!--<div class="col-md-4">-->
                <!--<div class="mappingBlock3 text-center" ui-sref="app_seven">-->
                <!--&lt;!&ndash;<img src="assets/images/observe_mapping3.svg">&ndash;&gt;-->


                <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_3" x="0px" y="0px" width="82.5px" height="82.75px" viewBox="0 0 82.5 82.75" enable-background="new 0 0 82.5 82.75" xml:space="preserve">-->
                <!--<path fill="none" stroke="#000"  stroke-miterlimit="10" d="M40.999,25.031c-9.189,0-16.667,7.477-16.667,16.666s7.478,16.666,16.667,16.666c9.188,0,16.667-7.477,16.667-16.666  S50.188,25.031,40.999,25.031 M40.999,52.833c-6.142,0-11.137-4.997-11.137-11.136s4.995-11.135,11.137-11.135  c6.141,0,11.136,4.996,11.136,11.135S47.14,52.833,40.999,52.833" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>-->
                <!--<path fill="none" stroke="#000"  stroke-miterlimit="10" d="M40.999,21.128c1.526,0,2.765-1.237,2.765-2.765V4.461c0-1.525-1.238-2.765-2.765-2.765c-1.527,0-2.766,1.239-2.766,2.765  v13.902C38.233,19.891,39.472,21.128,40.999,21.128" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>-->
                <!--<path fill="none" stroke="#000"  stroke-miterlimit="10" d="M57.498,27.964c0.707,0,1.417-0.27,1.955-0.81l9.83-9.831c1.079-1.08,1.079-2.831-0.002-3.91c-1.08-1.08-2.83-1.08-3.91,0  l-9.828,9.831c-1.08,1.08-1.08,2.831,0,3.91C56.083,27.694,56.79,27.964,57.498,27.964" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>-->
                <!--<path fill="none" stroke="#000"  stroke-miterlimit="10" d="M78.233,38.932l-13.901,0.001c-1.528,0-2.765,1.237-2.765,2.766c0,1.526,1.238,2.765,2.765,2.765l13.901-0.002  c1.527,0,2.767-1.237,2.767-2.765C81,40.17,79.761,38.932,78.233,38.932" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>-->
                <!--<path fill="none" stroke="#000"  stroke-miterlimit="10" d="M59.451,56.242c-1.08-1.08-2.83-1.08-3.91,0s-1.08,2.831,0,3.91l9.831,9.829c0.54,0.54,1.247,0.81,1.955,0.81  c0.707,0,1.416-0.27,1.956-0.81c1.079-1.08,1.079-2.831-0.001-3.91L59.451,56.242z" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>-->
                <!--<path fill="none" stroke="#000"  stroke-miterlimit="10" d="M40.996,62.265c-1.527,0-2.764,1.238-2.764,2.765l0.002,13.902c0,1.526,1.237,2.766,2.766,2.766  c1.527,0,2.764-1.239,2.764-2.766l-0.002-13.902C43.762,63.503,42.523,62.265,40.996,62.265" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>-->
                <!--<path fill="none" stroke="#000"  stroke-miterlimit="10" d="M22.542,56.24l-9.828,9.831c-1.079,1.08-1.079,2.832,0.002,3.91c0.54,0.54,1.247,0.81,1.955,0.81  c0.707,0,1.415-0.27,1.954-0.81l9.828-9.83c1.08-1.08,1.08-2.831,0-3.911S23.622,55.16,22.542,56.24" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>-->
                <!--<path fill="none" stroke="#000"  stroke-miterlimit="10" d="M20.43,41.697c0-1.527-1.237-2.766-2.765-2.766H3.764c-1.526,0-2.766,1.238-2.766,2.766s1.239,2.765,2.766,2.765h13.901  C19.192,44.462,20.43,43.225,20.43,41.697" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>-->
                <!--<path fill="none" stroke="#000"  stroke-miterlimit="10" d="M22.545,27.15c0.539,0.541,1.247,0.811,1.954,0.811c0.708,0,1.415-0.27,1.955-0.811c1.08-1.079,1.08-2.83,0-3.909  l-9.829-9.828c-1.08-1.08-2.83-1.08-3.91,0c-1.079,1.08-1.079,2.832,0,3.91L22.545,27.15z" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>-->
                <!--</svg>-->


                <!--<h1> Violance Report </h1>-->

                <!--<p>Election Observation Map</p>-->
                <!--</div>-->
                <!--</div>-->


                <div class="col-md-4">
                    <div class="mappingBlock4 text-center" ui-sref="app_eight">
                        <!--<img src="assets/images/observe_mapping4.svg">-->

                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_4" x="0px" y="0px" width="115px" height="82.25px" viewBox="0 0 115 82.25" enable-background="new 0 0 115 82.25" xml:space="preserve">
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M88.428,28.131c-0.305,0-0.61,0.006-0.916,0.018c-1.5-15.111-14.286-26.952-29.784-26.952  c-15.499,0-28.285,11.841-29.785,26.952c-0.306-0.012-0.612-0.018-0.918-0.018c-14.216,0-25.783,11.566-25.783,25.784  c0,14.216,11.567,25.783,25.784,25.783c1.654,0,2.996-1.343,2.996-2.997s-1.342-2.996-2.996-2.996  c-10.912,0-19.79-8.878-19.79-19.79s8.878-19.79,19.79-19.79c1.092,0,2.195,0.092,3.279,0.271c0.877,0.146,1.771-0.104,2.445-0.684  c0.674-0.578,1.055-1.427,1.043-2.314l-0.002-0.108c0-0.054-0.002-0.108-0.002-0.162c0-13.2,10.738-23.938,23.938-23.938  s23.938,10.738,23.938,23.938c0,0.052,0,0.103-0.002,0.152l-0.001,0.125c-0.011,0.887,0.372,1.733,1.046,2.31  c0.674,0.578,1.567,0.827,2.443,0.682c1.081-0.18,2.184-0.271,3.277-0.271c10.912,0,19.791,8.877,19.791,19.789  s-8.879,19.79-19.791,19.79c-1.654,0-2.996,1.342-2.996,2.997c0,1.654,1.342,2.996,2.996,2.996  c14.218,0,25.783-11.566,25.783-25.783S102.646,28.131,88.428,28.131"/>
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M43.416,30.063c0-7.104,5.78-12.885,12.885-12.885c1.656,0,2.998-1.342,2.998-2.996c0-1.655-1.342-2.997-2.998-2.997  c-10.409,0-18.877,8.469-18.877,18.878c0,1.655,1.341,2.997,2.996,2.997C42.074,33.061,43.416,31.719,43.416,30.063"/>
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M81.823,57.548h-8.67v-9.243c0-1.655-1.341-2.997-2.996-2.997h-24.86c-1.654,0-2.996,1.342-2.996,2.997v9.243h-8.67  c-1.296,0-2.445,0.833-2.848,2.065c-0.402,1.231,0.031,2.582,1.077,3.35l24.095,17.654c0.528,0.387,1.15,0.58,1.771,0.58  c0.623,0,1.244-0.193,1.771-0.58l24.096-17.654c1.045-0.766,1.48-2.118,1.078-3.35C84.268,58.381,83.119,57.548,81.823,57.548   M57.727,74.484L42.791,63.541h2.506c1.654,0,2.996-1.342,2.996-2.996v-9.243H67.16v9.243c0,1.654,1.342,2.996,2.996,2.996h2.506  L57.727,74.484z"/>
                        </svg>

                        <h1>2008 Election</h1>

                        <p>Election Observation Map</p>
                    </div>
                </div>

                <!--<div class="col-md-4">-->
                <!--<div class="mappingBlock5 text-center" ui-sref="app_eight">-->
                <!--&lt;!&ndash;<img src="assets/images/observe_mapping5.svg">&ndash;&gt;-->

                <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_5" x="0px" y="0px" width="98.75px" height="79.25px" viewBox="0 0 98.75 79.25" enable-background="new 0 0 98.75 79.25" xml:space="preserve">-->
                <!--<path fill="none" stroke="#000"  stroke-miterlimit="10" d="M97.271,31.447c0.001-1.16-0.735-2.193-1.834-2.57l-13.633-4.689l13.631-4.672c1.099-0.377,1.835-1.409,1.836-2.569  c0-1.161-0.735-2.194-1.834-2.571L50.284-1.156c-0.572-0.195-1.194-0.196-1.766,0L3.209,14.375  c-1.098,0.375-1.836,1.408-1.836,2.568c-0.001,1.161,0.736,2.193,1.834,2.572l13.633,4.688L3.209,28.875  c-1.098,0.377-1.836,1.409-1.836,2.569c-0.001,1.161,0.736,2.194,1.834,2.571l13.633,4.689L3.209,43.377  c-1.098,0.377-1.836,1.408-1.836,2.569c-0.001,1.16,0.736,2.194,1.834,2.571l13.633,4.689L3.209,57.879  c-1.098,0.375-1.836,1.408-1.836,2.568c-0.001,1.161,0.736,2.193,1.834,2.572l45.152,15.529c0.287,0.099,0.586,0.147,0.885,0.147  c0.298,0,0.595-0.049,0.881-0.146l45.31-15.53c1.099-0.378,1.835-1.409,1.836-2.57c0.001-1.16-0.735-2.194-1.834-2.571L81.804,53.19  l13.631-4.673c1.099-0.375,1.835-1.408,1.836-2.568c0-1.161-0.735-2.193-1.834-2.572l-13.633-4.688l13.631-4.671  C96.533,33.641,97.27,32.608,97.271,31.447 M12.458,16.949l36.94-12.661L86.185,16.94L49.245,29.602L12.458,16.949z M86.185,60.444  L49.245,73.106L12.459,60.454l12.747-4.37l23.153,7.963c0.286,0.1,0.586,0.148,0.885,0.148c0.297,0,0.595-0.049,0.881-0.146  l23.31-7.99L86.185,60.444z M86.185,45.943L49.245,58.604L12.458,45.952l12.748-4.37l23.153,7.965  c0.286,0.099,0.586,0.146,0.885,0.146c0.297,0,0.595-0.048,0.881-0.146l23.309-7.988L86.185,45.943z M49.245,44.104L12.459,31.451  l12.747-4.37l23.153,7.964c0.286,0.098,0.586,0.147,0.885,0.147c0.297,0,0.595-0.05,0.881-0.147l23.31-7.988l12.751,4.386  L49.245,44.104z" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>-->
                <!--</svg>-->

                <!--<h1>Observe Mapping</h1>-->

                <!--<p>Election Observation Map</p>-->
                <!--</div>-->
                <!--</div>-->


                <!--<div class="col-md-4">-->
                <!--<div class="mappingBlock6 text-center">-->
                <!--&lt;!&ndash;<img src="assets/images/observe_mapping6.svg">&ndash;&gt;-->

                <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_6" x="0px" y="0px" width="83.25px" height="82.25px" viewBox="0 0 83.25 82.25" enable-background="new 0 0 83.25 82.25" xml:space="preserve">-->
                <!--<path fill="none" stroke="#000"  stroke-miterlimit="10" d="M79.969,1.727c-0.791-0.852-2.063-1.045-3.02-0.385L4.032,51.832c-0.661,0.457-1.03,1.229-0.974,2.031  c0.057,0.803,0.533,1.516,1.252,1.875l16.697,8.35l6.496,15.158c0.313,0.729,0.981,1.242,1.766,1.354  c0.108,0.017,0.218,0.024,0.326,0.024c0.672,0,1.315-0.299,1.752-0.825l6.823-8.242l18.869,9.16  c0.313,0.151,0.653,0.229,0.993,0.229c0.322,0,0.645-0.07,0.944-0.205c0.616-0.281,1.075-0.824,1.253-1.479L80.442,4.125  C80.607,3.513,80.706,2.523,79.969,1.727 M61.989,17.236L22.271,59.629L9.781,53.386L61.989,17.236z M30.219,74.029l-4.771-11.134  l39.361-42.015L36.405,66.675c-0.147,0.106-0.287,0.228-0.409,0.376L30.219,74.029z M56.551,75.422l-15.539-7.543l31.021-50.016  L56.551,75.422z" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>-->
                <!--</svg>-->

                <!--<h1>Observe Mapping</h1>-->

                <!--<p>Election Observation Map</p>-->
                <!--</div>-->
                <!--</div>-->


            </div>


        </div>


    </div>

    <!--app mapping for mobile-->

    <div class="container app_mapping hidden-lg hidden-md">

        <div class="mapHead">

            <h1>The Mapping Application Title</h1>

            <h3>Why is this so awesome</h3>
        </div>

        <div class="mappingBox">
            <div class="row">
                <div class="col-xs-6">
                    <div class="mappingBlock1 text-center">
                        <!--<img src="assets/images/observe_mapping.svg">-->

                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="77.5px" height="82px" viewBox="0 0 77.5 82" enable-background="new 0 0 77.5 82" xml:space="preserve">
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M74.725,17.197H31.951c0.467-1.291,0.698-2.445,0.698-3.471c-0.001-6.908-5.622-12.529-12.53-12.529  c-6.91,0-12.531,5.621-12.531,12.53c0,1.024,0.232,2.179,0.699,3.47H3.771c-1.253,0-2.27,1.016-2.27,2.27v59.336  c0,0-0.149,2.279,2.201,2.395h71.021c1.254,0,2.27-1.017,2.27-2.271v-59.46C76.994,18.213,75.979,17.197,74.725,17.197   M20.119,5.736c4.405,0,7.99,3.584,7.99,7.991c0,2.854-4.246,8.988-7.99,13.429c-3.744-4.44-7.99-10.574-7.99-13.429  C12.129,9.32,15.713,5.736,20.119,5.736 M6.041,21.736h4.498c0.732,1.209,7.797,10.276,7.905,10.395  c0.431,0.47,1.037,0.736,1.675,0.736c0.637,0,1.244-0.267,1.674-0.736c0.107-0.118,7.173-9.186,7.906-10.395h10.616L6.041,56.011  V21.736z M9.252,76.656l21.127-21.127l21.127,21.127H9.252z M57.927,76.656L31.984,50.715c-0.887-0.887-2.324-0.887-3.21,0  L6.041,73.447V62.431l40.694-40.694h11.017L37.494,42c-0.328,0.305-1.361,1.728,0.043,3.251v0.001l31.405,31.404H57.927z   M52.102,33.808l9.793,9.794l-9.793,9.793l-9.794-9.793L52.102,33.808z M72.455,73.748L55.311,56.605l11.398-11.398  c0.888-0.887,0.888-2.324,0-3.211L55.311,30.598l8.861-8.861h8.283V73.748z"  style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                        </svg>

                        <h1>Observe Mapping</h1>

                        <p>Election Observation Map</p>
                    </div>
                </div>


                <div class="col-xs-6 ">
                    <div class="mappingBlock2 text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_2" x="0px" y="0px" width="81px" height="82.75px" viewBox="0 0 81 82.75" enable-background="new 0 0 81 82.75" xml:space="preserve">
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M77.907,13.777h-7.106V9.032c0-3.907-3.178-7.086-7.085-7.086S56.63,5.125,56.63,9.032v4.745h-8.674V9.032  c0-3.907-3.179-7.086-7.086-7.086s-7.085,3.179-7.085,7.086v4.745h-8.674V9.032c0-3.907-3.18-7.086-7.086-7.086  c-3.907,0-7.086,3.179-7.086,7.086v4.745H3.834c-1.333,0-2.413,1.081-2.413,2.413v55.968c0,5.397,4.392,9.788,9.788,9.788h59.323  c5.396,0,9.788-4.391,9.788-9.788V16.19C80.32,14.858,79.24,13.777,77.907,13.777 M75.494,29.008H6.247V18.604h4.692v1.223  c0,3.906,3.179,7.084,7.086,7.084c3.906,0,7.086-3.178,7.086-7.084v-1.223h8.674v1.223c0,3.906,3.179,7.084,7.085,7.084  c3.908,0,7.086-3.178,7.086-7.084v-1.223h8.674v1.223c0,3.906,3.179,7.084,7.086,7.084s7.086-3.178,7.086-7.084v-1.223h4.693  L75.494,29.008L75.494,29.008z M61.456,9.032c0-1.245,1.013-2.26,2.26-2.26c1.246,0,2.261,1.015,2.261,2.26v10.794  c0,1.245-1.015,2.26-2.261,2.26c-1.247,0-2.26-1.015-2.26-2.26V9.032z M38.61,9.032c0-1.245,1.014-2.26,2.26-2.26  s2.26,1.015,2.26,2.26v7.156v0.002v0.002v3.634c0,1.245-1.014,2.26-2.26,2.26s-2.26-1.015-2.26-2.26V9.032z M15.766,9.032  c0-1.245,1.014-2.26,2.26-2.26s2.26,1.015,2.26,2.26v7.154c0,0.001,0,0.003,0,0.004s0,0.002,0,0.004v3.632  c0,1.245-1.014,2.26-2.26,2.26s-2.26-1.015-2.26-2.26V9.032z M75.494,72.158c0,2.736-2.227,4.963-4.963,4.963H11.209  c-2.736,0-4.963-2.227-4.963-4.963V33.834h69.248V72.158z" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M13.353,45.727h55.036c1.332,0,2.413-1.08,2.413-2.412c0-1.333-1.081-2.413-2.413-2.413H13.353  c-1.333,0-2.413,1.081-2.413,2.413S12.02,45.727,13.353,45.727" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M13.353,56.913h55.036c1.332,0,2.413-1.079,2.413-2.413c0-1.332-1.081-2.412-2.413-2.412H13.353  c-1.333,0-2.413,1.08-2.413,2.412C10.939,55.834,12.02,56.913,13.353,56.913" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M13.353,68.1h55.036c1.332,0,2.413-1.08,2.413-2.412s-1.081-2.414-2.413-2.414H13.353c-1.333,0-2.413,1.082-2.413,2.414  S12.02,68.1,13.353,68.1" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                        </svg>

                        <h1>Observe Mapping</h1>

                        <p>Election Observation Map</p>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-xs-6">
                    <div class="mappingBlock3 text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_3" x="0px" y="0px" width="82.5px" height="82.75px" viewBox="0 0 82.5 82.75" enable-background="new 0 0 82.5 82.75" xml:space="preserve">
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M40.999,25.031c-9.189,0-16.667,7.477-16.667,16.666s7.478,16.666,16.667,16.666c9.188,0,16.667-7.477,16.667-16.666  S50.188,25.031,40.999,25.031 M40.999,52.833c-6.142,0-11.137-4.997-11.137-11.136s4.995-11.135,11.137-11.135  c6.141,0,11.136,4.996,11.136,11.135S47.14,52.833,40.999,52.833" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M40.999,21.128c1.526,0,2.765-1.237,2.765-2.765V4.461c0-1.525-1.238-2.765-2.765-2.765c-1.527,0-2.766,1.239-2.766,2.765  v13.902C38.233,19.891,39.472,21.128,40.999,21.128" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M57.498,27.964c0.707,0,1.417-0.27,1.955-0.81l9.83-9.831c1.079-1.08,1.079-2.831-0.002-3.91c-1.08-1.08-2.83-1.08-3.91,0  l-9.828,9.831c-1.08,1.08-1.08,2.831,0,3.91C56.083,27.694,56.79,27.964,57.498,27.964" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M78.233,38.932l-13.901,0.001c-1.528,0-2.765,1.237-2.765,2.766c0,1.526,1.238,2.765,2.765,2.765l13.901-0.002  c1.527,0,2.767-1.237,2.767-2.765C81,40.17,79.761,38.932,78.233,38.932" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M59.451,56.242c-1.08-1.08-2.83-1.08-3.91,0s-1.08,2.831,0,3.91l9.831,9.829c0.54,0.54,1.247,0.81,1.955,0.81  c0.707,0,1.416-0.27,1.956-0.81c1.079-1.08,1.079-2.831-0.001-3.91L59.451,56.242z" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M40.996,62.265c-1.527,0-2.764,1.238-2.764,2.765l0.002,13.902c0,1.526,1.237,2.766,2.766,2.766  c1.527,0,2.764-1.239,2.764-2.766l-0.002-13.902C43.762,63.503,42.523,62.265,40.996,62.265" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M22.542,56.24l-9.828,9.831c-1.079,1.08-1.079,2.832,0.002,3.91c0.54,0.54,1.247,0.81,1.955,0.81  c0.707,0,1.415-0.27,1.954-0.81l9.828-9.83c1.08-1.08,1.08-2.831,0-3.911S23.622,55.16,22.542,56.24" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M20.43,41.697c0-1.527-1.237-2.766-2.765-2.766H3.764c-1.526,0-2.766,1.238-2.766,2.766s1.239,2.765,2.766,2.765h13.901  C19.192,44.462,20.43,43.225,20.43,41.697" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M22.545,27.15c0.539,0.541,1.247,0.811,1.954,0.811c0.708,0,1.415-0.27,1.955-0.811c1.08-1.079,1.08-2.83,0-3.909  l-9.829-9.828c-1.08-1.08-2.83-1.08-3.91,0c-1.079,1.08-1.079,2.832,0,3.91L22.545,27.15z" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                        </svg>

                        <h1>Observe Mapping</h1>

                        <p>Election Observation Map</p>
                    </div>
                </div>


                <div class="col-xs-6">
                    <div class="mappingBlock4 text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_4" x="0px" y="0px" width="115px" height="82.25px" viewBox="0 0 115 82.25" enable-background="new 0 0 115 82.25" xml:space="preserve">
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M88.428,28.131c-0.305,0-0.61,0.006-0.916,0.018c-1.5-15.111-14.286-26.952-29.784-26.952  c-15.499,0-28.285,11.841-29.785,26.952c-0.306-0.012-0.612-0.018-0.918-0.018c-14.216,0-25.783,11.566-25.783,25.784  c0,14.216,11.567,25.783,25.784,25.783c1.654,0,2.996-1.343,2.996-2.997s-1.342-2.996-2.996-2.996  c-10.912,0-19.79-8.878-19.79-19.79s8.878-19.79,19.79-19.79c1.092,0,2.195,0.092,3.279,0.271c0.877,0.146,1.771-0.104,2.445-0.684  c0.674-0.578,1.055-1.427,1.043-2.314l-0.002-0.108c0-0.054-0.002-0.108-0.002-0.162c0-13.2,10.738-23.938,23.938-23.938  s23.938,10.738,23.938,23.938c0,0.052,0,0.103-0.002,0.152l-0.001,0.125c-0.011,0.887,0.372,1.733,1.046,2.31  c0.674,0.578,1.567,0.827,2.443,0.682c1.081-0.18,2.184-0.271,3.277-0.271c10.912,0,19.791,8.877,19.791,19.789  s-8.879,19.79-19.791,19.79c-1.654,0-2.996,1.342-2.996,2.997c0,1.654,1.342,2.996,2.996,2.996  c14.218,0,25.783-11.566,25.783-25.783S102.646,28.131,88.428,28.131"/>
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M43.416,30.063c0-7.104,5.78-12.885,12.885-12.885c1.656,0,2.998-1.342,2.998-2.996c0-1.655-1.342-2.997-2.998-2.997  c-10.409,0-18.877,8.469-18.877,18.878c0,1.655,1.341,2.997,2.996,2.997C42.074,33.061,43.416,31.719,43.416,30.063"/>
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M81.823,57.548h-8.67v-9.243c0-1.655-1.341-2.997-2.996-2.997h-24.86c-1.654,0-2.996,1.342-2.996,2.997v9.243h-8.67  c-1.296,0-2.445,0.833-2.848,2.065c-0.402,1.231,0.031,2.582,1.077,3.35l24.095,17.654c0.528,0.387,1.15,0.58,1.771,0.58  c0.623,0,1.244-0.193,1.771-0.58l24.096-17.654c1.045-0.766,1.48-2.118,1.078-3.35C84.268,58.381,83.119,57.548,81.823,57.548   M57.727,74.484L42.791,63.541h2.506c1.654,0,2.996-1.342,2.996-2.996v-9.243H67.16v9.243c0,1.654,1.342,2.996,2.996,2.996h2.506  L57.727,74.484z"/>
                        </svg>

                        <h1>Observe Mapping</h1>

                        <p>Election Observation Map</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-6">
                    <div class="mappingBlock5 text-center">

                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_5" x="0px" y="0px" width="98.75px" height="79.25px" viewBox="0 0 98.75 79.25" enable-background="new 0 0 98.75 79.25" xml:space="preserve">
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M97.271,31.447c0.001-1.16-0.735-2.193-1.834-2.57l-13.633-4.689l13.631-4.672c1.099-0.377,1.835-1.409,1.836-2.569  c0-1.161-0.735-2.194-1.834-2.571L50.284-1.156c-0.572-0.195-1.194-0.196-1.766,0L3.209,14.375  c-1.098,0.375-1.836,1.408-1.836,2.568c-0.001,1.161,0.736,2.193,1.834,2.572l13.633,4.688L3.209,28.875  c-1.098,0.377-1.836,1.409-1.836,2.569c-0.001,1.161,0.736,2.194,1.834,2.571l13.633,4.689L3.209,43.377  c-1.098,0.377-1.836,1.408-1.836,2.569c-0.001,1.16,0.736,2.194,1.834,2.571l13.633,4.689L3.209,57.879  c-1.098,0.375-1.836,1.408-1.836,2.568c-0.001,1.161,0.736,2.193,1.834,2.572l45.152,15.529c0.287,0.099,0.586,0.147,0.885,0.147  c0.298,0,0.595-0.049,0.881-0.146l45.31-15.53c1.099-0.378,1.835-1.409,1.836-2.57c0.001-1.16-0.735-2.194-1.834-2.571L81.804,53.19  l13.631-4.673c1.099-0.375,1.835-1.408,1.836-2.568c0-1.161-0.735-2.193-1.834-2.572l-13.633-4.688l13.631-4.671  C96.533,33.641,97.27,32.608,97.271,31.447 M12.458,16.949l36.94-12.661L86.185,16.94L49.245,29.602L12.458,16.949z M86.185,60.444  L49.245,73.106L12.459,60.454l12.747-4.37l23.153,7.963c0.286,0.1,0.586,0.148,0.885,0.148c0.297,0,0.595-0.049,0.881-0.146  l23.31-7.99L86.185,60.444z M86.185,45.943L49.245,58.604L12.458,45.952l12.748-4.37l23.153,7.965  c0.286,0.099,0.586,0.146,0.885,0.146c0.297,0,0.595-0.048,0.881-0.146l23.309-7.988L86.185,45.943z M49.245,44.104L12.459,31.451  l12.747-4.37l23.153,7.964c0.286,0.098,0.586,0.147,0.885,0.147c0.297,0,0.595-0.05,0.881-0.147l23.31-7.988l12.751,4.386  L49.245,44.104z" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                        </svg>

                        <h1>Observe Mapping</h1>

                        <p>Election Observation Map</p>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="mappingBlock6 text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_6" x="0px" y="0px" width="83.25px" height="82.25px" viewBox="0 0 83.25 82.25" enable-background="new 0 0 83.25 82.25" xml:space="preserve">
                            <path fill="none" stroke="#000"  stroke-miterlimit="10" d="M79.969,1.727c-0.791-0.852-2.063-1.045-3.02-0.385L4.032,51.832c-0.661,0.457-1.03,1.229-0.974,2.031  c0.057,0.803,0.533,1.516,1.252,1.875l16.697,8.35l6.496,15.158c0.313,0.729,0.981,1.242,1.766,1.354  c0.108,0.017,0.218,0.024,0.326,0.024c0.672,0,1.315-0.299,1.752-0.825l6.823-8.242l18.869,9.16  c0.313,0.151,0.653,0.229,0.993,0.229c0.322,0,0.645-0.07,0.944-0.205c0.616-0.281,1.075-0.824,1.253-1.479L80.442,4.125  C80.607,3.513,80.706,2.523,79.969,1.727 M61.989,17.236L22.271,59.629L9.781,53.386L61.989,17.236z M30.219,74.029l-4.771-11.134  l39.361-42.015L36.405,66.675c-0.147,0.106-0.287,0.228-0.409,0.376L30.219,74.029z M56.551,75.422l-15.539-7.543l31.021-50.016  L56.551,75.422z" style="stroke-dasharray: 539px, 541px; stroke-dashoffset: 0px;"/>
                        </svg>

                        <h1>Observe Mapping</h1>

                        <p>Election Observation Map</p>
                    </div>
                </div>


            </div>
        </div>


    </div>

    <!--pie section-Start-->



    <!--pie section-End-->


    <!--Section Details-->



    <!--image gallery-->

    <div class="container img_gallery">

        <div class="galleryHead">
            <h1>Highlights From Our Image Gallery</h1>

            <h3>Why is this so awesome</h3>
        </div>

        <!-- slider -->
        <div id="galltwo-wra">
            <div style="height: auto">
                <carousel interval="IntervalTwo">
                    <slide active="slide.active">
                        <div class="sli-two-holder">
                            <div class="sc-hol-one">
                                <div class="row">
                                    <div class="scslide-common scslide-one col-md-4">
                                        <img  ui-sref="citygallery" src="assets/images/bottom_pic_1.svg"/>

                                    </div>
                                    <div class="scslide-common scslide-two col-md-4">
                                        <img ui-sref="dhakathgallery" src="assets/images/bottom_pic_2.svg"/>

                                    </div>
                                    <div class="scslide-common scslide-three col-md-4">
                                        <img ui-sref="citygallery" src="assets/images/bottom_pic_3.svg"/>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </slide>


                    <slide>
                        <div class="sli-two-holder">
                            <div class="sc-hol-one">
                                <div class="row">
                                    <div class="scslide-common scslide-one col-md-4">

                                        <img ui-sref="citygallery" src="assets/images/bottom_pic_4.svg"/>
                                    </div>
                                    <div class="scslide-common scslide-two col-md-4">

                                        <img ui-sref="dhakathgallery" src="assets/images/bottom_pic_5.svg"/>
                                    </div>
                                    <div class="scslide-common scslide-three col-md-4">

                                        <img ui-sref="citygallery" src="assets/images/bottom_pic_6.svg"/>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </slide>




                </carousel>
            </div>
            <br class="clr"/>
        </div>

        <!-- slider end -->

    </div>

</div>


<!--java script for pie-->




<!--vivus animation in mapping section svg-->

<script>
    new Vivus('Layer_1', {
        type: 'delayed',
        duration: 200
    });

    new Vivus('Layer_2', {
        type: 'delayed',
        duration: 200
    });
    new Vivus('Layer_3', {
        type: 'delayed',
        duration: 200
    });

    new Vivus('Layer_4', {
        type: 'delayed',
        duration: 200
    });
    new Vivus('Layer_5', {
        type: 'delayed',
        duration: 200
    });
    new Vivus('Layer_6', {
        type: 'delayed',
        duration: 200
    });
</script>


<!--animation-->


<!--<style>-->
<!--.download {-->
<!--transform: rotate(15deg);-->
<!--animation: rotate;-->
<!--cursor: zoom-in;-->

<!--}-->

<!--.flip li {-->
<!--display: inline-block;-->
<!--height: 200px;-->
<!--list-style: none;-->
<!--width: 200px;-->
<!--}-->

<!--.flip img {-->
<!--backface-visibility: hidden;-->
<!--position: absolute;-->
<!--transform: rotateY(180deg);-->
<!--transition: transform 2s linear .5s;-->
<!--}-->

<!--.flip img:first-child {-->
<!--transform: rotateY(0deg);-->
<!--}-->

<!--.transition img {-->
<!--transform: rotateY(0deg);-->
<!--transition: transform 2s linear .5s;-->
<!--transform-style: preserve-3d;-->
<!--}-->

<!--.transition img:first-child {-->
<!--transform: rotateY(180deg);-->
<!--}-->


<!--</style>-->

<!--<script>-->
<!--$(document).ready(function () {-->
<!--/* Flip Effect */-->
<!--var jFlip = $('.flip').find('li');-->

<!--function flip() {-->
<!--if (jFlip.length >= 1) {-->
<!--var oNextImg = jFlip[Math.floor(Math.random() * jFlip.length)];-->
<!--$(oNextImg).toggleClass('transition');-->
<!--}-->
<!--}-->

<!--// loop-->
<!--$('img:first-child').on('transitionend webkitTransitionEnd-->
<!--mozTransitionEnd-->
<!--otransition-->
<!--MSTransitionEnd-->
<!--', flip);-->

<!--// start-->
<!--window.setTimeout(flip, 500);-->
<!--});-->


<!--</script>-->


<script>
    $("#slide_one_img").delay(500).trigger('mouseover');
</script>
