<div class="container-fluid" style="margin-top: 7em;padding: 0 5em;" ng-controller="ModalDemoCtrl">

    <h2>CITYCORPORATION GALLERY</h2>

    <!--<div id="cont">-->
    <div class="row imggall">

        <div class="col-md-4 ">
            <div id="content">
                <div class="grid cs-style-1">

                    <figure>
                        <img src="assets/imagegallery/citycorpimages800x600/city1.jpg" alt="img01">
                        <figcaption>
                            <h3>Camera</h3>
                            <span>Jacob Cummings</span>
                            <a ng-click="open('assets/imagegallery/citycorpimages800x600/city1.jpg')">Take a look</a>


                        </figcaption>
                    </figure>
                </div>
            </div>

        </div>


        <div class="col-md-4">

            <div class="grid cs-style-1">

                <figure>
                    <img src="assets/imagegallery/citycorpimages800x600/city2.jpg" alt="img01">
                    <figcaption>
                        <h3>Camera</h3>
                        <span>Jacob Cummings</span>
                        <a ng-click="open('assets/imagegallery/citycorpimages800x600/city2.jpg')">Take a look</a>


                    </figcaption>
                </figure>
            </div>

        </div>


        <div class="col-md-4">

            <div class="grid cs-style-1">

                <figure>
                    <img src="assets/imagegallery/citycorpimages800x600/city3.jpg" alt="img01">
                    <figcaption>
                        <h3>Camera</h3>
                        <span>Jacob Cummings</span>
                        <a ng-click="open('assets/imagegallery/citycorpimages800x600/city3.jpg')">Take a look</a>


                    </figcaption>
                </figure>
            </div>
        </div>

    </div>

    <div class="row imggall">
        <div class="col-md-3">

            <div class="grid cs-style-1">

                <figure>
                    <img src="assets/imagegallery/citycorpimages800x600/city5.jpg">
                    <figcaption>
                        <h3>Camera</h3>
                        <span>Jacob Cummings</span>
                        <a ng-click="open('assets/imagegallery/citycorpimages800x600/city5.jpg')">Take a look</a>


                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="col-md-3">

            <div class="grid cs-style-1">

                <figure>
                    <img src="assets/imagegallery/citycorpimages800x600/city6.jpg" alt="img01">
                    <figcaption>
                        <h3>Camera</h3>
                        <span>Jacob Cummings</span>
                        <a ng-click="open('assets/imagegallery/citycorpimages800x600/city6.jpg')">Take a look</a>


                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="col-md-3">

            <div class="grid cs-style-1">

                <figure>
                    <img src="assets/imagegallery/citycorpimages800x600/city7.jpg" alt="img01">
                    <figcaption>
                        <h3>Camera</h3>
                        <span>Jacob Cummings</span>
                        <a ng-click="open('assets/imagegallery/citycorpimages800x600/city7.jpg')">Take a look</a>


                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="col-md-3">

            <div class="grid cs-style-1">

                <figure>
                    <img src="assets/imagegallery/citycorpimages800x600/city3.jpg" alt="img01">
                    <figcaption>
                        <h3>Camera</h3>
                        <span>Jacob Cummings</span>
                        <a ng-click="open('assets/imagegallery/citycorpimages800x600/city3.jpg')">Take a look</a>


                    </figcaption>
                </figure>
            </div>
        </div>
    </div>


    <div class="row imggall">
        <div class="col-md-6">
            <!--<div class="col-md-12">-->

            <div class="grid cs-style-1">

                <figure>
                    <img src="assets/imagegallery/citycorpimages800x600/city9.jpg" style="width: 100%;" alt="img01">
                    <figcaption>
                        <h3>Camera</h3>
                        <span>Jacob Cummings</span>
                        <a ng-click="open('assets/imagegallery/citycorpimages800x600/city9.jpg')">Take a look</a>


                    </figcaption>
                </figure>
            </div>
            <!--</div>-->
        </div>
        <div class="col-md-3">
            <!--<div class="col-md-6">-->

            <div class="grid cs-style-1">

                <figure>
                    <img src="assets/imagegallery/citycorpimages800x600/city9.jpg" alt="img01">
                    <figcaption>
                        <h3>Camera</h3>
                        <span>Jacob</span>
                        <a ng-click="open('assets/imagegallery/citycorpimages800x600/city9.jpg')">Take a look</a>


                    </figcaption>
                </figure>
            </div>
            <!--</div>-->
        </div>

        <div class="col-md-3">

            <div class="grid cs-style-1">

                <figure>
                    <img src="assets/imagegallery/citycorpimages800x600/city10.jpg" alt="img01">
                    <figcaption>
                        <h3>Camera</h3>
                        <span>Jacob Cummings</span>
                        <a ng-click="open('assets/imagegallery/citycorpimages800x600/city10.jpg')">Take a look</a>


                    </figcaption>
                </figure>
            </div>
        </div>


        <div class="col-md-3">

            <div class="grid cs-style-1">

                <figure style="margin-top: 4px;">
                    <img src="assets/imagegallery/citycorpimages800x600/city11.jpg" alt="img01">
                    <figcaption>
                        <h3>Camera</h3>
                        <span>Jacob Cummings</span>
                        <a ng-click="open('assets/imagegallery/citycorpimages800x600/city11.jpg')">Take a look</a>


                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="col-md-3">
            <!--<img class="img-thumbnail" ng-click="open('assets/imagegallery/citycorpimages800x600/city12.jpg')"-->
            <!--src="assets/imagegallery/citycorpimages800x600/city12.jpg"/>-->
            <div class="grid cs-style-1">

                <figure style="margin-top: 4px;">
                    <img src="assets/imagegallery/citycorpimages800x600/city12.jpg" alt="img01">
                    <figcaption>
                        <h3>Camera</h3>
                        <span>Jacob Cummings</span>
                        <a ng-click="open('assets/imagegallery/citycorpimages800x600/city12.jpg')">Take a look</a>


                    </figcaption>
                </figure>
            </div>
        </div>
    </div>


</div>


<!--</div>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<hr>
<style>
    .modal {
        top: 5em;;
    }

    .modal-backdrop.in {
        opacity: 0.8;
    }

    .modal-dialog {
        margin: 30px auto;
        width: 850px;
    }

    .modal-content {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        background-clip: padding-box;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 0;
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        outline: 0 none;
        position: relative;
    }

    .modal-footer {
        border-top: 0 solid #e5e5e5;
        margin-top: -25px;
        padding: 19px 20px 20px;
        text-align: center;
    }


</style>

<script type="text/ng-template" id="myModalContent.html">
    <!--<div class="modal-header">-->
    <!--&lt;!&ndash;<h3 class="modal-title">I'm a modal!</h3>&ndash;&gt;-->
    <!--</div>-->
    <div class="modal-body">
        <img class="img-thumbnail" src="{{items}}"/>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

</div>

<!--<script>-->
<!--$(function () {-->
<!--$('#content').sliphover({-->
<!--height: '50%',-->
<!--target: 'img-thumbnail',-->
<!--duration: 600,-->
<!--fontColor: '#d14',-->
<!--backgroundColor: '#f14'-->


<!--});-->
<!--console.log('working');-->
<!--})-->
<!--</script>-->


<!--test-->

