<div class="container-fluid" style="margin-top: 7em;padding: 0 5em;" ng-controller="ModalDemoCtrl">



    <div class="row imggall"  >
            <div class="col-md-3">
                <img class="img-thumbnail" ng-click="open('assets/imagegallery/citycorpimages800x600/city1.jpg')" src="assets/imagegallery/citycorpimages800x600/city1.jpg"/>
            </div>

            <div class="col-md-3">
                <img class="img-thumbnail" ng-click="open('assets/imagegallery/citycorpimages800x600/city2.jpg')" src="assets/imagegallery/citycorpimages800x600/city2.jpg"/>
            </div>
            <div class="col-md-3">
                <img class="img-thumbnail" ng-click="open('assets/imagegallery/citycorpimages800x600/city3.jpg')" src="assets/imagegallery/citycorpimages800x600/city3.jpg"/>
            </div>
            <div class="col-md-3">
                <img class="img-thumbnail" ng-click="open('assets/imagegallery/citycorpimages800x600/city4.jpg')" src="assets/imagegallery/citycorpimages800x600/city4.jpg"/>
            </div>
        </div>
    <div class="row imggall"  >
            <div class="col-md-3">
                <img class="img-thumbnail" ng-click="open('assets/imagegallery/citycorpimages800x600/city5.jpg')" src="assets/imagegallery/citycorpimages800x600/city5.jpg"/>
            </div>
            <div class="col-md-3">
                <img class="img-thumbnail" ng-click="open('assets/imagegallery/citycorpimages800x600/city6.jpg')" src="assets/imagegallery/citycorpimages800x600/city6.jpg"/>
            </div>
            <div class="col-md-3">
                <img class="img-thumbnail" ng-click="open('assets/imagegallery/citycorpimages800x600/city7.jpg')" src="assets/imagegallery/citycorpimages800x600/city7.jpg"/>
            </div>
            <div class="col-md-3">
                <img class="img-thumbnail" ng-click="open('assets/imagegallery/citycorpimages800x600/city8.jpg')" src="assets/imagegallery/citycorpimages800x600/city8.jpg"/>
            </div>
        </div>
    <div class="row imggall"  >
            <div class="col-md-3">
                <img class="img-thumbnail" ng-click="open('assets/imagegallery/citycorpimages800x600/city9.jpg')" src="assets/imagegallery/citycorpimages800x600/city9.jpg"/>
            </div>
            <div class="col-md-3">
                <img class="img-thumbnail" ng-click="open('assets/imagegallery/citycorpimages800x600/city10.jpg')" src="assets/imagegallery/citycorpimages800x600/city10.jpg"/>
            </div>
            <div class="col-md-3">
                <img class="img-thumbnail" ng-click="open('assets/imagegallery/citycorpimages800x600/city11.jpg')" src="assets/imagegallery/citycorpimages800x600/city11.jpg"/>
            </div>
            <div class="col-md-3">
                <img class="img-thumbnail" ng-click="open('assets/imagegallery/citycorpimages800x600/city12.jpg')" src="assets/imagegallery/citycorpimages800x600/city12.jpg"/>
            </div>
        </div>
    <div class="row imggall"  >
            <div class="col-md-3">
                <img class="img-thumbnail" ng-click="open('assets/imagegallery/citycorpimages800x600/city13.jpg')" src="assets/imagegallery/citycorpimages800x600/city13.jpg"/>
            </div>
            <div class="col-md-3">
                <img class="img-thumbnail" ng-click="open('assets/imagegallery/citycorpimages800x600/city14.jpg')" src="assets/imagegallery/citycorpimages800x600/city14.jpg"/>
            </div>
            <div class="col-md-3">
                <img class="img-thumbnail" ng-click="open('assets/imagegallery/citycorpimages800x600/city15.jpg')" src="assets/imagegallery/citycorpimages800x600/city15.jpg"/>
            </div><div class="col-md-3">
            <img class="img-thumbnail" ng-click="open('assets/imagegallery/citycorpimages800x600/city16.jpg')" src="assets/imagegallery/citycorpimages800x600/city16.jpg"/>
        </div>




    </div>


    <hr>
<style>
    .modal{
        top: 5em;;
    }
</style>

    <script type="text/ng-template" id="myModalContent.html">
        <!--<div class="modal-header">-->
            <!--&lt;!&ndash;<h3 class="modal-title">I'm a modal!</h3>&ndash;&gt;-->
        <!--</div>-->
        <div class="modal-body">
            <img class="img-thumbnail"  src="{{items}}"/>

        </div>
        <div class="modal-footer">
             <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

</div>


